<div style="margin-bottom:40px;">
  <table cellpadding="0" cellspacing="0" width="100%">

    <tr>
      <td>
        <% if @company.attachments.any? -%>
          <% if @is_pdf %>
            <% if @debug %>
              <%= tag 'img', :src => "/invoices/logo/#{@company.attachments.first.id}/#{@company.attachments.first.filename}", :alt => "#{@company.name} Logo", :style=>"margin-right: 40px;" -%>
            <% else %>
              <%= tag 'img', :src => @company.attachments.first.diskfile, :style=>"margin-right: 40px;" -%>
            <% end -%>
          <% else %>
            <%= tag 'img', :src => "/invoices/logo/#{@company.attachments.first.id}/#{@company.attachments.first.filename}", :alt => "#{@company.name} Logo", :style=>"margin-right: 40px;" -%>
          <% end -%>
        <% end -%>
      </td>

      <td style="vertical-align:bottom">
        <p style="margin-bottom: 0;"><b><%= l(:label_quote).upcase %></b></p>
        <p style="margin-bottom: 0; font-size: x-large;"><b><%= @invoice.title %></b></p>
      </td>

      <td style="text-align: right;">
        <div>
          <h3><%=h @company.name %></h3>
          <address class="adr">
            <div class="street-address"><%=h @company.address %></div>
            <span class="postal-code"><%=h @company.postalcode %></span> <span class="locality"><%=h @company.city %></span>
            <div class="region"><%=h @company.province %></div>
            <div class="country-name"></div>
          </address>
          <div><strong><%=h l(:field_taxcode) %></strong><span class="tax-id"> <%=h @company.taxcode %></span></div>
          <div style="height:10px;"></div>
          <div><%= @company.website %></div>
          <div><%= @company.email %></div>
        </div>
      </td>

    </tr>
  </table>
</div>

<table style="float: right;">
  <tr>
    <td><%=h l(:field_date)%>:</td>
    <td><%=h format_date @invoice.date %></td>
  </tr>
  <tr>
    <td style="text-align: right;"><%=h l(:field_number)%>:</td>
    <td style="text-align: right;"><%= @invoice.number %></td>
  </tr>
</table>
<div style="clear: right;"></div>

<p><%= @invoice.description %></p>

<div style="margin-bottom: 50px;"></div>

<table width="100%" class="line-items" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th class="item-quantity first"><abbr title="Quantitat">Q</abbr></th>
      <th class="item-description"><%=h l(:field_description)%></th>
      <th class="item-price"><%=h l(:field_amount) %></th>
      <th class="line-total last"><%=h l(:label_invoice_total)%></th>
    </tr>

    <% @lines.each do |line| -%>
      <tr>
        <td class="item-quantity first"><%=h quantity(line.quantity) %> <%=h line.unit_short%></td>
        <td class="item-description"><%=h line.description %></td>
        <td class="item-price"><%=h line_price(line) %></td>
        <td class="line-total last"><%=h money(Haltr::Utils.to_money(line.total_cost, @invoice.currency, @invoice.company.rounding_method)) %></td>
      </tr>
    <% end -%>

    <% if @invoice.discount_percent and @invoice.discount_percent > 0 -%>
      <tr style="border-top: 1px solid #000;">
        <td class="item-quantity first"></td>
        <td class="item-description"><%=h @invoice.discount_text %></td>
        <td class="item-price"><%=h number_to_percentage(@invoice.discount_percent, :precision=>0) %></td>
        <td class="line-total last">- <%=h money(@invoice.discount_amount) %></td>
      </tr>
    <% end -%>

    <% if @invoice.charge_amount.cents > 0 -%>
      <tr style="border-top: 1px solid #000;">
        <td class="item-quantity first"></td>
        <td class="item-description"><%=h @invoice.charge_reason %></td>
        <td class="item-price"></td>
        <td class="line-total last"><%=h money(@invoice.charge_amount) %></td>
      </tr>
    <% end -%>

  </tbody>
</table>

<!-- Totals Details -->
<table class="invoice-calculations" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <% if @invoice.taxes_uniq.any? -%>
      <tr class="invoice-subtotal">
        <th><%=h l(:label_subtotal)%>:</th>
        <td><%=h money(@invoice.subtotal) %></td>
      </tr>
    <% end -%>
    <% @invoice.taxes_uniq.each do |tax| -%>
      <tr class="sales-tax">
        <th><%= h tax_name(tax) %> <%= " #{l(:over_taxable_base)} #{money(@invoice.taxable_base(tax))}" unless @invoice.tax_applies_to_all_lines?(tax) %>:</th>
        <td><%= h money(@invoice.tax_amount(tax)) %></td>
      </tr>
    <% end -%>
    <tr class="invoice-total">
      <th><%=h l(:label_invoice_total)%>:</th>
      <td><%=h money(@invoice.total) %></td>
    </tr>
  </tbody>
</table>

<div style="margin-bottom: 40px;">
</div>

<% unless @invoice.taxes_uniq.any? -%>
  <div style="float:right;">
    <p><i>Precios sin IVA.</i></p>
  </div>
  <div style="clear: right;"></div>
<% end -%>

<% if !@invoice.extra_info.blank? or
     @invoice.taxes.collect {|t| t if t.exempt? and !t.comment.blank? }.compact.any? -%>
  <div class="notes">
    <h3><%=h l(:field_extra_info)%></h3>
    <% unless @invoice.extra_info.blank? -%>
      <span class="invoice-terms"><%= simple_format(h @invoice.extra_info) %></span>
    <% end -%>
    <% @invoice.taxes_uniq.each do |t| -%>
      <% next unless t.exempt? and !t.comment.blank? -%>
      <span class="invoice-terms"><%= simple_format(h "#{tax_name(t)}: #{t.comment}") %></span>
    <% end -%><br/>
  </div>
<% end -%>

<table width="100%">
  <thead>
    <tr>
      <td height="170px;">
        <p style="font-weight: 400;"><%= @company.name %></p>
      </td>

      <td>
        <p align="right" style="font-weight: 400;"><%= l(:quote_acceptance) %></p>
      </td>
    </tr>
  </thead>
</table>
