<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to_if_authorized l("label_quote_new"), new_project_quote_path(@project), :class => 'icon icon-add' %></li>
      <li><%= link_to_if_authorized l(:button_edit), { :action => 'edit', :id => @invoice }, :class => 'icon icon-edit' %></li>
      <li><%= link_to_if_authorized l(:button_delete), { :action => 'destroy', :id => @invoice}, :data=>{:confirm=>l(:text_are_you_sure)}, :method=>:delete, :class=>'icon icon-del' %></li>
      <li><%= link_to_if_authorized "PDF", { :action => 'show', :id => @invoice, :format => 'pdf'}, :class=>'icon-haltr-save' %></li>
      <li><%= link_to_if_authorized l(:accept_quote), accept_quote_path(@invoice) %></li>
      <li><%= link_to_if_authorized l(:refuse_quote), refuse_quote_path(@invoice) %></li>
      <li><%= send_link_for_quote %></li>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<div id="invoice_wrapper">
  <div class="ribbon ribbon-<%= @invoice.state %>">
    <span><%=h l("state_#{@invoice.state}").capitalize %></span>
  </div>
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">

        <%= render :partial=>'quote' %>

      </div>
    </div>
  </div>
</div>

<%= render :partial => 'events/list', locals: {events: @invoice.visible_events} %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal?v=2', :plugin => 'haltr' %>
<% end %>
