<div class="clearfix">
<div class="pull-left">
  <h2>
    <%= link_to "", index_url_helper, class: 'fa fa-long-arrow-left fa-big fa-left', aria: { hidden: true } %>
    <%= "#{l :label_quote} #{@invoice.number}" %>
  </h2>
</div>
</div>

<!--menu rapid-->
<div class="wrapper-default">
  <div class="row">
    <div class="col-xs-10">
      <ul class="list-inline fast-menu">
        <li><%= link_to_if_authorized l(:button_edit), {action: 'edit', id: @invoice}, class: 'icon-fa icon-fa-pencil' %></li>
        <li><%= link_to_if_authorized l(:button_delete), { action: 'destroy', id: @invoice}, data: {confirm: l(:text_are_you_sure)}, method: :delete, class: 'icon-fa icon-fa-trash' %></li>
        <li><%= link_to_if_authorized "PDF", { action: 'show', id: @invoice, format: 'pdf'}, class: 'icon-fa fa-file-pdf-o' %></li>
        <li><%= link_to_if_authorized l(:accept_quote), accept_quote_path(@invoice), class: 'icon-fa fa-thumbs-o-up' %></li>
        <li><%= link_to_if_authorized l(:refuse_quote), refuse_quote_path(@invoice), class: 'icon-fa fa-thumbs-o-down' %></li>
        <li><%= send_link_for_quote %></li>
      </ul>
    </div>
  </div>
</div>
<!--final menu rapid-->


<div id="invoice_wrapper">
  <div class="ribbon ribbon-<%= @invoice.state %>">
    <span><%=h l("state_#{@invoice.state}").capitalize %></span>
  </div>
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">

        <%= render partial: 'quote' %>

      </div>
    </div>
  </div>
</div>

<%= render partial: 'events/list', locals: {events: @invoice.visible_events} %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal?v=2', plugin: 'haltr' %>
<% end %>
