<h3><%= l :label_client_offices %> <%= link_to(@client.name, client_path(@client)) if @client %></h3>
<% if @client -%>
  <%= link_to_if_authorized l(:label_client_office_new), new_client_client_office_path(@client), class: 'icon icon-add' %>
<% end -%>

<!--filtres-->
<%= form_tag({}, method: :get, class: 'formee') do %>
  <div class="titularAcc">
    <div class="row">
      <div class="col-xs-6 pad-top-7">
        <%= l :label_filter_plural %>
      </div>
      <div class="col-xs-6 text-right form-inline">
        <%= text_field_tag 'name', params[:name], class: 'form-control' %>
        <%= button_tag(content_tag('i', '', class: 'fa fa-search', 'aria-hidden' => 'true'), class: "btn btn-search", name: nil, type: :submit) %>
      </div>
    </div>
  </div>
<% end %>
<!--final filtres-->

<!--taula-->
<div class="wrapper-table bg-white">
  <table class="table table-striped">
    <thead>
      <tr>
        <%= sort_header_tag(:name, caption: l(:field_name)) %>
        <%= sort_header_tag(:city, caption: l(:field_city)) %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @client_offices.each do |office| -%>
        <tr>
          <td><%=h office.name %></td>
          <td><%=h office.city %></td>
          <td><%= link_to_if_authorized l(:button_edit), edit_client_client_office_path(office.client, office), class: 'icon icon-edit editar' %></td>
          <td><%= link_to_if_authorized l(:button_delete), {action: 'destroy', client_id: office.client_id, id: office}, data: {confirm: l(:text_are_you_sure)}, method: :delete, class: 'icon icon-del eliminar' %></td>
        </tr>
      <% end -%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"></td>
      </tr>
    </tfoot>
  </table>
  <!--final taula-->


  <!--paginacio-->
  <div class="wrapper-pagination-results">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-5">
        <%= pagination_links_full @client_office_pages, @client_office_count, per_page_links: false %>
      </div>
      <div class="col-xs-3 text-right">
        <form class="form-inline">
          <label for="sel-results"><%= l :button_show %></label>
          <%= select_tag('sel-results', options_for_select(Setting.per_page_options_array, selected: params[:per_page]), class: 'form-control') %>
        </form>
      </div>
    </div>
  </div>
  <!--final paginacio-->

</div>

<% html_title(l(:label_client_offices)) -%>

<% content_for :sidebar do %>
  <%= render_menu :companies_menu, @project %>
<% end %>

