<div class="nested-fields">
<table class="table">

  <tr>
    <th class="w12p"><%= l(:tag_subtotal) %></th>
    <td colspan="3">
    <%= f.text_field :price, value: f.object.price.to_s.gsub(/\.0+$/,''), class: 'form-control' %>
      <%= f.hidden_field :quantity, value: 1 %>
      <%= f.hidden_field :tax_id, value: f.object.taxes.where(name: 'IVA').first.id rescue '' %>
      <%= f.hidden_field :tax_wh_id, value: f.object.taxes.where(name: 'IRPF').first.id rescue '' %>
      <!-- cocoon -->
      <%= link_to_remove_association '', f, class: 'eliminar' %>
    </td>
  </tr>

  <tr>
    <th>IVA</th>
    <td class="w25p">
      <div class="input-group">
        <%= f.text_field :tax_percent, class: 'form-control' %>
        <span class="input-group-addon">%</span>
      </div>
    </td>
    <td class="w25p">
      <div class="input-group">
        <%= f.text_field :tax_import, class: 'form-control' %>
        <span class="input-group-addon">€</span>
      </div>
    </td>
    <td><%= f.select :tax_category, Tax.categories, {include_blank: true}, class: 'form-control' %></td>
  </tr>

  <tr>
    <th>IRPF</th>
    <td>
      <div class="input-group">
        <%= f.text_field :tax_wh_percent, class: 'form-control' %>
        <span class="input-group-addon">%</span>
      </div>
    </td>
    <td>
      <div class="input-group">
        <%= f.text_field :tax_wh_import, class: 'form-control' %>
        <span class="input-group-addon">€</span>
      </div>
    </td>
    <td><%= f.select :tax_wh_category, Tax.categories, {include_blank: true}, class: 'form-control' %></td>
  </tr>

</table>

<hr/>
</div>
