<%= error_messages_for 'person' %>

<fieldset class="tabular box">
  <legend><%=l(@person.new_record? ? :label_person_new : :label_person)%></legend>

  <p>
  <%= @person.new_record? ? @client.name : @person.client.name %>
  </p>

  <div class="seccio grup">
    <p class="col span-1-de-2">
      <%= f.text_field :first_name, :required => true %>
    </p>
    <p class="col span-1-de-2">
      <%= f.text_field :last_name, :required => true %>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-2">
      <%= f.text_field :email, :required => false %>
    </p>
    <p class="col span-1-de-2">
      <%= f.check_box  :send_invoices_by_mail%>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-2">
      <%= f.text_field :phone_office %>
    </p>
    <p class="col span-1-de-2">
      <%= f.text_field :phone_mobile %>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_area :info, :rows=>8, :cols=>100 %>
    </p>
  </div>


</fieldset>
