<% if @client %>
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li>
      <%= link_to l(:label_person_new), new_client_person_path(@client), :class => 'icon icon-add' %>
      </li>
    </ul>
  </div>
</div>
<%end%>

<!--filtres-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <div class="filtres">
      <div class="titularAcc">
        <%= l(:label_filter_plural) %>
      </div>
      <div class="contingutAcc">
        <form class="formee">
          <fieldset>
            <legend><%=l(:label_search)%></legend>

            <%= form_tag({}, :method => :get) do %>
              <div class="seccio grup">
                <div class="col span-1-de-2">
                  <%= text_field_tag 'name', params[:name] %>
                </div>
              </div>
              <div class="seccio grup">
                <div class="col span-2-de-2">
                  <%= submit_tag l(:button_apply), :name => nil %>
                </div>
              </div>
            <% end %>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!--final filtres-->


<!--taula-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <table class="taula-1">
      <thead>
        <tr>
          <%= sort_header_tag('first_name', :caption => l(:field_first_name)) %>
          <%= sort_header_tag('last_name', :caption => l(:field_last_name)) %>
          <%= sort_header_tag('email', :caption => l(:field_email)) %>
          <th style="width:10%"></th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <% for person in @people -%>
          <tr class="user <%= cycle("odd", "even") %>" />
            <td><%=h person.first_name %></td>
            <td><%=h person.last_name %></td>
            <td><%=h person.email %></td>
            <td align="center"><%= link_to l(:button_edit), {:action=>'edit',:id=>person}, :class => 'icon icon-edit' %></td>
            <td align="center"><%= link_to l(:button_delete), {:action=>'destroy',:id=>person} , :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %></td>
          </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--final taula-->

<!--paginacio-->
<div class="seccio grup">
  <%= pagination_links_full @person_pages, @person_count %>
</div>
<!--final paginacio-->


<% html_title(l(:button_people)) -%>

<% content_for :sidebar do %>
  <%= render_menu :companies_menu, @project %>
<% end %>
