<div class="row">
<div class="col-xs-6">
  <% if @client -%>
    <h2> <%= link_to(@client.name, client_path(@client)) %></h2>
  <% else -%>
    <h2><%= l :label_person_plural %></h2>
  <% end -%>
</div>
<% if @client %>
  <div class="col-xs-6 text-right">
    <ul class="list-inline fast-menu">
      <li><%= link_to_if_authorized l(:label_person_new), new_client_person_path(@client), :class => 'icon-fa icon-fa-fw icon-fa-file btn btn-default' %></li>
    </ul>
  </div>
<% end %>
</div>

<!--filtres-->
<%= form_tag({}, method: :get, class: 'formee') do %>
  <div class="titularAcc">
    <div class="row">
      <div class="col-xs-6 pad-top-7">
        <%= l :label_filter_plural %>
      </div>
      <div class="col-xs-6 text-right form-inline">
        <%= text_field_tag 'name', params[:name], class: 'form-control' %>
        <%= button_tag(content_tag('i', '', class: 'fa fa-search', 'aria-hidden' => 'true'), class: "btn btn-search", name: nil, type: :submit) %>
      </div>
    </div>
  </div>
<% end %>
<!--final filtres-->

<!--taula-->
<div class="wrapper-table bg-white">
  <table class="table table-striped">
    <thead>
      <tr>
        <%= sort_header_tag('first_name', caption: l(:field_first_name)) %>
        <%= sort_header_tag('last_name', caption: l(:field_last_name)) %>
        <%= sort_header_tag('email', caption: l(:field_email)) %>
        <th><%= l(:label_phone) %></th>
        <% if @client == nil %> <th><%= l(:label_company) %></th> <% end %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for person in @people -%>
        <tr>
          <td><%=h person.first_name %></td>
          <td><%=h person.last_name %></td>
          <td><%=h person.email %></td>
          <td><%=h person.phone %></td>
          <% if @client == nil %> <td><%=h person.client %></td> <% end %>
          <td align="center"><%= link_to_if_authorized l(:button_edit), {action: 'edit', id: person, client_id: @client}, class: 'icon icon-edit editar' %></td>
          <td align="center"><%= link_to_if_authorized l(:button_delete), {action: 'destroy', id: person} , data: {confirm: l(:text_are_you_sure)}, method: :delete, class: 'icon icon-del eliminar' %></td>
        </tr>
      <% end -%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="<%= @client.nil? ? '7' : '6' %>"></td>
      </tr>
    </tfoot>
  </table>
  <!--final taula-->

  <%= render partial: 'common/pagination', locals: {pages: @person_pages, count: @person_count} %>

</div>


<% html_title(l(:button_people)) -%>

<% content_for :sidebar do %>
  <%= render_menu :companies_menu, @project %>
<% end %>
