<h1><%=@person.first_name%> <%=@person.last_name%></h1>

<div class="box">
  <p><%= l(:field_email) %>: <%= @person.email %></p>
  <p><%= l(:field_phone_office) %>: <%= @person.phone_office %></p>
  <p><%= l(:field_phone_mobile) %>: <%= @person.phone_mobile %></p>
  <p><%= l(:field_invoice_recipient) %>: <%= @person.invoice_recipient %></p>
  <p><%= l(:field_report_recipient) %>: <%= @person.report_recipient %></p>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'common/sidebar' %>
<% end %>
