<label for="invoice_client_id"><%= l(:field_client) %>
<% unless @invoice.is_a? Quote -%>
  <span class="required"> *</span>
<% end -%>
</label>
<%= select :invoice,
  :client_id,
  clients_for_select,
  { :selected => selected, :include_blank => true },
  :data => { :remote => true,
             :url => url_for(project_invoices_update_payment_stuff_path(@project, invoice_id: (@invoice ? @invoice.id : nil))) },
  :class => "formee-medium" %>
<span id="send_info"><%= l(:transport) %>:
  <span id="invoice_format">
    <% if @client -%>
      <%= ExportChannels.l(@client.invoice_format) %>
    <% end -%>
  </span>
</span>
<span class="mes">
  <%=link_to_function(l(:label_company_new),"$('#new_client_wrapper').show();")%>
</span>
