<label for="invoice_client_id"><%= l(:field_client) %><span class="required"> *</span></label>
<%= select :invoice,
  :client_id,
  clients_for_select,
  { :selected => selected, :include_blank => true },
  :data => { :remote => true,
             :url => url_for(project_invoices_update_payment_stuff_path(@project, invoice_id: (@invoice ? @invoice.id : nil))) },
  :class => "formee-medium" %>
<% if @client -%>
<span id="send_info"><%= l(:transport) %>:
  <span id="invoice_format"><%= ExportChannels.l(@client.invoice_format) %></span>
</span>
<% end -%>
<span class="mes">
  <%=link_to_function(l(:label_company_new),"$('#new_client_wrapper').show();")%>
</span>
