<!-- Vendor Info -->
<div class="vendor-info">
  <% if @invoice.is_a?(Quote) and !@invoice.description.blank? -%>
    <h2><%=@invoice.description%></h2>
  <% end -%>
  <h3><%=h @company.name %></h3>
  <address class="adr">
    <div class="street-address"><%=h @company.address %></div>
    <span class="postal-code"><%=h @company.postalcode %></span> <span class="locality"><%=h @company.city %></span>
    <div class="region"><%=h @company.province %></div>
    <div class="country-name"></div>
  </address>
  <div><strong><%=h l(:field_taxcode) %></strong><span class="tax-id"> <%=h @company.taxcode %></span></div>
  <div style="height:10px;"></div>
  <div><%= @company.website %></div>
  <div><%= @company.email %></div>
  <% if @invoice.party_identification.present? -%>
    <div>
      <%= t(:field_party_identification) %>: <%= @invoice.party_identification %>
    </div>
  <% end -%>
</div>
