<!-- Vendor Info -->
<div class="vendor-info">
  <strong><%=h @company.name %></strong>
  <address class="adr">
    <div class="street-address"><%=h @company.address %></div>
    <span class="postal-code"><%=h @company.postalcode %></span> <span class="locality"><%=h @company.city %></span>
    <div class="region"><%=h @company.province %></div>
    <div class="country-name"></div>
  </address>
  <p><%=h l(:field_taxcode) %><span class="tax-id"> <%=h @company.taxcode %></span></p>
  <div><%= @company.website %></div>
  <div><%= @invoice.from_email %></div>
  <% if @invoice.party_identification.present? -%>
    <div>
      <%= t(:field_party_identification) %>: <%= @invoice.party_identification %>
    </div>
  <% end -%>
</div>
