<% required_field = required_field_span(%w(organ_gestor oficina_comptable unitat_tramitadora).include?(role.to_s) ? 'dir3' : role) -%>

<div class="form-group">
<%= label_tag "invoice_#{role}", class: 'col-xs-3 control-label' do %>
  <%= l(role) %><%= required_field %>
<% end -%>

<div class="col-xs-6">
  <% if @external_company and @external_company.send("dir3_#{role.pluralize}").any? -%>

    <% opts_hash = (@external_company.send("dir3_#{role.pluralize}").size > 1) ? {include_blank: '--'} : {} -%>

    <% if @invoice.nil? or (@external_company.send("dir3_#{role.pluralize}").collect {|d3e| d3e.code }.include?(@invoice.send(role)) or @invoice.send(role).blank?) -%>
      <% has_custom_value = false -%>
      <%= select(:invoice, role, dir3_for_select(@external_company.send("dir3_#{role.pluralize}")), opts_hash, { class: "form-control#{ ' form-required' if required_field.present?}" }) %>
      <%= text_field :invoice, role, style: 'display: none;', disabled: true, class: "form-control#{ ' form-required' if required_field.present?}" %>
    <% else -%>
      <% has_custom_value = true -%>
      <%= select(:invoice, role, dir3_for_select(@external_company.send("dir3_#{role.pluralize}")), opts_hash, { style: 'display: none;', disabled: true, class: "form-control#{ ' form-required' if required_field.present?}" }) %>
      <%= text_field :invoice, role, class: "form-control#{ ' form-required' if required_field.present?}" %>
    <% end-%>


  <% else -%>

    <%= text_field :invoice, role, class: 'form-control' %>

  <% end -%>
</div>

<div class="col-xs-3">
  <%= select_to_edit(role, has_custom_value) %>
</div>

</div>
