<%= error_messages_for 'invoice' %>
<%= error_messages_for 'client' %>
<%= f.hidden_field :quote_id %>

<fieldset class="tabular box">
  <legend><%=l(:invoice_data)%></legend>

  <% if @to_amend -%>
    <div class="seccio grup">
      <p class="col span-1-de-2">
      <span>
        <span><%= l(:amended_invoice, link: @to_amend.number) %> (<%= l("amend_#{@amend_type}") %>)</span><br />
        <span><%= l(:client) %>:
          <span><%= @invoice.client %></span>
        </span>
      </span>
      <%= hidden_field_tag 'amend_type', @amend_type %>
      <%= hidden_field_tag 'to_amend', @to_amend.id %>
      <%= f.hidden_field 'client_id', value: @invoice.client_id %>
      </p>
      <% if @amend_type == 'partial' -%>
        <p class="col span-1-de-2">
        <% if ExportChannels.format(@invoice.client.invoice_format) =~ /^facturae/ -%>
          <%= f.select :amend_reason, Invoice.amend_reason_codes.collect {|code| [l("amend_reason_#{code}"), code] } %>
        <% else -%>
          <%= f.text_field :amend_reason %>
        <% end -%>
        </p>
      <% end -%>
    </div>

  <% else -%>

    <div class="seccio grup">
      <p class="col span-2-de-2" id="client_select">
      <%= render :partial=>'invoices/clients',
        :locals => { :selected => @created_client || @invoice.client_id } %>
    </p>
    </div>
  <% end -%>

  <div class="seccio grup">
    <p class="col span-2-de-6">
      <%= f.text_field :date, :size => 10, :required => true %><%= calendar_for('invoice_date') %>
    </p>
    <p class="col span-<%= (@invoice.is_amend? || @invoice.series_code.present? || User.current.allowed_to?(:view_invoice_extra_fields, @project)) ? '1' : '2' %>-de-6">
      <% if controller.controller_name == "invoice_templates" -%>
        <%= f.select :frequency, frequencies_for_select, :required => true %>
      <% else -%>
        <%= f.text_field :number, :size => 10, :required => true, :label => l(:field_invoice_number) %> <span class="text"><%= "#{l(:label_last_invoice_number)}: #{IssuedInvoice.last_number(@project)}" if @project.issued_invoices.any?%></span>
      <% end -%>
    </p>
    <% if @invoice.is_amend? || @invoice.series_code.present? || User.current.allowed_to?(:view_invoice_extra_fields, @project) -%>
      <p class="col span-1-de-6">
      <%= f.text_field :series_code %>
      </p>
    <% end -%>
    <p class="col span-2-de-6">
    <%= label_tag :invoice_ponumber do -%>
      <%= l(:field_ponumber) %>
      <%= required_field_span 'ponumber' %>
    <% end -%>
      <%= f.text_field :ponumber, no_label: true %>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-3">
    <%= label_tag :invoice_delivery_note_number do -%>
      <%= l(:field_delivery_note_number) %>
      <%= required_field_span 'delivery_note_number' %>
    <% end -%>
      <%= f.text_field :delivery_note_number, no_label: true %>
    </p>

    <% if @invoice.invoicing_period_start || @invoice.invoicing_period_end || User.current.allowed_to?(:view_invoice_extra_fields, @project) -%>
      <p class="col span-1-de-3">
      <%= f.text_field :invoicing_period_start, :size => 10 %><%= calendar_for('invoice_invoicing_period_start') %>
      </p>
      <p class="col span-1-de-3">
      <%= f.text_field :invoicing_period_end, :size => 10 %><%= calendar_for('invoice_invoicing_period_end') %>
      </p>
    <% end -%>
  </div>

  <div id="payment_stuff">
    <%= render :partial => 'invoices/payment_stuff' %>
  </div>

  <div class="seccio grup">
    <p class="col span-3-de-3">
    <%= f.text_area :extra_info, :rows=>3 %>
    </p>
  </div>

</fieldset>

<fieldset class="tabular box">
  <legend class="titularAcc"><%= l(:label_discounts_and_charges) %></legend>
  <div class="contingutAcc">

    <div class="seccio grup">
      <p class="col span-1-de-3">
      <%= f.text_field :discount_text %>
      </p>
      <p class="col span-1-de-3">
      <%= f.text_field :discount_percent %>
      </p>
      <p class="col span-1-de-3">
      <%= f.text_field :discount_helper %>
      </p>
    </div>

    <div class="seccio grup">
      <p class="col span-1-de-3">
      <%= f.text_field :charge_reason %>
      </p>
      <p class="col span-1-de-3">
      <%= f.text_field :charge_amount, :value => (@invoice.charge_amount.cents > 0 ? @invoice.charge_amount : "") %>
      </p>
      <p class="col span-1-de-3">
      <%= f.text_field :accounting_cost %>
      </p>
    </div>

    <% if User.current.allowed_to?(:view_invoice_extra_fields, @project) -%>
      <div class="seccio grup">
        <p class="col span-1-de-3">
        <%= f.text_field :client_email_override %>
        </p>
      </div>
    <% end -%>

  </div>
</fieldset>

<% if User.current.allowed_to?(:view_invoice_extra_fields, @project) or @invoice.has_factoring_data? -%>
  <fieldset class="tabular box">
    <legend class="titularAcc"><%= l(:label_factoring_assignment_data) %></legend>
    <div class="contingutAcc">

      <div class="seccio grup">
        <p class="col span-1-de-4">
        <%= f.text_field :fa_name %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_taxcode %>
        </p>
        <p class="col span-1-de-4">
        <%= f.label_for_field :fa_person_type %>
        <%= f.radio_button :fa_person_type, 'J' %> J
        <%= f.radio_button :fa_person_type, 'F' %> F
        </p>
        <p class="col span-1-de-4">
        <%= f.label_for_field :fa_residence_type %>
        <%= f.radio_button :fa_residence_type, 'E' %> E
        <%= f.radio_button :fa_residence_type, 'R' %> R
        <%= f.radio_button :fa_residence_type, 'U' %> U
        </p>
      </div>

      <div class="seccio grup">
        <p class="col span-1-de-4">
        <%= f.text_field :fa_address %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_postcode %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_town %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_province %>
        </p>
      </div>

      <div class="seccio grup">
        <p class="col span-1-de-4">
        <%= f.label_for_field :fa_country %>
        <%= f.iso_country_select :fa_country, [:es] %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_info %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_duedate, :size => 10 %><%= calendar_for('invoice_fa_duedate') %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_import %>
        </p>
      </div>

      <div class="seccio grup">
        <p class="col span-2-de-4">
        <%= f.text_field :fa_iban %>
        </p>
        <p class="col span-1-de-4">
        <%= f.text_field :fa_bank_code %>
        </p>
        <p class="col span-1-de-4">
        <%= f.select(:fa_payment_method,
                     (1..19).collect {|i| [I18n.t("fa_payment_method_#{i.to_s.rjust(2,'0')}"), i.to_s.rjust(2,'0')] },
                     include_blank: true) %>
        </p>
      </div>

      <div class="seccio grup">
        <p class="col span-1-de-1">
        <%= f.text_area :fa_clauses %>
        </p>
      </div>
    </div>
  </fieldset>
<% end -%>

<fieldset class="tabular box">
  <legend class="titularAcc"><%= l(:label_tax_plural) %></legend>
  <div class="contingutAcc">

    <% if @invoice.taxes_hash.empty? -%>
      <%= link_to_if_authorized l(:add_taxes_on_company), project_my_company_path(@project) -%>
    <% end -%>

    <% @invoice.taxes_hash.keys.sort.each do |name| -%>
      <div class="seccio grup">
        <p class="col span-1-de-5">
        <%= label_tag "#{name}_global", name%>
        <%= select_tag("#{name}_global",
                       options_for_select(tax_categories_array(@invoice,name),
                                          :selected => @invoice.global_code_for(name)),
                       :disabled => @invoice.tax_per_line?(name),
                       :style => "width: 90px;",
                       'class' => 'global_tax',
                       'data-tax-name' => name ) %>
      </p>
      <p class="col span-1-de-5 check-box-alineat">
      <%= check_box_tag("#{name}_multiple", 1, @invoice.tax_per_line?(name), :class => 'global_tax_check', 'data-tax-name' => name) %>
      <span>
        <%= l(:line_specific_tax) %>
      </span>
      </p>
      <p id="<%=name%>_comment" style="<%= hide_if_not_exempt_tax(name) %>" class="col span-3-de-5">
      <%= label_tag "#{name}_comment", l("field_comment") %>
      <%= text_field_tag("#{name}_comment", @invoice.global_comment_for(name)) %>
      </p>
      </div>
    <% end -%>

  </div>
</fieldset>


<fieldset class="tabular box">
  <legend><%=l(:field_invoice_lines)%></legend>
  <div id="invoice_lines" data-tax-names="<%= @project.company.tax_names.join(' ') %>">
    <%= f.fields_for :invoice_lines do |line_form| %>
      <%=  render :partial => 'invoice_line_fields', :locals => { :f => line_form } %>
    <% end %>
  </div>
  <div class="seccio grup">
    <p class="col span-2-de-2">
      <!-- cocoon -->
      <span class='mes'><%= link_to_add_association l(:button_add_invoice_line), f, :invoice_lines, 'data-association-insertion-node' => '#invoice_lines', 'data-association-insertion-method' => 'append' %></span>
    </p>
  </div>
</fieldset>

<fieldset class="tabular box">
  <legend><%=l(:label_file_plural)%></legend>
  <p><%=l(:invoice_attachments_description, mb: (Setting.attachment_max_size.to_i / 1024))%></p>
  <% if User.current.allowed_to?(:use_invoice_attachments, @project) -%>
    <%= link_to_attachments @invoice, thumbnails: false, author: false %>
    <%= render :partial => 'attachments/form', :locals => {:container => @invoice} %>
  <% else %>
    <p class="warning"><%= l(:invoice_attachments_permission) %></p>
  <%- end %>
</fieldset>
