<%= error_messages_for 'invoice' %>

<fieldset>
  <legend><%=l(:invoice_data)%></legend>

  <div class="seccio grup">
    <div class="col span-2-de-2">
      <span id="client_select"><%= render :partial=>'invoices/clients', :locals=>{:selected=>@invoice.client_id} %></span>
    </div>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-3">
      <%= f.text_field :date, :size => 10, :required => true %><%= calendar_for('invoice_date') %>
    </div>
    <div class="col span-1-de-3">
      <% if controller.controller_name == "invoice_templates" -%>
        <%= f.select :frequency, frequencies_for_select, :required => true %>
      <% else -%>
        <%= f.text_field :number, :size => 10, :required => true %> <span class="text"><%= "#{l(:label_last_invoice_number)}: #{IssuedInvoice.last_number(@project)}" if IssuedInvoice.all.any?%></span>
      <% end -%>
    </div>
    <div class="col span-1-de-3">
      <%= f.text_field :ponumber %>
    </div>
  </div>

  <div id="payment_stuff">
    <%= render :partial => 'invoices/payment_stuff' %>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <%= f.text_field :discount_text %>
    </div>
    <div class="col span-1-de-2">
      <%= f.text_field :discount_percent %>
    </div>
  </div>


  <div class="seccio grup">
    <div class="col span-1-de-2">
      <%= f.text_field :charge_amount, :value => (@invoice.charge_amount.cents > 0 ? @invoice.charge_amount : "") %>
    </div>
    <div class="col span-1-de-2">
      <%= f.text_field :charge_reason %>
    </div>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <%= f.text_field :accounting_cost %>
    </div>
  </div>


  <div class="seccio grup">
    <div class="col span-2-de-2">
      <%= f.text_area :extra_info, :rows=>3 %>
    </div>
  </div>

</fieldset>


<fieldset>
  <legend><%=l(:label_tax_plural)%></legend>

  <% if @invoice.taxes_hash.empty? -%>
    <%= link_to l(:add_taxes_on_company), :controller => 'companies', :id => @project -%>
  <% end -%>

  <% @invoice.taxes_hash.keys.sort.each do |name| -%>
    <div class="seccio grup">
      <div class="col span-1-de-5">
        <%= label_tag "#{name}_global", name%>
        <span>
          <%= select_tag("#{name}_global",
                         options_for_select(tax_categories_array(@invoice,name),
                         :selected => @invoice.global_code_for(name)),
                         :disabled => @invoice.tax_per_line?(name),
                         :style => "width: 90px;",
                         'class' => 'global_tax',
                         'data-tax-name' => name ) %>
        </span>
      </div>
      <div class="col span-1-de-5 check-box-alineat">
        <span>
          <%= check_box_tag("#{name}_multiple", 1, @invoice.tax_per_line?(name), :class => 'global_tax_check', 'data-tax-name' => name) %>
        </span>
        <span>
          <%= l(:line_specific_tax) %>
        </span>
      </div>
      <div id="<%=name%>_comment" style="<%= hide_if_not_exempt_tax(name) %>" class="col span-3-de-5">
        <%= label_tag "#{name}_comment", l("field_comment") %>
        <%= text_field_tag("#{name}_comment", @invoice.global_comment_for(name)) %>
      </div>
    </div>
  <% end -%>
</fieldset>


<fieldset>
  <legend><%=l(:concept)%></legend>
  <table class="formee" id="invoice_lines" data-tax-names="<%= @invoice.tax_names.join(' ') %>">
    <thead>
      <tr>
        <th><%=l(:field_quantity)%></th>
        <th></th>
        <th><%=l(:field_description)%></th>
        <th><%=l(:field_price)%></th>
        <% @invoice.taxes_hash.keys.sort.each do |name| -%>
          <th id="<%=name%>_title" style="<%= 'display: none;' unless @invoice.tax_per_line?(name)%>">
            <%= name %>
          </th>
        <% end -%>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :invoice_lines do |line_form| %>
        <%=  render :partial => 'invoice_line_fields', :locals => { :f => line_form } %>
      <% end %>
    </tbody>
  </table>
  <div class="seccio grup">
    <div class="col span-2-de-2">
      <!-- cocoon -->
      <span class='mes'><%= link_to_add_association l(:button_add_invoice_line), f, :invoice_lines, 'data-association-insertion-node' => '#invoice_lines', 'data-association-insertion-method' => 'append' %></span>
    </div>
  </div>
</fieldset>
