<% lineid = f.object_name.split("[").last.gsub(/\]/,'') -%>
<div id="invoice_line_<%= lineid %>" class="invoice_line">

<p style="padding:10px;">
<% if f.object.new_and_first -%>
  <%= f.text_field :quantity, :value => f.object.quantity.to_s.gsub(/\.0+$/,''), :style => "width: 78px;", :label => "", :required => true %>
<% else -%>
  <%= f.text_field :quantity, :value => f.object.quantity.to_s.gsub(/\.0+$/,''), :style => "width: 78px;", :no_label => true %>
<% end -%>
<%= f.select :unit, InvoiceLine.units, {:no_label => true}, {:style => "width: 100px;"} %>
<%= f.text_field :description, :style => "width: 288px;", :no_label => true %>
<%= f.text_field :price, :value => f.object.price.to_s.gsub(/\.0+$/,''), :style => "width: 78px;", :no_label => true %>
<% @invoice.taxes_hash.keys.sort.each do |name| -%>
  <%= f.select "tax_#{name}", @invoice.taxes_hash[name].collect {|p| ["#{p}%", p]}, {:include_blank => true, :no_label => true }, {:class => "tax tax_#{name} #{'hidden' unless @invoice.tax_per_line?(name)}"} %>
<% end -%>
<%= f.object.new_and_first ? "" : link_to_function(image_tag("false.png"),"rm_line(#{lineid});") %>
</p>
</div>
<%= f.object.new_record? ? "" : f.hidden_field(:_destroy, {:value=>0, :id=>"destroy_line_#{lineid}"}) %>


