<% lineid = f.object_name.split("[").last.gsub(/\]/,'') -%>
<div id="invoice_line_<%= lineid %>" class="invoice_line">

<p>
<% if f.object.new_and_first -%>
  <%= f.text_field :quantity, :value => f.object.quantity.to_s.gsub(/\.0+$/,''), :style => "width: 72px;", :label => "", :required => true %>
<% else -%>
  <%= f.text_field :quantity, :value => f.object.quantity.to_s.gsub(/\.0+$/,''), :style => "width: 72px;", :no_label => true %>
<% end -%>
<%= f.select :unit, InvoiceLine.units, {:no_label => true}, {:style => "width: 100px;"} %>
<%= f.text_field :description, :style => "width: 288px;", :no_label => true %>
<%= f.text_field :price, :value => f.object.price.to_s.gsub(/\.0+$/,''), :style => "width: 78px;", :no_label => true %>
<% @invoice.company.taxes_hash.each do |name,percents| -%>
  <%= f.select "tax_#{name}", percents.collect {|p| ["#{p}%", p]}, {:include_blank => true, :no_label => true }, {:class => "tax tax_#{name}"} %>
<% end -%>
<%= f.object.new_and_first ? "" : link_to_function(image_tag("false.png"),"rm_line(#{lineid});") %>
</p>
</div>
<%= f.object.new_record? ? "" : f.hidden_field(:_destroy, {:value=>0, :id=>"destroy_line_#{lineid}"}) %>

<% # pre-select last selected tax
  if f.object.new_record? and !f.object.new_and_first
-%>
  <script type="text/javascript">
    <% @invoice.company.taxes_hash.each do |name,percents| -%>
      var tax_sel = $('invoice_invoice_lines_attributes_<%=lineid%>_tax_<%=name%>');
      var prev_tax_sel = tax_sel.up('.invoice_line').previous('.invoice_line').down('.tax_<%=name%>');
      tax_sel.value=prev_tax_sel.value;
    <% end -%>
  </script>
<% end -%>
