<div class="haltrinvoice">
  <h3>
    <%= @invoice.is_a?(InvoiceDocument) ? "#{l(:label_invoice)} #{@invoice.number} (#{l("state_#{@invoice.state}")})" : l(:label_invoice_template) %>
  </h3>
  <ul class="toolbox secondary">
    <li><%= link_to l(:button_edit), {:action=>'edit',:id=>@invoice} %></li>
    <li><%= link_to l(:button_delete), {:action=>'destroy',:id=>@invoice} , :confirm => l(:text_are_you_sure), :method => :post %></li>
    <% if @invoice.is_a? InvoiceDocument -%>
      <li><%= change_state_link(@invoice) %></li>
      <li><%= link_to "#{l(:save_invoice)} <strong>PDF</strong>", :action=>'pdf', :id=>@invoice %></li>
      <li><%= link_to "#{l(:save_invoice)} <strong>efactura</strong>", :action=>'efactura', :id=>@invoice %></li>
      <% unless Setting.plugin_haltr["folder1_name"].blank? or Setting.plugin_haltr["folder1"].blank? -%>
        <li><%= link_to "#{l(:send_invoice)} <strong>#{Setting.plugin_haltr["folder1_name"]}</strong>", :action=>'send_invoice', :id=>@invoice, :folder=>1 %></li>
      <% end -%>
      <% unless Setting.plugin_haltr["folder2_name"].blank? or Setting.plugin_haltr["folder2"].blank? -%>
        <li><%= link_to "#{l(:send_invoice)} <strong>#{Setting.plugin_haltr["folder2_name"]}</strong>", :action=>'send_invoice', :id=>@invoice, :folder=>2 %></li>
      <% end -%>
      <% if %w(error sending sent).include?(@invoice.state) and @invoice.b2b_message -%>
        <li><%= link_to l(:sending_log), :controller => 'invoices', :action => 'log', :id => @invoice %></li>
      <% end -%>
      <% if @invoice.state?(:sent) -%>
        <li><%= link_to l(:receive_payment), :controller => 'payments', :action => 'new', :id => @project, :invoice_id => @invoice %></li>
      <% end -%>
    <% end -%>

  <% if @invoice.is_a?(InvoiceDocument) -%>
    <% if @invoice.invoice_template_id and @invoice.invoice_template -%>
      <li><%= link_to "#{l(:show_template)} #{@invoice.invoice_template.id}", {:controller=>'invoice_templates',:action => 'showit', :id => @invoice.invoice_template_id } %></li>
    <% else -%>
      <li><%= link_to l(:generate_template_from_invoice), {:controller=>'invoice_templates',:action=>'new_from_invoice',:id=>@invoice} %></li>
    <% end -%>
  <% end -%>

  </ul>

  <% if @invoice.is_a?(InvoiceDocument) -%>
  <div class="client-invoices">
    <h3><%=l(:recipients)%></h3>
    <ul class="secondary">
      <% @invoice.recipients.each do |person| -%>
        <li>
        <%= link_to "#{person.first_name} #{person.last_name} &lt;#{person.email}&gt;", :controller =>'people' ,:action=>'show', :id=>person %>
        </li>
      <% end -%>
    </ul>
  </div>

  <% if @invoices_not_sent.any? -%>
  <div class="client-invoices">
    <h3><%=l(:open_invoices)%></h3>
    <p style="padding:7px 20px;">
      <% @invoices_not_sent.each do |invoice| -%>
        <%=link_to invoice.number, :action => 'showit', :id => invoice %><%= ", " unless invoice == @invoices_not_sent.last %>
      <% end -%>
    </p>
  </div>
  <% end -%>
  <% if @invoices_sent.any? -%>
  <div class="client-invoices">
    <h3><%=l(:pending_invoices)%></h3>
    <p style="padding:7px 20px;">
      <% @invoices_sent.each do |invoice| -%>
        <%=link_to invoice.number, :action => 'showit', :id => invoice %><%= ", " unless invoice == @invoices_sent.last %>
      <% end -%>
    </p>
  </div>
  <% end -%>
  <% if @invoices_closed.any? -%>
  <div class="client-invoices">
    <h3><%=l(:closed_invoices)%></h3>
    <p style="padding:7px 20px;">
      <% @invoices_closed.each do |invoice| -%>
        <%=link_to invoice.number, :action => 'showit', :id => invoice %><%= ", " unless invoice == @invoices_closed.last %>
      <% end -%>
    </p>
  </div>
  <% end -%>

  <% else -%>
  <% if @invoices_generated.any? -%>
    <div class="client-invoices">
      <h3>Factures generades</h3>
      <p style="padding:7px 20px;">
      <% @invoices_generated.each do |invoice| -%>
        <%=link_to invoice.number, :controller => 'invoices', :action => 'showit', :id => invoice %><%= ", " unless invoice == @invoices_generated.last %>
      <% end -%>
      </p>
    </div>
  <% end -%>

  <% end -%>
</div>
