<!--factura-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <div class="factura">
      <!--capçalera-->
      <div class="seccio grup">
        <div class="col span-1-de-3">

          <div id="amends">
            <% if @invoice.amend -%>
              <h3><%=l(:amended_by_invoice, :link => link_to("#{l(:label_amendment_invoice)} #{@invoice.amend.number}",
                                            :controller => 'invoices', :action=>'show', :id=>@invoice.amend)) %></h3>
            <% end -%>
          </div>
            <% if @company.attachments.any? -%>
              <% if @is_pdf %>
                <%= tag 'img', :src => "#{Attachment.storage_path}/#{@company.attachments.first.disk_filename}" -%>
              <% else -%>
                <%= tag 'img', :src => "/invoices/logo/#{@company.attachments.first.id}/#{@company.attachments.first.filename}", :alt => "#{@company.name} Logo" -%>
              <% end -%>
            <% end -%>

        </div>
        <div class="col span-2-de-3">
          <p class="fac-num"><%=h @invoice.label %> <%=h @invoice.number %></p>
          <p class="fac-data"><%=l(:generation_date)%>: <%=h format_date @invoice.date %></p>
        </div>
      </div>
      <div class="seccio grup">
        <div class="col span-1-de-2 dades-1">
          <p class="fac-nom"><%=h @company.name %></p>
          <ul>
            <li><%=h @company.address %></li>
            <li><%=h @company.postalcode %> <%=h @company.city %></li>
            <li><%=h @company.province %></li>
            <li><%=h @company.country_name if @client.country.downcase != @company.country.downcase %></li>
            <li><%=h l(:field_taxcode) %>: <%=h @company.taxcode %></li>
            <li><span><%= @company.website %></span></li>
            <li><span><%= @company.email %></span></li>
          </ul>
        </div>
        <div class="col span-1-de-2 dades-2">
          <p class="fac-nom"><%= client_name_with_link @client %></p>
          <ul>
            <li><%=h @client.address %></li>
            <li><%=h @client.address2 %></li>
            <li><%=h @client.postalcode %> <%=h @client.city %></li>
            <li><%=h @client.province %></li>
            <li><%=h @client.country_name if @client.country.downcase != @company.country.downcase %></li>
            <li><%=h l(:field_taxcode) %>: <%=h @client.taxcode.upcase %></li>
          </ul>
        </div>
      </div>
      <!--final capçalera-->

      <!--separador-->
      <div class="seccio grup">
        <div class="col span-2-de-2">
          <div class="separador-fac"></div>
        </div>
      </div>
      <!--final separador-->

      <!--taula factura-->
      <div class="seccio grup">
        <table class="taula-2">
          <thead>
            <tr>
              <td class="c-1">Q</td>
              <td class="c-2"><%=h l(:field_description)%></td>
              <td class="c-3 dr"><%=h l(:field_amount) %></td>
              <td class="c-4 dr"><%=h l(:label_total)%></td>
            </tr>
          </thead>
          <tbody>
            <% @lines.each do |line| -%>
              <tr>
                <td><%=h quantity(line.quantity) %> <%=h line.unit_short%></td>
                <td><%=h line.description %></td>
                <td class="dr"><%=h line_price(line) %></td>
                <td class="dr"><%=h money(line.total) %></td>
              </tr>
            <% end -%>
          </tbody>
          <tfoot>
            <% if @invoice.discount_percent and @invoice.discount_percent > 0 -%>
              <tr>
                <td colspan="3" class="dr"><%=h @invoice.discount_text %> <%=h number_to_percentage(@invoice.discount_percent, :precision=>0) %></td>
                <td class="dr">- <%=h money(@invoice.discount) %></td>
              </tr>
            <% end -%>

            <% if @invoice.charge_amount.cents > 0 -%>
              <tr>
                <td colspan="3" class="dr"><%=h @invoice.charge_reason %></td>
                <td class="dr"><%=h money(@invoice.charge_amount) %></td>
              </tr>
            <% end -%>

            <tr>
              <td colspan="3" class="dr"><%=h l(:label_subtotal)%>:</td>
              <td class="dr"><%=h money(@invoice.subtotal) %></td>
            </tr>
            <% @invoice.taxes_uniq.each do |tax| -%>
              <tr>
                <td colspan="3" class="dr"><%= h tax_name(tax) %> <%= " #{l(:over_taxable_base)} #{money(@invoice.taxable_base(tax))}" unless @invoice.tax_applies_to_all_lines?(tax) %>:</th>
                <td class="dr"><%= h money(@invoice.tax_amount(tax)) %></td>
              </tr>
            <% end -%>
            <tr>
              <td colspan="3" class="dr"><%=h l(:label_total)%>:</td>
              <td class="total-fac dr"><%=h money(@invoice.total) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <!--final taula factura-->

      <!-- pagaments -->
      <% if @invoice.is_a?(IssuedInvoice) and @invoice.payments.any? -%>
        <br />
        <!-- Payment Details -->
        <table class="taula-2">
          <thead>
            <tr>
              <td class="c-1"></th>
              <td class="c-2"><%=h l :field_description%></th>
              <td class="c-3 dr"><%=h l :field_date%></th>
              <td class="c-4 dr"><%=h l :field_quantity %></th>
            </tr>
          </thead>
          <tbody>
            <% @invoice.payments.each do |payment| -%>
              <tr>
                <td><%= link_to image_tag("/images/delete.png"), {:action=>'destroy_payment',:id=>payment} , :confirm => l(:text_are_you_sure), :method => :post %></td>
                <td><%=h payment.description %></td>
                <td class="dr"><%=h format_date payment.date %></td>
                <td class="dr"><%=h money(payment.amount) %></td>
              </tr>
            <% end -%>
          </tbody>
          <tfoot>
            <tr>
              <td class="dr" colspan="3"><%=h l :field_total_paid %>:</th>
              <td class="dr"><%=h money(@invoice.total_paid) %></td>
            </tr>
          </tfoot>
        </table>
      <% end -%>
      <!-- final pagaments -->


      <% if !@invoice.extra_info.blank? or
           @invoice.taxes.collect {|t| t if t.exempt? and !t.comment.blank? }.compact.any? -%>
         <div class="notes">
           <h3><%=h l(:field_extra_info)%></h3>
           <% unless @invoice.extra_info.blank? -%>
             <span class="invoice-terms"><%= simple_format(h @invoice.extra_info) %></span>
           <% end -%>
           <% @invoice.taxes_uniq.each do |t| -%>
             <% next unless t.exempt? and !t.comment.blank? -%>
             <span class="invoice-terms"><%= simple_format(h "#{tax_name(t)}: #{t.comment}") %></span>
           <% end -%><br/>
         </div>
      <% end -%>
    </div>


  </div>
</div>
<!--final factura-->

