<% unless @invoice.client.nil? %>
<li><%= send_link_for_invoice %></li>
<% end -%>

<li>
<a href="#"><%= l(:more_options) %></a>
<ul>
  <% %w(new sent accepted registered refused closed).each do |state| -%>
    <% next if @invoice.state == state -%>
    <li><%=link_to(t("manual_mark_as", state: t("state_#{state}")), mark_as_path(@invoice, state: state), class: "icon-haltr-mark-#{state}")%></li>
  <% end -%>

  <hr />

  <%= call_hook(:issued_invoice_menu_top) %>

  <% if @invoice.last_sent_file_path -%>
    <li>
    <%= link_to(l(:download_legal_invoice), @invoice.last_sent_file_path) %>
    </li>
  <% end -%>

  <li><%= link_to l(:download_as_pdf), {:action=>'show', :id=>@invoice, :format => 'pdf'}, :class=>'icon-haltr-save' %></li>

  <% unless hide_to_user(:manage_payments) -%>
    <% if @invoice.state?(:sent) or @invoice.state?(:allegedly_paid) or @invoice.state?(:registered) -%>
      <li><%= link_to l(:receive_payment), {:controller=>'payments', :action=>'new', :project_id=>@project, :invoice_id=>@invoice}, :class=>'icon-haltr-payment' %></li>
    <% end -%>
  <% end -%>

  <% unless hide_to_user(:use_templates) -%>
    <% if @invoice.invoice_template_id and @invoice.invoice_template -%>
      <li><%= link_to "#{l(:show_template)} #{@invoice.invoice_template.id}", {:controller=>'invoice_templates',:action=>'show', :id=>@invoice.invoice_template_id }, :class=>'icon-haltr-templates' %></li>
    <% else -%>
      <li><%= link_to l(:generate_template_from_invoice), {:controller=>'invoice_templates',:action=>'new_from_invoice',:id=>@invoice}, :class => 'icon-haltr-template' %></li>
    <% end -%>
  <% end -%>

  <% unless @invoice.amended? -%>
    <li><%= link_to l(:create_amend_invoice), {:controller => 'invoices', :action => 'amend_for_invoice', :id => @invoice}, :method => :post, :class => 'icon-haltr-template' %></li>
  <% end -%>
  <li><%= link_to l(:duplicate_invoice), {:controller => 'invoices', :action => 'duplicate_invoice', :id => @invoice}, :class => 'icon-haltr-invoice' %></li>
  <% unless Setting.plugin_haltr['issues_controller_name'].blank? -%>
    <li>
    <%= link_to l(:report_issue_with_invoice),
      { :controller => Setting.plugin_haltr['issues_controller_name'],
        :action => 'new',
        :project_id => @project,
        'issue[subject]' => l(:invoice_issue_subject, :id=>@invoice.id),
        'issue[description]' => l(:invoice_issue_body) },
      :class => 'icon-haltr-report' %>
    </li>
  <% end -%>

  <%= call_hook(:issued_invoice_menu_bottom) %>

</ul>
</li>

