<h3><%= "#{l(:label_invoice)} #{@invoice.number} (#{l("state_#{@invoice.state}")})" %></h3>
<ul class="invoice_menu">
  <li><%= link_to l(:button_edit), {:action=>'edit',:id=>@invoice}, :class=>'icon-haltr-edit' %></li>
  <li><%= link_to l(:button_delete), {:action=>'destroy',:id=>@invoice}, :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon-haltr-delete' %></li>
  <li><%= change_state_link(@invoice) %></li>
  <li><%= link_to "#{l(:save_invoice)} PDF", {:action=>'pdf', :id=>@invoice}, :class=>'icon-haltr-save' %></li>
  <% if @invoice.can_be_exported? %>
    <li><%= link_to "#{l(:label_send)} (#{l(@client.invoice_format)})", {:action=>'send_invoice', :id=>@invoice}, :class=>'icon-haltr-send' %></li>
  <% elsif @invoice.export_errors and @invoice.export_errors.size > 0 -%>
    <li><%= link_to "#{l(:label_send)} (#{l(@client.invoice_format)})", "#", :class=>'icon-haltr-send disabled', :title => @invoice.export_errors.collect {|e| l(e)}.join(", ") %></li>
  <% end -%>
  <% if @invoice.state?(:sent) -%>
    <li><%= link_to l(:receive_payment), {:controller=>'payments', :action=>'new', :id=>@project, :invoice_id=>@invoice}, :class=>'icon-haltr-payment' %></li>
  <% end -%>

  <% if @invoice.invoice_template_id and @invoice.invoice_template -%>
    <li><%= link_to "#{l(:show_template)} #{@invoice.invoice_template.id}", {:controller=>'invoice_templates',:action=>'show', :id=>@invoice.invoice_template_id }, :class=>'icon-haltr-templates' %></li>
  <% else -%>
    <li><%= link_to l(:generate_template_from_invoice), {:controller=>'invoice_templates',:action=>'new_from_invoice',:id=>@invoice}, :class => 'icon-haltr-template' %></li>
  <% end -%>

</ul>

<h3><%=l(:recipients)%></h3>
<ul class="invoice_menu">
  <% if @client.email -%>
  <li><%= link_to "#{@client.name} &lt;#{@client.email}&gt;", {:controller =>'clients' ,:action=>'edit', :id=>@client}, :class => 'icon-haltr-edit' %></li>
  <% end -%>
  <% @invoice.recipients.each do |person| -%>
    <li>
    <%= link_to "#{person.first_name} #{person.last_name} &lt;#{person.email}&gt;", {:controller =>'people' ,:action=>'show', :id=>person}, :class => 'icon-haltr-person' %>
    </li>
  <% end -%>
</ul>

<% if @invoices_not_sent.any? -%>
<h3><%=l(:open_invoices)%></h3>
<p style="padding:7px 20px;">
<% @invoices_not_sent.each do |invoice| -%>
  <%=link_to invoice.number, :action=>'show', :id=>invoice %><%= ", " unless invoice == @invoices_not_sent.last %>
<% end -%>
</p>
<% end -%>
<% if @invoices_sent.any? -%>
<h3><%=l(:pending_invoices)%></h3>
<p style="padding:7px 20px;">
<% @invoices_sent.each do |invoice| -%>
  <%=link_to invoice.number, :action=>'show', :id=>invoice %><%= ", " unless invoice == @invoices_sent.last %>
<% end -%>
</p>
<% end -%>
<% if @invoices_closed.any? -%>
<h3><%=l(:closed_invoices)%></h3>
<p style="padding:7px 20px;">
<% @invoices_closed.each do |invoice| -%>
  <%=link_to invoice.number, :action=>'show', :id=>invoice %><%= ", " unless invoice == @invoices_closed.last %>
<% end -%>
</p>
<% end -%>

