<h3><%= "#{l(:label_invoice)} #{@invoice.number} (#{l("state_#{@invoice.state}")})" %></h3>
<ul class="invoice_menu">
  <li><%= link_to l(:button_edit), {:action=>'edit',:id=>@invoice}, :class=>'icon-haltr-edit' %></li>
  <li><%= link_to l(:button_delete), {:action=>'destroy',:id=>@invoice}, :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon-haltr-delete' %></li>
  <li><%= change_state_link(@invoice) %></li>
  <li><%= link_to "#{l(:save_invoice)} PDF", {:action=>'pdf', :id=>@invoice}, :class=>'icon-haltr-save' %></li>
  <% if @invoice.can_be_exported? %>
    <li><%= link_to "#{l(:label_send)} (#{l(@client.invoice_format)})", {:action=>'send_invoice', :id=>@invoice}, :class=>'icon-haltr-send', :title => @invoice.sending_info %></li>
  <% elsif @invoice.export_errors and @invoice.export_errors.size > 0 -%>
    <li><%= link_to "#{l(:label_send)} (#{l(@client.invoice_format)})", "#", :class=>'icon-haltr-send disabled', :title => @invoice.sending_info %></li>
  <% end -%>
  <% if @invoice.state?(:sent) -%>
    <li><%= link_to l(:receive_payment), {:controller=>'payments', :action=>'new', :id=>@project, :invoice_id=>@invoice}, :class=>'icon-haltr-payment' %></li>
  <% end -%>

  <% if @invoice.invoice_template_id and @invoice.invoice_template -%>
    <li><%= link_to "#{l(:show_template)} #{@invoice.invoice_template.id}", {:controller=>'invoice_templates',:action=>'show', :id=>@invoice.invoice_template_id }, :class=>'icon-haltr-templates' %></li>
  <% else -%>
    <li><%= link_to l(:generate_template_from_invoice), {:controller=>'invoice_templates',:action=>'new_from_invoice',:id=>@invoice}, :class => 'icon-haltr-template' %></li>
  <% end -%>

  <% unless @invoice.amended? -%>
    <li><%= link_to l(:create_amend_invoice), {:controller => 'invoices', :action => 'amend_for_invoice', :id => @invoice}, :class => 'icon-haltr-template' %></li>
  <% end -%>

</ul>

<%= render :partial => 'invoices/issued_invoice_list_other' %>
