<div class="new_client_box">
  <div id="new_client">
    <h2><%= l(:label_company_new) %></h2>
    <%= labelled_form_for(:client, Client.new(:country=>@project.company.country,
                           :currency=>@project.company.currency,
                           :language=>User.current.language),
         :url     => {:controller=>'clients', :action=>'create', :project_id=>@project},
         :html    => {:class => 'formee'},
         :remote  => true,
         :lang    => current_language
       ) do |form| -%>

      <%= render :partial=>'clients/form', :locals=>{ :f=>form, :context=>context, :client=>Client.new() } %>
      <%= submit_tag l(:button_create) %>
      <%= button_to_function(l(:cancel), "$('#new_client_wrapper').hide();") %>
    <% end -%>
  </div>
</div>
<div class="overlay"></div>
