<%
  invoice_params = params["invoice"] || {}
  currency = Setting.plugin_haltr['default_currency']
  payment_method = ""
  payment_method_text = ""
  terms = 0
  if (invoice_params.keys & %w(currency payment_method payment_method_text terms)).size ==  4
    # params contains previously selected values
    currency = invoice_params["currency"]
    payment_method = invoice_params["payment_method"]
    payment_method_text = invoice_params["payment_method_text"]
    terms = invoice_params["terms"]
  elsif @invoice and @invoice.new_record? and @client
    # new invoice, default client
    currency = @client.currency
    payment_method = @client.payment_method
    payment_method_text = @client.payment_method_text
    terms = @client.terms
  elsif @invoice
    # existing invoice, current client
    currency = @invoice.currency
    payment_method = @invoice.payment_method
    payment_method_text = @invoice.payment_method_text
    terms = @invoice.terms
  elsif @client and !@client.new_record?
    # ajax call on changing invoice's client
    currency = @client.currency
    payment_method = @client.payment_method
    payment_method_text = @client.payment_method_text
    terms = @client.terms
  end
  @external_company=ExternalCompany.find_by_taxcode(@client.taxcode) if @client
-%>

<%= call_hook(:invoice_form_payment_extra_fields) unless @invoice.is_a?(Quote) or params[:quote] == "true" %>

<% if call_hook(:invoice_form_administrative_centres).present? -%>
  <%= call_hook(:invoice_form_administrative_centres) %>
<% else -%>
  <% if (@external_company and @external_company.visible_dir3) or (@client and @client.invoice_format =~ /^aoc|face/) or (@invoice and @invoice.has_dir3_info?) -%>
    <div class="seccio grup">
      <p class="col span-1-de-3">
      <label for="invoice_organ_gestor"><%= l(:organ_gestor) %><%= required_field_span('dir3') %><%= select_to_edit(:organ_gestor) %></label>
      <% if @external_company and @external_company.dir3_organs_gestors.any? -%>
        <%= select(:invoice, :organ_gestor, dir3_for_select(@external_company.dir3_organs_gestors)) %>
      <% else -%>
        <%= text_field :invoice, :organ_gestor %>
      <% end -%>
      </p>
      <p class="col span-1-de-3">
      <label for="invoice_oficina_comptable"><%= l(:oficina_comptable) %><%= required_field_span('dir3') %><%= select_to_edit(:oficina_comptable) %></label>
      <% if @external_company and @external_company.dir3_oficines_comptables.any? -%>
        <%= select(:invoice, :oficina_comptable, dir3_for_select(@external_company.dir3_oficines_comptables)) %>
      <% else -%>
        <%= text_field :invoice, :oficina_comptable %>
      <% end -%>
      </p>
      <p class="col span-1-de-3">
      <label for="invoice_unitat_tramitadora"><%= l(:unitat_tramitadora) %><%= required_field_span('dir3') %><%= select_to_edit(:unitat_tramitadora) %></label>
      <% if @external_company and @external_company.dir3_unitats_tramitadores.any? -%>
        <%= select(:invoice, :unitat_tramitadora, dir3_for_select(@external_company.dir3_unitats_tramitadores)) %>
      <% else -%>
        <%= text_field :invoice, :unitat_tramitadora %>
      <% end -%>
      </p>
    </div>
  <% end -%>
  <% if (@external_company and @external_company.visible_organ_proponent) -%>
    <p class="col span-1-de-3">
    <label for="invoice_organ_proponent"><%= l(:field_organ_proponent) %><%= required_field_span('organ_proponent') %><%= select_to_edit(:organ_proponent) %></label>
    <% if @external_company and @external_company.dir3_organs_proponents.any? -%>
      <%= select(:invoice, :organ_proponent, dir3_for_select(@external_company.dir3_organs_proponents)) %>
    <% else -%>
      <%= text_field :invoice, :organ_proponent %>
    <% end -%>
    </p>
  <% end -%>
<% end -%>


<% if @external_company -%>
  <% if @external_company.visible_fields.any? -%>
    <div class="seccio grup">
    <% @external_company.visible_fields.each do |field| -%>
      <% next if %w(dir3 organ_proponent).include?(field) -%>
      <p class="col span-1-de-3">
      <label for="invoice_<%=field%>"><%= l("field_#{field}") %><%= required_field_span(field)%></label>
      <%= text_field :invoice, field %>
      </p>
    <% end -%>
    </div>
  <% end -%>
<% end -%>

<div class="seccio grup">
  <p class="col span-1-de-3">
    <label for="invoice_currency"><%= l(:field_currency) %><span class="required"> *</span></label>
    <%= select :invoice, :currency, currency_options_for_select, {:selected=>currency}, :required => true%>
  </p>
  <p class="col span-1-de-3">
    <label for="invoice_payment_method"><%= l(:field_payment_method) %></label>
    <%= select(:invoice, :payment_method, Invoice.payment_methods(@project.company), {:selected=>payment_method}, :style => 'vertical-align: top;') %>
    <%= text_area(:invoice, :payment_method_text, :cols => 40, :rows => 2, :value => payment_method_text, :id => 'payment_other', :style => (payment_method==Invoice::PAYMENT_SPECIAL) ? '' : 'display: none;') %>
  </p>
  <p class="col span-1-de-3">
  <% unless @invoice.is_a?(Quote) or params[:quote] == "true" -%>
    <label for="invoice_terms"><%= l(:field_terms) %></label>
    <%= select(:invoice, :terms, Terms.for_select, {:selected=>terms} ) %>
    <span id="due_date_cal" style="display: <%= terms == "custom" ? "" : "none" %>">
      <%= text_field :invoice, :due_date, :size => 10 %>
      <%= calendar_for('invoice_due_date') %>
    </span>
  <% end -%>
  </p>
</div>

