<%
  invoice_params = params["invoice"] || {}
  currency = Setting.plugin_haltr['default_currency']
  payment_method = ""
  payment_method_text = ""
  terms = 0
  if (invoice_params.keys & %w(currency payment_method payment_method_text terms)).size ==  4
    # params contains previously selected values
    currency = invoice_params["currency"]
    payment_method = invoice_params["payment_method"]
    payment_method_text = invoice_params["payment_method_text"]
    terms = invoice_params["terms"]
  elsif @invoice and @invoice.new_record? and @client
    # new invoice, default client
    currency = @client.currency
    payment_method = @client.payment_method
    payment_method_text = @client.payment_method_text
    terms = @client.terms
  elsif @invoice
    # existing invoice, current client
    currency = @invoice.currency
    payment_method = @invoice.payment_method
    payment_method_text = @invoice.payment_method_text
    terms = @invoice.terms
  elsif @client and !@client.new_record?
    # ajax call on changing invoice's client
    currency = @client.currency
    payment_method = @client.payment_method
    payment_method_text = @client.payment_method_text
    terms = @client.terms
  end
  if @client and @client.taxcode.present?
    taxcode = @client.taxcode
    if taxcode[0...2].downcase == @client.country
      taxcode2 = taxcode[2..-1]
    else
      taxcode2 = "#{@client.country}#{taxcode}"
    end
    @external_company = ExternalCompany.where('taxcode in (?, ?)', taxcode, taxcode2).first
  end
-%>

<%= call_hook(:invoice_form_payment_extra_fields) unless @invoice.is_a?(Quote) %>

<% if call_hook(:invoice_form_administrative_centres).present? -%>
  <%= call_hook(:invoice_form_administrative_centres) %>
<% else -%>
  <% if (@external_company and @external_company.visible_dir3) or
      (@client and ExportChannels.punts_generals.include?(@client.invoice_format)) or
      (@invoice and @invoice.has_dir3_info?) -%>
    <div class="seccio grup">
      <p class="col span-1-de-3">
      <%= render :partial => 'invoices/dir3', locals: { role: 'organ_gestor'} %>
      </p>
      <p class="col span-1-de-3">
      <%= render :partial => 'invoices/dir3', locals: { role: 'oficina_comptable'} %>
      </p>
      <p class="col span-1-de-3">
      <%= render :partial => 'invoices/dir3', locals: { role: 'unitat_tramitadora'} %>
      </p>
    </div>
  <% end -%>
  <% if (@external_company and @external_company.visible_organ_proponent) -%>
    <div class="seccio grup">
      <p class="col span-1-de-3">
      <%= render :partial => 'invoices/dir3', locals: { role: 'organ_proponent'} %>
      </p>
    </div>
  <% end -%>
<% end -%>


<% if @external_company -%>
  <% if @external_company.visible_fields.any? -%>
    <div class="seccio grup">
      <% @external_company.visible_fields.each do |field| -%>
        <% next if %w(dir3 organ_proponent ponumber delivery_note_number payments_on_account).include?(field) -%>
        <p class="col span-1-de-3">
        <label for="invoice_<%=field%>"><%= l("field_#{field}") %><%= required_field_span(field)%></label>
        <%= text_field :invoice, field %>
        </p>
      <% end -%>
    </div>
  <% end -%>
  <% if @external_company.visible_fields.include?('payments_on_account') -%>
    <div class="seccio grup">
      <p class="col span-1-de-3">
      <label for="invoice_payments_on_account"><%= l("field_payments_on_account") %><%= required_field_span('payments_on_account')%></label>
      <%= text_field :invoice, 'payments_on_account' %>
      </p>
    </div>
  <% end -%>
<% end -%>

<div class="seccio grup">
  <p class="col span-1-de-3">
  <label for="invoice_currency"><%= l(:field_currency) %><span class="required"> *</span></label>
  <%= select :invoice, :currency, currency_options_for_select, {:selected=>currency}, :required => true%>
  </p>
  <p class="col span-1-de-3">
  <label for="invoice_payment_method"><%= l(:field_payment_method) %></label>
  <%= select(:invoice, :payment_method, Invoice.payment_methods(@project.company), {:selected=>payment_method}, :style => 'vertical-align: top;') %>
  <%= text_area(:invoice, :payment_method_text, :cols => 40, :rows => 2, :value => payment_method_text, :id => 'payment_other', :style => (payment_method==Invoice::PAYMENT_SPECIAL) ? '' : 'display: none;') %>
  </p>
  <p class="col span-1-de-3">
  <% unless @invoice.is_a?(Quote) -%>
    <label for="invoice_terms"><%= l(:field_terms) %></label>
    <%= select(:invoice, :terms, Terms.for_select, {:selected=>terms} ) %>
    <span id="due_date_cal" style="display: <%= terms == "custom" ? "" : "none" %>">
      <%= text_field :invoice, :due_date, :size => 10 %>
      <%= calendar_for('invoice_due_date') %>
    </span>
  <% end -%>
  </p>
</div>

<% if @client.client_offices.any? -%>

<div class="seccio grup">
  <p class="col span-1-de-3">
  <label for="client_office_id"><%= l(:label_client_office) %></label>
  <%= select :invoice, :client_office_id, @client.client_offices.collect {|office| [office.name, office.id] }, {selected: (@invoice.client_office_id rescue nil), include_blank: true} %>
  </p>
</div>

<% end -%>
