<table class="list" id="invoices">
  <thead>
    <%= sort_header_tag('created_at', :caption => l(:field_created_at)) %>
    <%= sort_header_tag('state', :caption => l(:field_state)) %>
    <%= sort_header_tag('number', :caption => l(:field_number)) %>
    <%= sort_header_tag('date', :caption => l(:field_date)) %>
    <%= sort_header_tag('due_date', :caption => l(:field_due_date)) %>
    <%= sort_header_tag('clients.name', :caption => l(:field_company)) %>
    <%= sort_header_tag('import_in_cents', :caption => l(:label_total)) %>
  </thead>
  <tbody>
    <% for invoice in @r_invoices -%>
      <tr class="user <%= cycle("odd", "even") %><%= ' amended' if invoice.amended? %><%= ' unread' unless invoice.has_been_read%>" onclick="javascript: document.location = '<%=url_for(:action=>'show', :id=>invoice)%>'">
        <td align="center"><%=h invoice.created_at.to_date %></td>
        <td align="center"><%=h l("state_#{invoice.state}").capitalize %></td>
        <td align="center"><%=h invoice.number %></td>
        <td align="center"><%=h invoice.date %></td>
        <td align="center"<%='class="pastdue"' if invoice.past_due?%>><%=h invoice.due_date %></td>
        <td><%=h invoice.client %></td>
        <td align="right"><%= money invoice.total %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if @unread and @unread > 0 -%>
  <% params[:tab] = 'received_with_new' -%>
<% else -%>
  <% params[:tab] = 'received' -%>
<% end -%>
<p class="pagination"><%= pagination_links_full @r_invoice_pages, @r_invoice_count, :page_param => :r_page %></p>

