<h3><%= l(:label_invoice_plural) %></h3>
<ul class="invoice_menu">
  <li id="invoice_new">
  <%= link_to l(:label_invoice_new), {:action => 'new', :id => @project} %>
  </li>
  <li><%= link_to l(:label_invoice_plural), :controller => 'invoices', :action => 'index', :id => @project %></li>
  <li><%= link_to l(:label_invoice_template_plural), :controller => 'invoice_templates', :action => 'index', :id => @project %></li>
  <li><%= link_to l(:label_task_plural), :controller => 'tasks', :action => 'index', :id => @project %></li>
</ul>
