<h3><%= l("label_#{params[:controller].singularize}_plural") %></h3>
<ul class="invoice_menu">
  <% unless params[:controller] == "tasks" -%>
  <li>
    <%= link_to l("label_#{params[:controller].singularize}_new"), {:action => 'new', :id => @project}, :class=>'icon-haltr-invoice' %>
  </li>
  <% end -%>
  <% if params[:controller] == "invoices" -%>
    <li><%= link_to l(:label_invoice_template_plural), {:controller => 'invoice_templates', :action => 'index', :id => @project}, :class=>'icon-haltr-templates' %></li>
  <% else -%>
    <li><%= link_to l(:label_invoice_plural), {:controller => 'invoices', :action => 'index', :id => @project}, :class=>'icon-haltr-invoices' %></li>
  <% end -%>
  <% if num_new_invoices > 0 %>
  <li>
  <%= link_to "#{l(:button_generate_invoices)} (#{num_new_invoices})", {:controller => 'invoice_templates', :action => 'invoices', :id => @project}, :class=>'icon-haltr-invoices-from-templates' %> 
  </li>
  <% end -%>
  <% if authorize_for('tasks','automator') && num_not_sent > 0 -%>
  <li>
  <%= link_to "#{l(:button_send_invoices)} (#{num_not_sent})",{ :controller => 'tasks', :action => 'automator', :id => @project}, :title => l(:label_automator_info), :class=>'icon-haltr-send'%>
  </li>
  <% end -%>
  <li>
  <%= link_to "#{l(:button_download_new_invoices)} (#{num_not_sent})",{ :action => 'download_new_invoices', :id => @project}, :title => l(:label_download_new_invoices_info), :class=>'icon-haltr-save'%>
  </li>
  <li>
  <%= link_to "#{l(:label_invoice_report)} #{l('datetime.distance_in_words.x_months',3)}", {:controller => 'tasks',:action => 'report', :id => @project, :months_ago => 3}, :class=>'icon-haltr-report' %>
  </li>

</ul>
