<ul>
  <%= call_hook(:view_invoices_context_menu_start, {:invoices=>@invoices, :can=>@can, :back=>@back }) %>

  <% if @invoice -%>
    <!-- actions for a single invoice -->
    <li>
    <%= context_menu_link l(:button_edit), edit_invoice_path(@invoice),
      :class=>'icon-edit', :disabled=>!@can[:edit] %>
    </li>
    <li>
    <%= context_menu_link "PDF", {:action=>'show', :id=>@invoice, :format=>'pdf'},
      :class=>'icon-file application-pdf', :disabled=>!@can[:read] %>
    </li>
  <% else -%>
    <!-- actions for multiple invoices -->
    <li class="folder">
    <a href="#" class="submenu"><%= l(:button_download) %></a>
    <ul>
      <li>
      <%= context_menu_link "PDF",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'pdf', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
      <li>
      <%= context_menu_link "Facturae 3.0",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'facturae30', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
      <li>
      <%= context_menu_link "Facturae 3.1",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'facturae31', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
      <li>
      <%= context_menu_link "Facturae 3.2",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'facturae32', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
      <li>
      <%= context_menu_link "PEPPOL BIS 1",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'peppolubl20', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
      <li>
      <%= context_menu_link "BII UBL",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'biiubl20', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
      <li>
      <%= context_menu_link "OIO",
        invoices_bulk_download_path(:ids=>@invoice_ids, :in=>'oioubl20', :back_url=>@back),
        :disabled=>!@can[:read] %>
      </li>
    </ul>
    </li>
    <li class="folder">
    <a href="#" class="submenu"><%= l(:mark_as) %></a>
    <ul>
      <li>
      <%= context_menu_link l(:state_sent_plural),
        invoices_bulk_mark_as_path(:ids=>@invoice_ids, :state=>'sent', :back_url=>@back),
        :disabled=>!@can[:edit] %>
      </li>
    </ul>
    </li>
  <% end %>

  <%= call_hook(:view_invoices_context_menu_end, {:invoices=>@invoices, :can=>@can, :back=>@back }) %>

  <li>
  <%= context_menu_link l(:button_delete), invoices_path(:ids=>@invoice_ids, :back_url=>@back),
    :method=>:delete, :data=>{:confirm=>l(:text_invoices_destroy_confirmation)}, :class=>'icon-del', :disabled=>!@can[:edit] %>
  </li>

</ul>
