<!--formulari-->
<div class="seccio grup">
  <div class="col span-2-de-2">

    <%= labelled_form_for :invoice, @invoice, :url => { :action => 'update', :id => @invoice }, :html => {:method => :put, :class => 'formee'}  do |f| %>
      <% if @invoice.is_a? ReceivedInvoice -%>
        <%= render :partial => 'received_invoices/form', :locals => { :f => f } %>
      <% else -%>
        <%= render :partial => 'invoices/form', :locals => { :f => f } %>
      <% end -%>
      <%= f.submit l(:button_save), :name => 'save' %>
      <%= f.submit l(:button_save_and_send), :name => 'save_and_send' %>
    <% end %>

  </div>
</div>
<!--final formulari-->

<div id="new_client_wrapper" style="display:none;">
  <%= render :partial => 'invoices/new_client' %>
</div>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
