<h2><%= controller.controller_name == "invoice_templates" ? l(:label_invoice_template) : l(:label_invoice) %></h2>

<%= labelled_form_for :invoice, @invoice, :url => { :action => 'update', :id => @invoice }, :html => {:method => :put, :class => 'tabular'}  do |f| %>
  <% if @invoice.is_a? ReceivedInvoice -%>
    <%= render :partial => 'received_invoices/form', :locals => { :f => f } %>
  <% else -%>
    <%= render :partial => 'invoices/form', :locals => { :f => f } %>
  <% end -%>
<%= submit_tag l(:button_save) %>
<% end %>

<div id="new_client_wrapper" style="display:none;">
  <%= render :partial => 'invoices/new_client' %>
</div>
