<h2><%= controller.controller_name == "invoice_templates" ? l(:label_invoice_template) : l(:label_invoice) %></h2>

<% labelled_tabular_form_for :invoice, @invoice, {:url => { :action => 'update', :id => @invoice }, :html => {:method => :put}}  do |f| %>
  <% if @invoice.is_a? ReceivedInvoice -%>
    <%= render :partial => 'received_invoices/form', :locals => { :f => f } %>
  <% else -%>
    <%= render :partial => 'invoices/form', :locals => { :f => f } %>
  <% end -%>
<%= submit_tag l(:button_save) %>
<% end %>

<!-- PDFtohtml -->
<% if @invoice.invoice_format == "pdf" and !@invoice.html.blank? -%>
  <h4><%=h l(:quick_pdf_view)%></h4>
  <div id="pdftohtml">
    <%=@invoice.html%>
  </div>
<% end -%>


<div id="new_client_wrapper" style="display:none;">
  <%= render :partial => 'invoices/new_client' %>
</div>
