<% if @invoice.invoice_img -%>

<div id="invoice_img_edit_metadata" class="row">

  <div class="col-xs-6">
    <img src="<%=project_invoice_img_path(@invoice.invoice_img, project_id: @project)%>" width="100%">
  </div>

  <div class="col-xs-6">

<% end -%>

<%= form_for @invoice.becomes(Invoice), url: {action: 'update', id: @invoice}, html: {method: :put}  do |f| %>
  <div id="row-title" class="row">

  <!--formulari-->
  <% if %w(sending sent registered accepted allegedly_paid closed).include?(@invoice.state) -%>
    <div class="flash warning col-xs-10"><%=raw l(:warn_edit_invoice)%></div>
  <% end -%>
  </div>

  <%= render partial: 'invoices/form', locals: {f: f} %>
  <!-- warning: form partial leaves a div intencionally open --!>

</div>
<% end %>

<!--final formulari-->

<% if @invoice.invoice_img -%>
  </div>

</div>
<% end -%>

<div id="new_client_wrapper" style="display:none;">
  <div id="new_client_form">
    <%= render partial: 'invoices/new_client', locals: {context: 'edit_invoice'} %>
  </div>
  <div class="overlay"></div>
</div>

<%=
  content_for :header_tags do
    stylesheet_link_tag 'bootstrap.vertical-tabs?v=2', plugin: 'haltr'
  end
%>
