<% if @invoice.invoice_img -%>

<div id="invoice_img" class="container1">
  <div class="container2">

    <div class="colu1">
        <%=  image_tag(project_invoice_img_path(@invoice.invoice_img, project_id: @project)) %>
    </div>

    <div class="colu2">

<% end -%>

<!--formulari-->
<div class="seccio grup">
  <div class="col span-2-de-2">

    <%= labelled_form_for :invoice, @invoice, :url => { :action => 'update', :id => @invoice }, :html => {:method => :put, :class => 'formee'}  do |f| %>
      <% if @invoice.is_a? ReceivedInvoice -%>
        <%= render :partial => 'received/form', :locals => { :f => f } %>
      <% else -%>
        <%= render :partial => 'invoices/form', :locals => { :f => f } %>
      <% end -%>
      <% if @invoice.original and !@invoice.modified_since_created? -%>
        <%= f.submit l(:button_save), :name => 'save', :confirm => l(:overriding_original_warn) %>
      <% else -%>
        <%= f.submit l(:button_save), :name => 'save' %>
      <% end -%>
      <% unless @invoice.is_a? InvoiceTemplate or @invoice.is_a? DraftInvoice -%>
        <% if @invoice.original and !@invoice.modified_since_created? -%>
          <%= f.submit l(:button_save_and_send), :name => 'save_and_send', :confirm => l(:overriding_original_warn) %>
        <% else -%>
          <%= f.submit l(:button_save_and_send), :name => 'save_and_send' %>
        <% end -%>
      <% end -%>
    <% end %>

  </div>
</div>
<!--final formulari-->

<% if @invoice.invoice_img -%>
    </div>

  </div>
</div>
<% end -%>




<div id="new_client_wrapper" style="display:none;">
  <%= render :partial => 'invoices/new_client', :locals => {:context => "edit_invoice"} %>
</div>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
