<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <%=  call_hook(:invoices_index_menu_top) %>
      <li><%= link_to_if_authorized(l("label_invoice_new"), new_project_invoice_path(@project), :class => 'icon icon-add') %></li>
      <% if num_can_be_sent > 0 -%>
        <li>
        <%= link_to_if_authorized "#{l(:button_send_invoices)} (#{num_can_be_sent})",{:action => 'send_new_invoices'} %>
        </li>
      <% end -%>
      <% if num_not_sent > 0 -%>
        <li>
        <%= link_to_if_authorized "#{l(:button_download_new_invoices)} (#{num_not_sent})",{:action => 'download_new_invoices'}, :title => l(:label_download_new_invoices_info) %>
        </li>
      <% end -%>
      <% if User.current.allowed_to?(:export_invoices, @project) -%>
        <li>
        <%= link_to 'CSV', project_invoices_path(@project, format: 'csv') -%>
        </li>
      <% end -%>
      <% if User.current.allowed_to?(:import_invoices, @project) -%>
        <li>
        <%= link_to l(:label_import), project_invoices_import_path(@project) -%>
        </li>
      <% end -%>
      <%=  call_hook(:invoices_index_menu_bottom) %>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<!--filtres-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <div class="filtres">
      <div class="titularAcc">
        <%= l(:label_filter_plural) %>
      </div>
      <div class="contingutAcc">
        <%= form_tag({:id=>@project}, :method => :get, :class => 'formee') do %>
          <fieldset>
            <legend><%= l(:label_search) %></legend>

            <div id="query_form_content" class="hide-when-print seccio grup">
              <div class="col span-2-de-2">
                <table>
                  <tr>
                    <td><label class="inline"><%= check_box_tag("state_all", "1", params["state_all"]) %> <%=l("label_all_invoices")%></label></td>
                  </tr>
                  <tr>

                <% %w(new sending sent error closed discarded registered refused accepted allegedly_paid).each do |state| -%>
                  <%= "</tr><tr>".html_safe if state == "discarded" %>
                  <td><label class="inline"><%= check_box_tag(state, "1", params[state]) %> <%=l("state_#{state}_plural")%></label></td>
                <% end -%>

                  </tr>
                </table>
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-1-de-3">
                <label for="date_from"><%=l(:field_date)%></label>
                <%= text_field_tag :date_from, (params[:date_from].nil? ? Date.new(Date.today.year) : params[:date_from]), :size => 10, :style => "width: 90%;" %><%= calendar_for('date_from') %>
              </div>
              <div class="col span-1-de-3">
                <label for="date_to"><%=l(:label_to)%></label>
                <%= text_field_tag :date_to, (params[:date_to].nil? ? Date.today : params[:date_to]), :size => 10, :style => "width: 90%;" %><%= calendar_for('date_to') %>
              </div>
              <div class="col span-1-de-3">
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-1-de-3">
                <label for="due_date_from"><%=l(:field_due_date)%></label>
                <%= text_field_tag :due_date_from, params[:due_date_from], :size => 10, :style => "width: 90%;" %><%= calendar_for('due_date_from') %>
              </div>
              <div class="col span-1-de-3">
                <label for="due_date_to"><%=l(:label_to)%></label>
                <%= text_field_tag :due_date_to, params[:due_date_to], :size => 10, :style => "width: 90%;" %><%= calendar_for('due_date_to') %>
              </div>
              <div class="col span-1-de-3">
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-1-de-3">
                <label for="number"><%= l(:field_number) %></label>
                <%= text_field_tag :number, params[:number] %>
              </div>
              <div class="col span-1-de-3">
                <label for="number"><%= l(:field_state_updated_at) %> <%= l(:label_greater_or_equal) %></label>
                <%= text_field_tag :state_updated_at_from, params[:state_updated_at_from], :size => 10, :style => "width: 90%;" %><%= calendar_for('state_updated_at_from') %>
              </div>
              <div class="col span-1-de-3">
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-2-de-3">
                <fieldset style="margin: 0;">
                  <legend>client</legend>
                  <div class="seccio grup">
                    <div class="col span-1-de-2">
                      <label for="taxcode"><%= l(:field_taxcode) %></label>
                      <%= text_field_tag :taxcode, params[:taxcode] %>
                    </div>
                    <div class="col span-1-de-2">
                      <label for="name"><%= l(:field_name) %></label>
                      <%= text_field_tag :name, params[:name] %>
                    </div>
                  </div>

                  <div class="seccio grup">
                    <div class="col span-2-de-2">
                      <label for="_client_id"><%= l(:label_company) %></label>
                      <%= collection_select(nil, :client_id, Client.find(:all, :order => 'name', :conditions => ["project_id = ?", @project]), :id, :name, {:include_blank => true, :selected => @client_id}) %>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col span-1-de-3" style="position: absolute; bottom: 15px; right: 15px; text-align: right;">
                <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--final filtres-->

<!--taula factures-->
<%= form_tag({}) do -%>
  <%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
  <div class="seccio grup">
    <div class="col span-2-de-2">
      <table class="taula-1 list invoices">
        <thead>
          <tr>
            <th></th>
            <%= sort_header_tag('number', :caption => l(:field_number)) %>
            <%= sort_header_tag('date', :caption => l(:field_date)) %>
            <%= sort_header_tag('clients.name', :caption => l(:field_company)) %>
            <%= sort_header_tag('import_in_cents', :caption => l(:label_subtotal)) %>
            <%= sort_header_tag('import_in_cents', :caption => l(:label_invoice_total)) %>
            <%= sort_header_tag('due_date', :caption => l(:field_due_date)) %>
            <%= sort_header_tag('state_updated_at', :title => l(:label_sort_by, "\"#{l(:field_state_updated_at)}\""), :caption => l(:field_state)) %>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| -%>
            <tr id="invoice-<%=invoice.id%>" class="hascontextmenu <%= 'amended ' if invoice.amended? %><%= cycle("odd", "even") %>">
              <td><%= check_box_tag("ids[]", invoice.id, false, :id => nil) %></td>
              <td><%=h link_to_if_authorized (invoice.number || "???"), :action => 'show', :id => invoice %></td>
              <td><%=h format_date invoice.date %></td>
              <td><%=h invoice.client %></td>
              <td class="money"><%= money(invoice.subtotal) %></td>
              <td class="money"><%= money(invoice.total) %></td>
              <td <%='class="pastdue"'.html_safe if invoice.past_due?%>><%=h format_date invoice.due_date %></td>
              <td><%=h l("state_#{invoice.state}").capitalize %></td>
            </tr>
          <% end -%>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">&nbsp;</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end -%>
<!--final taula factures-->

<!--paginacio-->
<div class="seccio grup paginacio pagination">
  <%= pagination_links_full @invoice_pages, @invoice_count %>
</div>
<!--final paginacio-->

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>

<%= context_menu invoices_context_menu_path %>
