<div class="contextual">
<%= link_to l(:label_invoice_new), {:action => 'new', :id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_invoice_plural)%></h2>

<% form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label><%= l(:label_invoice) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
</fieldset>
<% end %>
&nbsp;


<table class="list">
  <thead>
      <%= sort_header_tag('date', :caption => l(:field_date)) %>
      <%= sort_header_tag('number', :caption => l(:field_number)) %>
      <%= sort_header_tag('clients.name', :caption => l(:field_client)) %>
      <th style="width:15%"></th>
      <th style="width:15%"></th>
  </thead>
  <tbody>
<% for invoice in @invoices -%>
  <tr class="user <%= cycle("odd", "even") %>" />
    <td align="center"><%=h invoice.date %></td>
    <td align="center"><%= link_to h(invoice.number), {:action=>'showit',:id=>invoice}, :class => 'icon icon-show' %></td>
    <td><%=h invoice.client %></td>
    <td align="center"><%= link_to l(:button_edit), {:action=>'edit',:id=>invoice}, :class => 'icon icon-edit' %></td>
    <td align="center"><%= link_to l(:button_delete), {:action=>'destroy',:id=>invoice} , :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %></td>
  </tr>
<% end -%>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @invoice_pages, @invoice_count %></p>

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
      <%= render :partial => 'common/sidebar' %>
<% end %>
