<h2><%= controller.controller_name == "invoice_templates" ? l(:label_invoice_template_plural) : l(:label_invoice_plural)%></h2>

  <% form_tag({:id=>@project}, :method => :get) do %>
    <fieldset id="filters" class="collapsible"><legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div id="query_form_content" class="hide-when-print">
      <table>
        <tr>
          <th><%= l(:label_invoice_state) %>:</th>
          <td>
            <%= check_box_tag("state_all", "1", params["state_all"]) %> <span style="font-weight:bold;">All</span>
            <% %w(new sending sent error closed discarded).each do |state| -%>
              <%= check_box_tag(state, "1", params[state]) %> <%=l("state_#{state}_plural")%>
            <% end -%>
          </td>
        </tr>
        <tr>
          <th><%=l(:label_from)%>:</th>
          <td><%= text_field_tag :date_from, (params[:date_from].nil? ? Date.new(Date.today.year) : params[:date_from]), :size => 10 %><%= calendar_for('date_from') %></td>
        </tr>
        <tr>
          <th><%=l(:label_to)%>:</th>
          <td><%= text_field_tag :date_to, (params[:date_to].nil? ? Date.today : params[:date_to]), :size => 10 %><%= calendar_for('date_to') %></td>
        </tr>
        <tr>
          <th><%= l(:label_company) %>:</th>
          <td><%= collection_select(nil, :client_id, Client.find(:all, :order => 'name', :conditions => ["project_id = ?", @project]), :id, :name, {:include_blank => true, :selected => @client_id}) %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= submit_tag l(:button_apply), :class => "small", :name => nil %></td>
        </tr>
      </table>
    </div>
    </fieldset>
  <% end %>

  <% if @unread > 0 -%>
  <%= render_tabs [
    {:name=>'issued',:partial=>'invoices/issued_invoices',:label=>:label_issued},
    {:name=>'received_with_new',:partial=>'invoices/received_invoices',:label => [:label_received_with_num, {:num=>@unread}] }
  ] %>
  <% else -%>
  <%= render_tabs [
    {:name=>'issued',:partial=>'invoices/issued_invoices',:label=>:label_issued},
    {:name=>'received',:partial=>'invoices/received_invoices',:label => :label_received }
  ] %>
  <% end -%>

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
