<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'haltr', :plugin => 'haltr' %>
<% end %>

<div class="contextual">
  <%= link_to l(:label_invoice_new), {:action => 'new', :id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= controller.controller_name == "invoice_templates" ? l(:label_invoice_template_plural) : l(:label_invoice_plural)%></h2>

  <% form_tag({}, :method => :get) do %>
    <fieldset id="filters" class="collapsible"><legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div id="query_form_content" class="hide-when-print">
      <table>
        <tr>
          <th><%= l(:label_invoice_state) %>:</th>
          <td>
            <%= check_box_tag("state_all", "1", params["state_all"]) %> <span style="font-weight:bold;">All</span>
            <% %w(new sending sent error closed).each do |state| -%>
              <%= check_box_tag(state, "1", params[state]) %> <%=l("state_#{state}_plural")%>
            <% end -%>
          </td>
        </tr>
        <tr>
          <th><%=l(:label_from)%>:</th>
          <td><%= text_field_tag :date_from, (params[:date_from].nil? ? Date.new(Date.today.year) : params[:date_from]), :size => 10 %><%= calendar_for('date_from') %></td>
        </tr>
        <tr>
          <th><%=l(:label_to)%>:</th>
          <td><%= text_field_tag :date_to, (params[:date_to].nil? ? Date.today : params[:date_to]), :size => 10 %><%= calendar_for('date_to') %></td>
        </tr>
        <tr>
          <th><%= l(:label_company) %>:</th>
          <td><%= collection_select(nil, :client_id, Client.find(:all, :order => 'name', :conditions => ["project_id = ?", @project]), :id, :name, {:include_blank => true, :selected => params[:client_id]}) %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= submit_tag l(:button_apply), :class => "small", :name => nil %></td>
        </tr>
      </table>
    </div>
    </fieldset>
  <% end %>


<table class="list" id="invoices">
  <thead>
    <%= sort_header_tag('state', :caption => l(:field_state)) %>
    <%= sort_header_tag('number', :caption => l(:field_number)) %>
    <%= sort_header_tag('date', :caption => l(:field_date)) %>
    <%= sort_header_tag('due_date', :caption => l(:field_due_date)) %>
    <%= sort_header_tag('clients.name', :caption => l(:field_company)) %>
    <%= sort_header_tag('import_in_cents', :caption => l(:label_total)) %>
  </thead>
  <tbody>
    <% for invoice in @invoices -%>
      <tr class="user <%= cycle("odd", "even") %>" onclick="javascript: document.location = '<%=url_for(:action=>'showit', :id=>invoice)%>'">
        <td align="center"><%=h invoice.state.capitalize %></td>
        <td align="center"><%=h invoice.number %></td>
        <td align="center"><%=h invoice.date %></td>
        <td align="center"<%='class="pastdue"' if invoice.past_due?%>><%=h invoice.due_date %></td>
        <td><%=h invoice.client %></td>
        <td align="right"><%= money invoice.import %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @invoice_pages, @invoice_count %></p>

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
  <%= render :partial => 'common/sidebar' %>
<% end %>
