<!--formulari-->
<div class="seccio grup">
  <div class="col span-2-de-2">

    <% url_hash = { :action => 'create', :project_id => @project } -%>
    <% url_hash[:controller] = @dest_controller unless @dest_controller.blank? -%>
    <%= form_for @invoice.becomes(Invoice), :url => url_hash, :html => {:class=>'formee'} do |f| %>
      <% f.object = @invoice.becomes(@invoice.class) -%>
      <h2><%= l :label_invoice_new %></h2>
      <%= render :partial => 'invoices/form', :locals => { :f => f } %>
      <!-- warning: form partial leaves a div intencionally open --!>

      <div class="col-xs-2 col-no-pad-right">
      </div>
      <div class="col-xs-10 col-no-pad-left">
        <div class="tab-pane">
          <div class="text-right set-of-buttons">
            <%= f.submit l(:button_create), name: 'create', class: 'btn btn-primary' %>
            <% unless @invoice.is_a? InvoiceTemplate or @invoice.is_a? DraftInvoice -%>
              <%= f.submit l(:button_create_and_send), name: 'create_and_send', class: 'btn btn-primary' %>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  </div>
</div>
<!--final formulari-->

<div id="new_client_wrapper" style="display:none;">
  <%= render :partial => 'invoices/new_client', :locals => {:context => "new_invoice"} %>
</div>

<% html_title(l(:label_invoice_new)) -%>


<%=
  content_for :header_tags do
    stylesheet_link_tag 'bootstrap.vertical-tabs', plugin: 'haltr'
  end
%>
