<div class="tab-pane">
<%= form_tag project_invoices_report_invoice_list_path(@project) do %>
  <fieldset class="form-horizontal">
    <legend class="relative"><%= l(:label_invoice_report) %></legend>
    <div class="form-group">
      <label for="date_from" class="col-xs-1 control-label"><%=l(:field_date)%></label>
      <div class="col-xs-3">
        <div class="relative">
          <%= date_field_tag :date_from, (params[:date_from].nil? ? Date.new(Date.today.year) : params[:date_from]), class: 'form-control' %><%= calendar_for('date_from') %>
        </div>
      </div>
      <label for="date_to" class="col-xs-1 control-label"><%=l(:label_to)%></label>
      <div class="col-xs-3">
        <div class="relative">
          <%= date_field_tag :date_to, (params[:date_to].nil? ? Date.today : params[:date_to]), class: 'form-control' %><%= calendar_for('date_to') %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-8 text-right">
        <%= submit_tag l(:button_apply), class: 'btn btn-primary', name: nil %>
      </div>
    </div>
  </fieldset>
<% end -%>

<%= form_tag(project_invoices_report_channel_state_path, method: :get) do %>
  <fieldset class="form-horizontal">
    <legend class="relative"><%= l(:label_report_channel_state) %></legend>
    <div class="form-group">
      <div class="col-xs-8 text-right">
        <%= submit_tag l('label_report_channel_state'), class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= form_tag project_invoices_report_received_table_path(@project), method: :get do %>
  <fieldset class="form-horizontal">
    <legend class="relative"><%= l(:label_received) %></legend>
    <div class="form-group">
      <label for="date_from_received" class="col-xs-1 control-label"><%=l(:field_date)%></label>
      <div class="col-xs-3">
        <div class="relative">
          <%= date_field_tag :date_from_received, (params[:date_from_received].nil? ? Date.new(Date.today.year) : params[:date_from_received]), class: 'form-control' %><%= calendar_for('date_from_received') %>
        </div>
      </div>
      <label for="date_to_received" class="col-xs-1 control-label"><%=l(:label_to)%></label>
      <div class="col-xs-3">
        <div class="relative">
          <%= date_field_tag :date_to_received, (params[:date_to_received].nil? ? Date.today : params[:date_to_received]), class: 'form-control' %><%= calendar_for('date_to_received') %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-8 text-right">
        <%= submit_tag l(:button_apply), class: 'btn btn-primary', name: nil %>
      </div>
    </div>
  </fieldset>
<% end -%>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
</div>
