<% if @invoices -%>
  <div class="invoices_report">
    <h2><%= l(:label_invoice_report) %></h2>
    <p><%=l(:with_date) %> <%= format_date @from %> - <%= format_date @to %></p>
  </div>

  <% if @invoices.keys.any? -%>

    <% @invoices.keys.each do |currency| -%>

      <table class="taula-1 list" width="100%">

        <tr class="imparell">
          <th><%=l(:field_number)%></th>
          <th><%=l(:field_date)%></th>
          <th><%=l(:field_taxcode)%></th>
          <th><%=l(:field_firstname)%></th>
          <th><%=l(:field_amount)%></th>
          <% @tax_names[currency].sort.each do |tax_name| %>
            <th><%= tax_name %></th>
          <% end %>
          <th><%=l(:charge_bank_on_date)%></th>
          <th><%=l(:label_payment_plural)%></th>
        </tr>

        <% @invoices[currency].each do |i| -%>
          <tr class="<%= cycle("odd imparell", "even parell") %>">
            <td><%= i.number %></td>
            <td><%= format_date i.date %></td>
            <td><%= i.client.taxcode %></td>
            <td><%= i.client.name %></td>
            <td class="money"><%= money(i.subtotal) %></td>
            <% @tax_names[currency].sort.each do |tax_name| %>
              <td class="money"><%= i.tax_amount_for(tax_name).zero? ? '-' : money(i.tax_amount_for(tax_name)) %></td>
            <% end %>
            <td><%= i.due_date if i.debit? && i.client.bank_account %></td>
            <td><%= i.payments.collect{|p|format_date p.date}.uniq.join('<br/>').html_safe %></td>
          </tr>
        <% end -%>

        <tr>
          <td colspan="4"><%= l(:label_total) %></td>
          <th class="money"><%= money(@total[currency]) %></th>
          <% @tax_names[currency].sort.each do |tax_name| %>
            <th class="money"><%= money(@taxes[currency][tax_name]) %></th>
          <% end %>
          </td>
          <td colspan="2"/>
        </tr>
      </table>
    <% end -%>

  <% else -%>
    <p class="nodata"><%= l(:nothing_to_report) %></p>
  <% end -%>

<% end %>

<p><%= link_to l('back'), project_invoices_reports_path %></p>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
