<h2><%= l(:button_send_invoices)%></h2>
<p><%= l(:invoices_sent,:num=>@num_sent)%></p>
<% if @errors.any? -%>
  <p><%= l(:invoices_not_sent,:num=>@errors.size) %></p>
  <ul>
    <%= @errors.collect{|e| content_tag("li", e)}.join("\n").html_safe %>
  </ul>
<% end -%>
<% html_title(l(:button_send_invoices)) -%>
<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
