<% if @is_pdf -%>
  <%=@out.to_html.html_safe%>
<% else -%>

  <!--menu rapid-->
  <div class="seccio grup">
    <div class="col span-2-de-2">
      <ul class="menu-rapid">
        <li><%= link_to_if_authorized l("label_invoice_new"), new_project_invoice_path(@project), :class => 'icon icon-add' %></li>
        <li><%= link_to_if_authorized l(:button_edit), { :action => 'edit', :id => @invoice }, :class => 'icon icon-edit' %></li>
        <li><%= link_to_if_authorized l(:button_delete), { :action => 'destroy', :id => @invoice}, :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon icon-del' %></li>
        <%= render :partial => "#{@invoice.class.to_s.underscore}_menu" %>
        <% if @invoice.next%>
          <li class="invoice-navigator"><%=h link_to_if_authorized l(:label_next), :action => 'show', :id => @invoice.next %></li>
        <% end %>
        <% if @invoice.previous %>
          <li class="invoice-navigator"><%=h link_to_if_authorized l(:label_previous), :action => 'show', :id => @invoice.previous %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--final menu rapid-->

  <div id="invoice_wrapper">
    <div class="ribbon ribbon-<%= @invoice.state %>">
      <% if @invoice.is_a? InvoiceTemplate %>
        <span><%=h l("label_invoice_template") %></span>
      <% else %>
        <span><%=h l("state_#{@invoice.state}").capitalize %></span>
      <% end %>
    </div>
    <div id="workspace1" class="haltrinvoice">
      <div id="workspace2">
        <div id="col1">
          <%=@out.to_html.html_safe%>
          <%= link_to_attachments @invoice, thumbnails: false, author: false %>
        </div>
      </div>
    </div>
  </div>

  <% if @invoice.send_original? %>
    <p>* <%= l(:label_will_send_original) -%></p>
  <% end -%>

  <div class="seccio grup">
    <div class="col span-2-de-2">
      <div class="formee-msg-info invoice-comments">
        <h3 id="haltr_comments">
          <%=h l(:label_comment_plural)%>
          <%= toggle_link image_tag('add.png'), "add_comment_form", :focus => "comment_comments" %>
        </h3>
        <%= form_tag({:controller => 'invoices', :action => 'add_comment', :id => @invoice, :project_id => @project}, :id => "add_comment_form", :style => "display:none;") do %>
          <div class="box">
            <%= text_area 'comment', 'comments', :cols => 80, :rows => 5, :class => 'wiki-edit' %>
          </div>
          <p><%= submit_tag l(:button_add) %></p>
        <% end %>

        <ul>
          <% @invoice.comments.reverse.each do |comment| -%>
            <li><strong><%= format_time comment.created_on %></strong> - <%= comment.author.name %>: <%= comment.comments %></li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>

  <%= render :partial => 'events/list', locals: {events: @invoice.visible_events} %>
  <%= render :partial => 'invoices/issued_invoice_list_other' if @invoice.is_a? IssuedInvoice %>
  <%= render :partial => 'invoices/channel_links' if (Rails.env == "development" or User.current.allowed_to?(:use_all_readonly, @project)) and @invoice.is_a? IssuedInvoice %>

  <% if @invoice.is_a? InvoiceTemplate and @invoices_generated and @invoices_generated.any? -%>
    <h3><%= l(:label_generated_invoices)%></h3>
    <p>
    <% @invoices_generated.each do |invoice| -%>
      <%=link_to_if_authorized invoice.number, :controller => 'invoices', :action => 'show', :id => invoice %><%= ", " unless invoice == @invoices_generated.last %>
    <% end -%>
    </p>
  <% end -%>

  <% content_for :sidebar do %>
    <%= render_menu :invoices_menu, @project %>
  <% end %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
  <% end %>

  <%=
    # @autocall will be automatically called from javascript (haltr_sign.js)
  # we can get here when pressing "save and send" button on invoice form if
  # invoice is sent with javascript method (javascript attribute on channels.yml)
  tag("div", :id => 'autocall', 'data-function' => @autocall, 'data-args' => @autocall_args) if @autocall
%>

<%=
  unless @js.blank?
    content_for :header_tags do
      javascript_include_tag('/invoices/haltr_sign.js') +
        javascript_include_tag('miniapplet.js', :plugin => 'haltr')
    end
  end

  if @invoice.is_a? IssuedInvoice and @invoice.state? :sending
    content_for :header_tags do
      javascript_include_tag 'refresher.js', plugin: 'haltr'
    end
  end
%>

<% end -%>
