<div id="invoice_wrapper">

  <!-- TODO -->  
  <iframe src="/invoices/legal/57.xml" frameborder="0" scrolling="vertical" style="width:100%;height:700px;"/>

  <p/>

  <% if @invoice.events.any? -%>
    <div id="events">
      <h4><%=l(:events)%></h4>
      <p></p>
      <ul>
        <% @invoice.events.each do |e| -%>
          <li><%= e %><%= download_link_for(e) %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

</div>

<% content_for :sidebar do %>
  <%= render :partial => 'common/sidebar' %>
  <%= render :partial => "invoices/#{@invoice.class.to_s.underscore}_menu" %>
<% end %>
