<div class="clearfix">
<div class="pull-left">
  <h2>
    <%= link_to "", index_url_helper, class: 'fa fa-long-arrow-left fa-big fa-left', aria: { hidden: true } %>
    <%= "#{l :label_issued_invoice} #{@invoice.number}" %>
  </h2>
</div>
</div>




<!--menu rapid-->
<div class="wrapper-default">
  <div class="row">
    <div class="col-xs-10">
      <ul class="list-inline">
        <% if @invoice.order -%>
          <li><%= link_to_if_authorized l(:label_order), project_order_path(@invoice.order, project_id: @project), class: 'icon-fa icon-fa-fw icon-fa-file' %></li>
        <% end -%>
        <% if @invoice.is_a?(ReceivedInvoice) and @invoice.invoice_format == 'pdf' -%>
          <li><%= link_to_if_authorized l(:button_edit_metadata), { action: 'edit', id: @invoice }, class: 'icon-fa icon-fa-pencil' %></li>
        <% elsif !@invoice.is_a?(ReceivedInvoice) -%>
          <li><%= link_to_if_authorized l(:button_edit), { action: 'edit', id: @invoice }, class: 'icon-fa icon-fa-pencil' %></li>
        <% end -%>
        <li><%= link_to_if_authorized l(:button_delete), { action: 'destroy', id: @invoice}, data: {confirm: l(:text_are_you_sure)}, method: :delete, class: 'icon-fa icon-fa-trash' %></li>

        <%= render partial: "#{@invoice.class.to_s.underscore}_menu" %>
      </ul>
    </div>
    <div class="col-xs-2">
      <%= render partial: 'common/navigation_links', locals: {obj: @invoice} %>
    </div>
  </div>
</div>
<!--final menu rapid-->

<%= render partial: 'mark_as_modal' %>


<% if @invoice.is_a? ReceivedInvoice -%>
  <div id="invoice-refuse" class="tab-pane form-horizontal" style="display: none;">
    <%= render partial: "invoice_refuse_form" %>
  </div>
  <div id="invoice-accept" class="tab-pane form-horizontal" style="display: none;">
    <%= render partial: "invoice_accept_form" %>
  </div>
<% end -%>

<% if @invoice_pdf -%>
  <!-- TODO -->
  <div id="invoice_img">
    <div class="colu1">
      <iframe src="/pdfjs/web/viewer.html?file=<%=@invoice_pdf%>" style="border: 0" width="720px" height="890" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="colu2">
      <% if @invoice.state == 'processing_pdf' -%>
        <p><%= I18n.t @invoice.state %></p>
      <% elsif @invoice.invoice_img -%>
        <%= render partial: 'invoice_imgs/metadata', locals: {invoice_img: @invoice.invoice_img } %>
      <% else -%>
        <div style="margin: 20px 0 20px 0;">
          <%= link_to button_tag(I18n.t(:process_pdf), class: ''), process_pdf_path(@invoice), method: :post %>
        </div>
        <%= labelled_form_for :invoice, @invoice, url: invoice_path(@invoice) do |f| %>
          <fieldset class="tabular box">
            <div class="seccio grup">
              <p class="col pdf" id="client_select">
              <% if @invoice.is_a? ReceivedInvoice -%>
                <%= render partial: 'received/clients', locals: {selected: @created_client || @invoice.client_id} %>
              <% else -%>
                <%= render partial: 'invoices/clients', locals: {selected: @created_client || @invoice.client_id} %>
              <% end -%>
              </p>
            </div>
            <%= f.submit l(:button_update), name: 'create' %>
          </fieldset>
        <% end -%>
        <div id="new_client_wrapper" style="display:none;">
          <%= render partial: 'invoices/new_client', locals: {context: "edit_invoice"} %>
        </div>

        <div>
          <p><%= t :credit %>: <%= @project.company.free_ocr_account.balance.to_f + @project.company.free_issues_account.balance.to_f + @project.company.buy_account.balance.to_f %>€</p>
          <p><%= link_to button_tag(I18n.t(:process_pdf), class: ''), process_pdf_path(@invoice), method: :post %></p>
        </div>

      <% end -%>
    </div>
  </div>
  <!-- TODO -->
<% else -%>

  <% if @invoice.invoice_img -%>
      <div id="workspace1" class="haltrinvoice">
        <div id="workspace2">
          <div id="col1">
            <%= render partial: 'invoice_imgs/show', locals: {invoice_img: @invoice.invoice_img } %>
        </div>
      </div>
    </div>
  <% else -%>

    <div id="invoice_wrapper" class="wrapper-element">
      <div class="ribbon-<%= @invoice.state %> text-center">
        <% if @invoice.is_a? InvoiceTemplate %>
          <%=h l("label_invoice_template") %>
        <% else %>
          <%=h l("state_#{@invoice.state}").capitalize %>
        <% end %>
      </div>
      <div id="workspace1" class="haltrinvoice">
        <div id="workspace2">
          <div id="col1">
            <%= render partial: 'invoices/invoice' %>
            <%= link_to_attachments @invoice, thumbnails: false, author: false %>
          </div>
        </div>
      </div>
    </div>

  <% end -%>

<% end -%>

<% if @invoice.send_original? and @invoice.is_a? IssuedInvoice %>
  <% if @invoice.original and @invoice.invoice_format == 'pdf' -%>
    <p>* <%= @invoice.invoice_format.upcase rescue "" %> <%= l(:label_will_send_original_pdf) -%></p>
  <% else -%>
    <p>* <%= @invoice.invoice_format.upcase rescue "" %> <%= l(:label_will_send_original) -%></p>
  <% end -%>
<% end -%>

<div id="list-left" class="splitcontentleft">
  <div class="mypage-box">
    <div class="chart_events">
      <h3><%= l :label_history %></h3>
      <div class="wrapper-default">
        <p>&nbsp;</p>
      </div>
      <fieldset>
        <div class="wrapper-table">
          <%= render partial: 'events/table', locals: {events: @invoice.visible_events} %>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div id="list-right" class="splitcontentright">
  <div class="mypage-box">
    <div>
      <h3><%=h l(:label_comment_plural)%></h3>
      <div class="wrapper-default">
        <%= form_tag({controller: 'invoices', action: 'add_comment', id: @invoice, project_id: @project}, id: "add_comment_form") do %>
          <div class="row">
            <div class="col-xs-10">
              <%= text_field 'comment', 'comments', class: 'form-control', placeholder: l(:write_comment) %>
            </div>
            <div class="col-xs-2 col-no-pad-left">
              <%= submit_tag l(:button_add), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end -%>
      </div>
      <fieldset>
        <div class="wrapper-table">
          <table class="cashflow table table-striped">
            <tbody>
              <% @invoice.comments.reverse.each do |comment| -%>
                <tr>
                  <td class="nowrap"><%= format_time comment.created_on %></td>
                  <td class="nowrap"><strong><%= comment.author.name %></strong></td>
                  <td class="w100p"><%= comment.comments %></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>

  <%= render partial: 'invoices/issued_invoice_list_other' if @invoice.is_a? IssuedInvoice %>
  <%= render partial: 'invoices/channel_links' if (Rails.env == "development" or User.current.allowed_to?(:use_all_readonly, @project)) and @invoice.is_a? IssuedInvoice %>

  <% if @invoice.is_a? InvoiceTemplate and @invoices_generated and @invoices_generated.any? -%>
    <h3><%= l(:label_generated_invoices)%></h3>
    <p>
    <% @invoices_generated.each do |invoice| -%>
      <%=link_to_if_authorized invoice.number, controller: 'invoices', action: 'show', id: invoice %><%= ", " unless invoice == @invoices_generated.last %>
    <% end -%>
    </p>
  <% end -%>

  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'minimal?v=2', plugin: 'haltr' %>
  <% end %>

  <%=
    # @autocall will be automatically called from javascript (haltr_sign.js)
  # we can get here when pressing "save and send" button on invoice form if
  # invoice is sent with javascript method (javascript attribute on channels.yml)
  tag("div", id: 'autocall', 'data-function' => @autocall, 'data-args' => @autocall_args) if @autocall
%>

<%=
  if @invoice.client and @invoice.client.sign_with_local_certificate?
    content_for :header_tags do
      javascript_include_tag('/invoices/haltr_sign.js?v=2') +
        javascript_include_tag('miniapplet.js?v=2', plugin: 'haltr')
    end
  end

  if (@invoice.is_a? IssuedInvoice and @invoice.sending?) or
      (@invoice.is_a? ReceivedInvoice and @invoice.processing_pdf?)
    content_for :header_tags do
      javascript_include_tag 'refresher.js?v=2', plugin: 'haltr'
    end
  end
%>
</div>
