<h4><%= "#{l :ReceivedInvoice} #{transport_text(@invoice)} #{l :in_format, :format => @invoice.invoice_format}" %></h4>

<div id="invoice-refuse" style="display: none;">
  <%= render :partial => "invoice_refuse_form" %>
</div>
<div id="invoice-accept" style="display: none;">
  <%= render :partial => "invoice_accept_form" %>
</div>
<div id="invoice_wrapper">
  
  <div id="InvoiceOutput">
    ............
  </div>

  <%= render :partial => "payments" -%>

  <%= render :partial => "events" -%>

</div>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
  <%= render :partial => "invoice_menu" %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
  <%= javascript_include_tag 'haltr', :plugin => 'haltr' %>
  <%= javascript_include_tag 'sarissa', :plugin => 'haltr' %>
  <%= javascript_include_tag 'received_invoice', :plugin => 'haltr' %>
  <script type="text/javascript">
 
  function XsltTransform() {
    sourceXml= loadFile("<%= url_for(:action => 'legal', :id => @invoice, :format => :xml, :kk => 123) %>");
    xml = (new DOMParser()).parseFromString(sourceXml, "text/xml");
    sourceXslt = loadFile("/plugin_assets/haltr/xsl/<%= @xsl %>.xsl");
    xslt = (new DOMParser()).parseFromString(sourceXslt, "text/xml");
    var processor = new XSLTProcessor();
    processor.importStylesheet(xslt);
    var XmlDom = processor.transformToDocument(xml)
    var serializer = new XMLSerializer(); 
    var output = serializer.serializeToString(XmlDom.documentElement);
    var outputDiv = document.getElementById("InvoiceOutput");
    outputDiv.innerHTML = output;
  }
  addLoadEvent(XsltTransform);
  </script>
<% end %>
