<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to l(:button_edit), edit_invoice_path(@invoice), :class => 'icon icon-edit' %></li>
      <li><%= link_to l(:button_delete), invoice_path(@invoice), :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon icon-del' %></li>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<div id="invoice_wrapper">
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">

      <%= render :partial=>'invoices/invoice' %>

      <%= render :partial=>'invoices/events'%>

      <% if User.current.admin? %>
        <%= render :partial=>'invoices/channel_links'%>
      <% end %>

      </div>
    </div>
  </div>
</div>

<textarea id="console" rows="10" style="width:99%; visibility:hidden;">
</textarea>

<% unless @is_pdf -%>
  <% content_for :sidebar do %>
    <%= render_menu :invoices_menu, @project %>
  <% end %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
  <% end %>
<% end %>
