<div class="row">
<div class="col-xs-6">
  <h2><%= l :label_invoice_plural %></h2>
</div>
</div>

<div class="tab-pane row form-horizontal">

  <%= form_tag({}, multipart: true) do %>
    <div class="form-group">
      <%= label_tag :file, l(:label_attachment_plural), class: 'col-xs-3 control-label' %>

      <div class="col-xs-5">
        <%= render partial: 'attachments/form' %>
      </div>

    </div>

    <% if @issued %>
      <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
          <div class="checkbox">
            <%= label_tag 'send_after_import' do %>
              <%= check_box_tag 'send_after_import' %>
              <%= l(:send_after_import) %>
            <% end -%>
          </div>
          <div class="checkbox">
            <%= label_tag 'validate' do %>
              <%= check_box_tag 'validate', 'false' %>
              <%= l(:skip_invoice_validations) %>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>
    <%= hidden_field_tag(:issued, @issued) %>

    <div class="form-group">
      <div class="col-xs-8 text-right">
        <%= submit_tag l(:label_import), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

</div>

<% html_title(l(:import_invoice)) -%>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'attachments?v=2' %>
<% end %>

<%= context_menu invoices_context_menu_path %>
