<div>
  <div class="clearfix">
  <div class="pull-left">
    <h2>
      <% if @invoice.amend_of -%>
        <%= l(:amended_invoice, link: @invoice.amend_of.number) %> (<%= l("amend_total") %>)
      <% elsif @invoice.partial_amend_of -%>
        <%= l(:amended_invoice, link: @invoice.partial_amend_of.number) %> (<%= l("amend_partial") %>)
      <% else -%>
        <%= "#{controller.controller_name == 'invoice_templates' ? l(:label_invoice_template) : l(:label_invoice)} #{@invoice.number}" %>
      <% end -%>
    </h2>
  </div>
  </div>


  <div class="wrapper-default">
    <div class="row">
      <div class="col-xs-10">
        <ul class="list-inline">
            <% ct = ExportFormats[@invoice.invoice_format]["content-type"] rescue "" %>
            <%  case ct %>
            <%  when 'text-xml' %>
              <li><%= link_to l(:download_as_xml), {action: 'show', id: @invoice, format: 'facturae32'}, class: 'icon-fa icon-fa-download' %></li>
            <%  when 'application-pdf' %>
              <li><%= link_to l(:download_as_pdf), {action:'show', id: @invoice, format: 'pdf'}, class: 'icon-fa fa-file-pdf-o' %></li>
            <%  end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="invoice_wrapper" class="wrapper-element">
    <div class="ribbon-<%= @invoice.state %> text-center">
      <% if @invoice.is_a? InvoiceTemplate %>
        <%=h l("label_invoice_template") %>
      <% else %>
        <%=h l("state_#{@invoice.state}").capitalize %>
      <% end %>
    </div>
    <div id="workspace1" class="haltrinvoice">
      <div id="workspace2">
        <div id="col1">
          <%= render partial: 'invoices/invoice' %>
          <%= link_to_attachments @invoice, thumbnails: false, author: false %>
        </div>
      </div>
    </div>
  </div>


<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal?v=2', :plugin => 'haltr' %>
  <% if @invoice_xslt_html -%>
    <%= stylesheet_link_tag 'facturae_xslt_viewer?v=2', :plugin => 'haltr' %>
    <%= javascript_include_tag "facturae_xslt_viewer?v=2", :plugin => "haltr"%>
  <% end -%>
<% end %>
