<div>

  <% if @last_success_sending_event -%>
    <ul class='menu'>
      <li>
      <%= link_to l(:download_legal), :controller=>"invoices", :action=>"download", :client_hashid=>@client.hashid, :invoice_id=>@invoice.id, :event=>@last_success_sending_event %>
      </li>
    </ul>
  <% end %>

  <div id="invoice_wrapper">
    <div id="workspace1" class="haltrinvoice">
      <div id="workspace2">
        <div id="col1">

          <% if @show_pdf -%>
            <iframe src="/pdfjs/web/viewer.html?file=<%=event_file_path(@last_success_sending_event)%>" style="border: 0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
          <% elsif @invoice_xslt_html -%>
            <%=@invoice_xslt_html.to_html.html_safe%>
            <%= link_to_attachments @invoice, thumbnails: false, author: false %>
          <% else -%>
            <%= render :partial=>'invoices/invoice' %>
          <% end -%>

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'invoices/issued_invoice_list_other' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
  <% if @invoice_xslt_html -%>
    <%= stylesheet_link_tag 'facturae_xslt_viewer', :plugin => 'haltr' %>
    <%= javascript_include_tag "facturae_xslt_viewer", :plugin => "haltr"%>
  <% end -%>
<% end %>
