<h2><%= l(:button_generate_invoices) %></h2>

<p><%= l(:with_date) %> &lt;= <%= @date.to_date %>.</p>
<% if @invoices.size > 0 -%>
<ul>
<% @invoices.each do |i| -%>
  <li><%= link_to "#{i.number} #{i.date}. #{i.client.name} #{i.total}", :controller=>"invoices", :action=>"show", :id=>i  %></li>
<% end -%>
</ul>
<% else -%>
  <p class="nodata"><%=l(:nothing_to_generate)%></p>
<% end -%>

<% content_for :sidebar do %>
  <%= render :partial => 'invoices/sidebar' %>
<% end %>
