<h2><%=l(:label_task_plural)%></h2>


<ul>
  <li>
    <%= l(:label_charge_n19) %>
    <% if @charge_bank_on_due_date.size > 0 -%>
    <ul>
      <% @charge_bank_on_due_date.each do |invoice| -%>
      <li>
        <%= invoice.due_date %> (<%= invoice.invoice_count %>) - <%= link_to l(:button_download), :action => 'n19', :id => invoice %> - <%= link_to l(:button_mark_done), {:action => 'n19_done', :id => invoice}, :confirm => l(:text_are_you_sure), :method => :post %>
      </li>
      <% end -%>
    </ul>
    <% else -%>
    (0)
    <% end -%>
  </li>
  <li>
  <%= form_tag(url_for(:action => 'import_aeb43', :id => @project ), :multipart => true ) do |f| %>
    <%= l(:label_import_aeb43) %> <%= file_field_tag 'file', :size => 30, :id => nil  -%>
    <%= submit_tag l(:button_submit) %>
  <% end %>
  </li>
</ul>




<% html_title(l(:label_task_plural)) -%>

<% content_for :sidebar do %>
  <%= render_menu :payments_menu, @project %>
<% end %>
