<h2><%= l(:label_invoice_report) %></h2>

<p><%=l(:with_date) %> &gt;= <%= @date %>.</p>

<% if @invoices.keys.any? -%>

  <% @invoices.keys.each do |currency| -%>

  <table class="list" width="100%">

    <tr>
      <th><%=l(:field_number)%></th>
      <th><%=l(:field_date)%></th>
      <th><%=l(:field_taxcode)%></th>
      <th><%=l(:field_firstname)%></th>
      <th><%=l(:field_amount)%></th>
      <% @tax_names[currency].sort.each do |tax_name| %>
        <th><%= tax_name %></th>
      <% end %>
      <th><%=l(:charge_bank_on_date)%></th>
      <th><%=l(:label_payment_plural)%></th>
    </tr>

    <% @invoices[currency].each do |i| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= i.number %></td>
        <td><%= i.date %></td>
        <td><%= i.client.taxcode %></td>
        <td><%= i.client.name %></td>
        <td style="text-align: right;"><%= money(i.subtotal) %></td>
        <% @tax_names[currency].sort.each do |tax_name| %>
          <td style="text-align: right;"><%= i.tax_amount_for(tax_name).zero? ? '-' : money(i.tax_amount_for(tax_name)) %></td>
        <% end %>
        <td style="text-align:center;"><%= i.due_date if i.debit? && i.client.bank_account %></td>
        <td style="text-align:center;"><%= i.payments.collect{|p|p.date}.join('<br/>') %></td>
      </tr>
    <% end -%>

    <tr>
      <td colspan="4"/>
        <th style="text-align: right;"><%= money(@total[currency]) %></th>
        <% @tax_names[currency].sort.each do |tax_name| %>
          <th style="text-align: right;"><%= money(@taxes[currency][tax_name]) %></th>
        <% end %>
      </td>
    </tr>
  </table>
  <% end -%>

<% else -%>
  <p class="nodata"><%= l(:nothing_to_report) %></p>
<% end -%>

<% content_for :sidebar do %>
  <%= render :partial => 'invoices/sidebar' %>
<% end %>
