<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to_if_authorized l("label_invoice_template_new"), new_project_invoice_template_path(@project), :class => 'icon icon-add' %></li>
      <% if num_new_invoices > 0 %>
        <li><%= link_to_if_authorized "#{l(:button_generate_invoices)} (#{num_new_invoices})", {:action => 'new_invoices_from_template'}, :method => :post %></li>
      <% end -%>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<!--filtres-->
<%= form_tag({id: @project}, method: :get, class: 'formee form-horizontal hide-when-print') do %>
  <div class="filtres">
    <div class="titularAcc">
      <div class="row">
        <div class="col-xs-6 pad-top-7">
          <a class="titularAccFilters icon-fa-right icon-fa-right-angle-down">
            <%= l(:label_filter_plural) %>
          </a>
        </div>
      </div>
    </div>
    <div class="contingutAcc">
      <div id="query_form_content" class="row">
        <div class="form-group">
          <label for="date_from" class="col-xs-2 control-label"><%=l(:field_date)%></label>
          <div class="col-xs-3">
            <div class="relative">
              <%= date_field_tag :date_from, params[:date_from], class: 'form-control' %><%= calendar_for('date_from') %>
            </div>
          </div>
          <label for="date_to" class="col-xs-2 control-label"><%=l(:label_to)%></label>
          <div class="col-xs-3">
            <div class="relative">
              <%= date_field_tag :date_to, params[:date_to], class: 'form-control' %><%= calendar_for('date_to') %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="taxcode" class="col-xs-2 control-label"><%= l(:field_taxcode) %></label>
          <div class="col-xs-3">
            <%= text_field_tag :taxcode, params[:taxcode], class: 'form-control' %>
          </div>
          <label for="name" class="col-xs-2 control-label"><%= l(:field_name) %></label>
          <div class="col-xs-3">
            <%= text_field_tag :name, params[:name], class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label for="_client_id" class="col-xs-2 control-label"><%= l(:label_company) %></label>
          <div class="col-xs-3">
            <%= collection_select(nil, :client_id, Client.where("project_id = ?", @project).order(:name), :id, :name, {:include_blank => true, :selected => @client_id}, class: 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-10 text-right">
            <%= submit_tag l(:button_apply), class: "btn btn-primary", name: nil %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!--final filtres-->



<div class="wrapper-table bg-white">
  <!--taula factures-->
  <%= form_tag({}) do -%>
    <%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
    <table class="table table-striped table-hover invoices" id="invoices">
      <thead>
        <th></th>
        <%= sort_header_tag('date', :caption => l(:field_date)) %>
        <%= sort_header_tag('frequency', :caption => l(:field_frequency)) %>
        <%= sort_header_tag('clients.name', :caption => l(:field_company)) %>
        <th class="text-right"><%= l(:label_invoice_total) %></th>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| -%>
          <tr id="invoice-<%=invoice.id%>" class="hascontextmenu">
            <td><%= check_box_tag("ids[]", invoice.id, false, :id => nil) %></td>
            <td><%=h link_to(format_date(invoice.date), invoice_template_path(invoice)) %></td>
            <td><%= l("mf#{invoice.frequency}") %></td>
            <td><%=h invoice.client %></td>
            <td class="money"><%= money(invoice.total) %></td>
          </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5"></td>
        </tr>
      </tfoot>
    </table>
  <% end -%>
  <!--final taula factures-->

  <!--paginacio-->
  <div class="wrapper-pagination-results">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-5">
        <div class="pagination">
          <%= pagination_links_full(@invoice_pages, @invoice_count, per_page_links: false) %>
        </div>
      </div>
      <div class="col-xs-3 text-right">
        <form class="form-inline">
          <label for="sel-results"><%= l :button_show %></label>
          <%= select_tag('sel-results', options_for_select(Setting.per_page_options_array, selected: params[:per_page]), class: 'form-control') %>
        </form>
      </div>
    </div>
  </div>
  <!--final paginacio-->

  <% html_title(l(:label_invoice_plural)) -%>

  <% content_for :sidebar do %>
    <%= render_menu :invoices_menu, @project %>
  <% end %>

  <%= context_menu invoice_templates_context_menu_path %>
</div>
