<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to_if_authorized l("label_invoice_template_new"), new_project_invoice_template_path(@project), :class => 'icon icon-add' %></li>
      <% if num_new_invoices > 0 %>
        <li><%= link_to_if_authorized "#{l(:button_generate_invoices)} (#{num_new_invoices})", {:action => 'new_invoices_from_template'}, :method => :post %></li>
      <% end -%>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<!--taula factures-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <table class="taula-1 list invoices" id="invoices">
      <thead>
        <%= sort_header_tag('date', :caption => l(:field_date)) %>
        <th><%=l(:field_frequency)%></th>
        <%= sort_header_tag('clients.name', :caption => l(:field_company)) %>
        <th><%= l(:label_total) %></th>
      </thead>
      <tbody>
        <% for invoice in @invoices -%>
          <tr class="user <%= cycle("odd", "even") %>" onclick="javascript: document.location = '<%=url_for(:action=>'show', :id=>invoice)%>'">
            <td><%=h format_date invoice.date %></td>
            <td><%= l("mf#{invoice.frequency}") %></td>
            <td><%=link_to_if_authorized h(invoice.client), {:controller => 'clients', :action => 'edit', :id => invoice.client} %></td>
            <td class="money"><%= money(invoice.total) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
<!--final taula factures-->

<!--paginacio-->
<div class="seccio grup paginacio pagination">
  <%= pagination_links_full @invoice_pages, @invoice_count %>
</div>
<!--final paginacio-->

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
