<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'haltr', :plugin => 'haltr' %>
<% end %>

<div class="contextual"><%= link_to l(:label_invoice_template_new), {:action => 'new', :id => @project}, :class => 'icon icon-add' %></div>

<h2><%= l(:label_invoice_template_plural) %></h2>

<table class="list" id="invoices">
  <thead>
    <%= sort_header_tag('date', :caption => l(:field_date)) %>
    <th><%=l(:field_frequency)%></th>
    <%= sort_header_tag('clients.name', :caption => l(:field_client)) %>
    <th></th>
    <th><%= l(:label_total) %></th>
  </thead>
  <tbody>
<% for invoice in @invoices -%>
  <tr class="user <%= cycle("odd", "even") %>" onclick="javascript: document.location = '<%=url_for(:action=>'showit', :id=>invoice)%>'">
    <td align="center"><%=h invoice.date %></td>
    <td align="center"><%=h invoice.frequency%></td>
    <td><%=link_to h(invoice.client), {:controller => 'clients', :action => 'edit', :id => invoice.client} %></td>
    <td align="center"><%= link_to l(:button_show), {:action=>'showit',:id=>invoice}, :class => 'icon icon-show' %></td>
    <td align="right"><%= invoice.total %></td>
  </tr>
<% end -%>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @invoice_pages, @invoice_count %></p>

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
      <%= render :partial => 'common/sidebar' %>
<% end %>
