<% bank_info_id = f.object.new_record? ? Time.now.to_i : f.object.id -%>

<tr class="nested-fields">
  <td><%= f.text_field :name, class: 'form-control' %></td>
  <% if @company.bank_infos.reject {|bi| bi.bank_account.blank? }.present? -%>
    <td>
      <% unless f.object.bank_account.blank? -%>
        <%= f.text_field :bank_account, :maxlength => 20, :size => 30, :no_label => true, :disabled => true, class: 'form-control' %>
      <% end -%>
    </td>
  <% end -%>
  <td>
    <%= f.text_field :iban, maxlength: 34, class: 'iban form-control', data: { url: project_check_iban_path(@project), "span-for-result"=>"iban#{bank_info_id}" } %>
    <span id="iban<%=bank_info_id%>" class="ownibanspan"></span>
  </td>
  <td><%= f.text_field :bic, maxlength: 11, class: 'form-control' %></td>
  <td class="tax_remove w6p text-right">
    <!-- cocoon -->
    <%= link_to_remove_association "<i class='fa fa-trash' aria-hidden='true'></i>".html_safe, f %>
  </td>
</tr>
