<div class="chart_events">
  <%= render :partial => 'common/chart_headers' %>
  <% old_project = @project %>
  <h3><%= l(:chart_events) %></h3>
  <%= select_tag "value", options_for_select({ t(:label_last_changes, :count=>10)=>10,
                                               t(:label_last_changes, :count=>20)=>20 },
                                             User.current.pref.others[:chart_events].to_i),
    :data  => { :url => url_for(update_chart_preference_path) },
    :id    => 'chart_events',
    :class => 'chart_prefs'
  %>

  <% haltr_projects.each do |project| -%>
    <%
      num = User.current.pref.others[:chart_events].to_i
      num = 10 unless num > 0
      events = project.events.where('events.type != "HiddenEvent"').order('created_at DESC').first(num)
      @project = project
    -%>
    <fieldset>
      <legend><%= project.company.name if haltr_projects.size > 1 %></legend>
      <% if events.any? %>
        <ul>
          <% events.each do |e| %>
            <li>
            <%= format_time e.created_at %> -
            <%= link_to_invoice_with_label(e.invoice) -%>
              <%= render :partial => "events/event_short", :locals => {:e=>e} %>
            </li>

            <div id="audited_<%=e.id%>" class="audited">
              <% e.audits.each do |a| -%>
                <%= render partial: "audits/audit", locals: { a: a } %>
              <% end -%>
            </div>

          <% end -%>
        </ul>
      <% else -%>
        <p><%= l(:label_no_data) %></p>
      <% end -%>
    </fieldset>
    <br />
  <% end -%>

  <% @project = old_project %>
</div>
