<div class="chart_invoice_status">
  <%= render :partial => 'common/chart_headers' %>

    <h3><%=l('chart_invoice_status')%></h3>
    <%= select_tag "value", options_for_select({t(:last_year_by_month)=>"last_year_by_month",
                                                t(:last_month_by_week)=>"last_month_by_week",
                                                t(:all_by_year)=>"all_by_year",
                                                t(:all_by_month)=>"all_by_month"},
                                               User.current.pref.others[:chart_invoice_status]),
                   :data  => { :url => url_for(update_chart_preference_path) },
                   :id    => 'chart_invoice_status',
                   :class => 'chart_prefs'
    %>

  <% haltr_projects.each do |project| %>
    <h3><%= project.company.name if haltr_projects.size > 1 %></h3>
    <%= column_chart project_invoice_status_chart_path(project), id: "chart_invoice_status_#{project.identifier}", library: {isStacked: true, vAxis: {title: "#{l(:invoice_status)} (€)" }} %>
  <% end %>
</div>
