<h2><%= l :import_errors %></h2>

<%= form_tag({}, method: :get, class: 'formee') do %>
  <div class="titularAcc">
    <div class="row">
      <div class="col-xs-6 pad-top-7">
        <%= l :label_filter_plural %>
      </div>
      <div class="col-xs-6 text-right form-inline">
        <%= text_field_tag 'name', params[:name], class: 'form-control' %>
        <%= button_tag(content_tag('i', '', class: 'fa fa-search', 'aria-hidden' => 'true'), class: "btn btn-search", name: nil, type: :submit) %>
      </div>
    </div>
  </div>
<% end -%>

<div class="wrapper-table bg-white">
  <%= form_tag({}) do -%>
    <%= hidden_field_tag 'back_url', url_for(params), :id => nil %>

    <table class="table table-striped table-hover import_errors">
      <thead>
        <tr>
          <th></th>
          <%= sort_header_tag :created_at,     caption: l(:field_date) %>
          <%= sort_header_tag :filename ,      caption: l(:field_filename), class: 'w6p' %>
          <%= sort_header_tag :import_errors , caption: l(:import_errors), class: 'w65p' %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @import_errors.each do |import_error| -%>
          <tr id="import_error-<%=import_error.id%>" class="<%= cycle 'odd', 'even' %> hascontextmenu">
            <td><%= check_box_tag("ids[]", import_error.id, false, :id => nil) %></td>
            <td><%= format_time import_error.created_at %></td>
            <td><%= link_to import_error.filename, project_import_error_path(import_error, project_id: @project) %></td>
            <td><%= import_error.import_errors %></td>
            <td align="center">
              <%= link_to '', project_import_error_path(import_error, project_id: @project), method: :delete, class: 'icon icon-del eliminar' %>
            </td>
          </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5"></td>
        </tr>
      </tfoot>
    </table>

  <% end -%>

  <!--paginacio-->
  <div class="wrapper-pagination-results">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-5">
        <div class="pagination">
          <%= pagination_links_full(@import_errors_pages, @import_errors_count, per_page_links: false) %>
        </div>
      </div>
      <div class="col-xs-3 text-right">
        <form class="form-inline">
          <label for="sel-results"><%= l :button_show %></label>
          <%= select_tag('sel-results', options_for_select(Setting.per_page_options_array, selected: params[:per_page]), class: 'form-control') %>
        </form>
      </div>
    </div>
  </div>
  <!--final paginacio-->

  <% html_title(l(:import_errors)) -%>

  <% content_for :sidebar do %>
    <%= render_menu :invoices_menu, @project %>
  <% end %>

  <%= context_menu import_errors_context_menu_path %>
</div>
