<%= error_messages_for 'invoice' %>

<h2><%=l(:label_quote)%></h2>

<div class="form-horizontal tab-pane">
  <div class="row">

    <div class="form-group">
      <%= f.label :title, class: 'col-xs-3 control-label' do %>
        <%= l :field_title %>
      <% end -%>
      <div class="col-xs-4">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'col-xs-3 control-label' do %>
        <%= l :field_description %>
      <% end -%>
      <div class="col-xs-4">
        <%= f.text_area :description, rows: 1, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :client_id, class: 'col-xs-3 control-label' do %>
        <%= l :field_client %>
      <% end -%>
      <div class="col-xs-4">
        <%= f.select :client_id, clients_for_select, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date, class: 'col-xs-3 control-label' do %>
        <%= l :field_date %>
      <% end -%>
      <div class="col-xs-3">
        <div class="relative">
          <%= f.date_field :date, required: true, class: 'form-control' %>
          <%= calendar_for('invoice_date') %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :due_date, class: 'col-xs-3 control-label' do %>
        <%= l :valid_until %>
      <% end -%>
      <div class="col-xs-3">
        <input type="hidden" value="custom" id="invoice_terms" />
        <div class="relative">
          <%= f.date_field :due_date, class: 'form-control' %>
          <%= calendar_for('invoice_due_date') %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :number, class: 'col-xs-3 control-label' do %>
        <%= l :field_number %>
      <% end -%>
      <div class="col-xs-3">
        <%= f.text_field :number, required: true, class: 'form-control' %>
        <span class="text"><%= "#{l(:label_last_invoice_number)}: #{Quote.last_number(@project)}" if @project.quotes.any?%></span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :discount_text, class: 'col-xs-3 control-label' do %>
        <%= l :field_discount_text %>
      <% end -%>
      <div class="col-xs-4">
        <%= f.text_field :discount_text, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :discount, class: 'col-xs-3 control-label' do %>
        <%= l :field_discount %>
      <% end -%>
      <div class="col-xs-2">
        <%= f.text_field :discount, class: 'form-control' %>
      </div>
      <div class="col-xs-2">
        <%= f.select 'discount_type', ['%','€'], {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :accounting_cost, class: 'col-xs-3 control-label' do %>
        <%= l :field_accounting_cost %>
      <% end -%>
      <div class="col-xs-4">
        <%= f.text_field :accounting_cost, class: 'form-control' %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :extra_info, class: 'col-xs-3 control-label' do %>
        <%= l :field_extra_info %>
      <% end -%>
      <div class="col-xs-4">
        <%= f.text_area :extra_info, rows: 3, class: 'form-control' %>
      </div>
    </div>

  </div>

  <hr class="form-elements">

  <label><%=l(:label_tax_plural)%></label>

  <% if @invoice.taxes_hash.empty? -%>
    <p><%= link_to_if_authorized l(:add_taxes_on_company), project_my_company_path(@project) -%></p>
  <% end -%>

  <% @invoice.taxes_hash.keys.sort.each do |name| -%>
    <div class="form-group">
        <%= label_tag "#{name}_global", name, class: 'col-xs-3 control-label' %>
      <div class="col-xs-2">
        <%= select_tag("#{name}_global",
                       options_for_select(tax_categories_array(@invoice,name),
                                          selected: @invoice.global_code_for(name)),
        disabled: @invoice.tax_per_line?(name),
        class: 'form-control global_tax',
        'data-tax-name' => name ) %>
      </div>
      <div class="col-xs-2">
        <div class="checkbox">
          <%= label_tag "#{name}_multiple" do %>
            <%= check_box_tag("#{name}_multiple", 1, @invoice.tax_per_line?(name), class: 'global_tax_check', 'data-tax-name' => name) %>
            <%= l :line_specific_tax %>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="<%= name %>_comment form-group <%= hide_if_not_exempt_tax(name) %>">
      <%= label_tag "#{name}_comment", l("field_comment"), class: 'col-xs-3 control-label normal' %>
      <div class="col-xs-6">
        <%= text_field_tag("#{name}_comment", @invoice.global_comment_for(name), class: 'form-control') %>
      </div>
    </div>

  <% end -%>

  <hr class="form-elements">

  <label><%=l(:field_invoice_lines)%></label>
  <table class="table table-lines">
    <thead>
      <tr>
        <% if User.current.allowed_to?(:view_invoice_extra_fields, @project) -%>
          <th class="w6p"><%= l :invoice_line %></th>
        <% end -%>
        <th class="w35p"><%=l(:field_description)%></th>
        <th><%=l(:field_quantity)%></th>
        <th></th>
        <%= call_hook(:invoice_form_order_line_reference_header) %>
        <th class="w8p"><%=l(:field_price)%></th>
        <% if @invoice.invoice_lines.any? {|l| !l.article_code.blank? } or User.current.allowed_to?(:view_invoice_extra_fields, @project) -%>
          <th class="w8p"><%=l(:field_article_code)%></th>
        <% end -%>
        <th></th>
      </tr>
    </thead>
    <%= f.fields_for :invoice_lines do |line_form| %>
      <%=  render partial: 'invoice_line_fields', locals: { f: line_form } %>
    <% end %>
    <tfoot id="invoice_lines" data-tax-names="<%= @project.company.tax_names.join(' ') %>">
      <tr>
        <td colspan="99">
          <!-- cocoon -->
          <%= link_to_add_association l(:button_add_invoice_line), f, :invoice_lines, 'data-association-insertion-node' => '#invoice_lines', 'data-association-insertion-method' => 'before', class: 'add_fields icon-fa icon-fa-plus-sign', force_non_association_create: 'true', partial: 'invoice_line_fields' %>
        </td>
      </tr>
    </tfoot>
  </table>

  <hr />
  <div class="text-right set-of-buttons">
    <% if @invoice.new_record? -%>
      <%= f.submit l(:button_save), name: 'create', class: 'btn btn-primary' %>
      <%= f.submit l(:button_save_and_send), name: 'create_and_send', class: 'btn btn-primary' %>
    <% else -%>
      <%= f.submit l(:button_save), name: 'save', class: 'btn btn-primary' %>
      <%= f.submit l(:button_save_and_send), name: 'save_and_send', class: 'btn btn-primary' %>
    <% end -%>
  </div>
</div>
