<%
  @client ||= client rescue nil
  @company ||= company rescue nil
-%>

<% if @client.company and (@client.company == @company || @company.nil?) -%>

  <% if @client.allowed? -%>
    <div class="profilelink">
      <%= l(:linked_to_profile, :company => @client.company.name) %> (<%=link_to(l(:unlink),{:action=>'unlink',:id=>@client})%>)
  <% elsif @client.denied? -%>
    <div class="profilelinkred">
      <%= l(:denied_authorization, :company => @client.company.name) %> (<%=link_to(l(:unlink),{:action=>'unlink',:id=>@client})%>)
  <% else -%>
    <div class="profilelink">
      <%= l(:pending_authorization, :company => @client.company.name) %> (<%=link_to(l(:unlink),{:action=>'unlink',:id=>@client})%>)
  <% end -%>
    </div>

<% elsif @company -%>

  <div class="profilelink">
    <%= l(:cif_belongs_to_company,{:company=>@company.name}) %>
    <% if @company.public? -%>
      <%= l(:link_to_profile_suggest, :href=>link_to(l(:link_to_profile),{:action=>'link_to_profile',:id=>@project,:company=>@company,:client=>@client})) %>
    <% else -%>
      <%= l(:link_to_profile_suggest, :href=>link_to(l(:link_to_profile_ask),{:action=>'link_to_profile',:id=>@project,:company=>@company,:client=>@client})) %>
    <% end -%>
    </div>

<% end -%>
