<%= error_messages_for 'client' %>

<% unless context =~ /_invoice/ -%>
  <h2><%=l(client.new_record? ? :label_company_new : :label_company)%></h2>
<% end -%>

<div class="<%= 'col-xs-10' unless context =~ /_invoice/ %> col-no-pad-left">
  <div class="tab-pane form-horizontal">

    <div class="form-group" id='cif_info'>
      <%= render partial: "clients/cif_info",
        locals: { client: client, company: client.company } %>
    </div>
    <div class="form-group">
      <%= f.label :taxcode, class: 'col-xs-3 control-label' do %>
        <%= l :field_taxcode %>:
      <% end -%>
      <div class="col-xs-3">
        <%= f.text_field :taxcode,
          size: 20,
          readonly: client.linked?,
          'data-context' => context,
          'data-check-cif-url' => url_for(controller: 'clients',
                                          action: 'check_cif',
                                          id: @project.id,
                                          client: client.id,
                                          invoice_id: context == "edit_invoice" ? @invoice.id : nil
                                         ), class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, class: 'col-xs-3 control-label' do %>
        <%= l :name_or_company %>:
      <% end -%>
      <div class="col-xs-8">
        <%= f.text_field :name, required: true, readonly: client.linked?, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-xs-3 control-label' do %>
        <%= l :field_email%>:
      <% end -%>
      <div class="col-xs-3">
        <%= f.text_field :email, readonly: client.linked?, class: 'form-control' %>
      </div>

      <%= f.label :phone, class: 'col-xs-2 control-label' do %>
        <%= l :label_phone %>:
      <% end -%>
      <div class="col-xs-3">
        <%= f.text_field :phone, readonly: client.linked?, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :website, class: 'col-xs-3 control-label' do %>
        <%= l :field_website%>:
      <% end -%>
      <div class="col-xs-3">
        <%= f.text_field :website, readonly: client.linked?, class: 'form-control' %>
      </div>
      <%= f.label :company_identifier, class: 'col-xs-3 control-label' do %>
        <%= l :field_company_identifier %>:
      <% end -%>
      <div class="col-xs-2">
        <%= f.text_field :company_identifier, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :department, readonly: client.linked?, class: 'col-xs-3 control-label' do %>
        <%= l :field_department%>:
      <% end -%>
      <div class="col-xs-3">
        <%= f.text_field :department, class: 'form-control' %>
      </div>
    </div>

    <% if context =~ /_invoice$/ -%>
      <div id="show_full_form">
        <%= link_to_function("--- #{l(:show_full_form)} ---", "$('.client_hiden_fields').show(); $('#show_full_form').hide()") %>
      </div>
    <% end -%>

    <div class="client_hiden_fields" style="<%= context =~ /_invoice$/ ? "display:none;" : "" %>">
      <% if context =~ /_invoice$/ -%>
        <div><%= link_to_function("--- #{l(:hide_full_form)} ---", "$('.client_hiden_fields').hide(); $('#show_full_form').show()") %></div>
      <% end -%>
      <div class="form-group">
        <%= f.label :address, class: 'col-xs-3 control-label' do %>
          <%= l :field_address %>:
        <% end -%>
        <div class="col-xs-8">
          <%= f.text_field :address, readonly: client.linked?, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-3">
          <%= f.text_field :address2, readonly: client.linked?, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :postalcode, class: 'col-xs-3 control-label' do %>
          <%= l :field_postalcode %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :postalcode, readonly: client.linked?, class: 'form-control' %>
        </div>
        <%= f.label :city, class: 'col-xs-2 control-label' do %>
          <%= l :field_city %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :city, readonly: client.linked?, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :province, class: 'col-xs-3 control-label' do %>
          <%= l :field_province %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :province, readonly: client.linked?, class: 'form-control' %>
        </div>
        <%= f.label :country, class: 'col-xs-2 control-label' do %>
          <%= l :field_country %>:
        <% end -%>
        <div class="col-xs-3">
          <% if client.linked? -%>
            <%= f.text_field :country, value: ISO3166::Country[client.country].translations[I18n.locale.to_s], readonly: client.linked?, required: true, class: 'form-control' %>
          <% else -%>
            <%= f.country_select :country, {priority_countries: [@project.company.country]}, class: 'form-control' %>
          <% end -%>
        </div>
      </div>
      <% if client.linked? -%>
        <div class="form-group">
          <%= f.label :language, class: 'col-xs-3 control-label' do %>
            <%= l :field_language %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.text_field :language, value: l(:general_lang_name,locale: client.language), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :currency, class: 'col-xs-3 control-label' do %>
            <%= l :field_currency %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.text_field :currency, value: client.currency, required: true, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :invoice_format, class: 'col-xs-3 control-label' do %>
            <%= l :field_invoice_format %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.text_field :invoice_format, value: ExportChannels.l(client.invoice_format), readonly: true, class: 'form-control' %>
          </div>
        </div>
      <% else -%>
        <div class="form-group">
          <%= f.label :language, class: 'col-xs-3 control-label' do %>
            <%= l :field_language %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.select :language, lang_options_for_select, {}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :currency, class: 'col-xs-3 control-label' do %>
            <%= l :field_currency %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.select :currency, currency_options_for_select, {}, required: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :invoice_format, class: 'col-xs-3 control-label' do %>
            <%= l :field_invoice_format %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.select :invoice_format, ExportChannels.for_select(@project), {}, class: 'form-control' %>
          </div>
        </div>
      <% end -%>
      <% if User.current.allowed_to?(:use_local_signature, @project) or (client and client.sign_with_local_certificate?) -%>
        <div class="form-group">
          <div class="col-xs-3 col-xs-offset-3">
            <div class="checkbox">
              <%= f.label :sign_with_local_certificate do %>
                <%= f.check_box :sign_with_local_certificate %>
                <%= l :field_sign_with_local_certificate %>
              <% end -%>
            </div>
          </div>
        </div>
      <% end -%>
    </div>

    <div class="client_hiden_fields" style="<%= context =~ /_invoice$/ ? "display:none;" : "" %>">

      <hr class="form-elements">

      <label><%=l(:bank_info)%></label>

      <% if client.nil? or client.read_attribute(:bank_account).blank? -%>
        <% if client.nil? or client.country=='es' %>
          <div class="form-group">
            <div class="col-xs-3">
              <a id="ccc2iban" data-url="<%=project_ccc2iban_path(@project)%>" href="#">Convert spanish CCC to IBAN</a>
            </div>
          </div>
        <% end -%>
      <% else -%>
        <div class="form-group">
          <%= f.label :bank_account, class: 'col-xs-3 control-label' do %>
            <%= l :field_bank_account %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.text_field :bank_account, size: 20, disabled: true %>
          </div>
        </div>
      <% end -%>
      <div class="form-group">
        <%= f.label :iban, class: 'col-xs-3 control-label' do %>
          <%= l :field_iban %>:
        <% end -%>
        <div class="col-xs-4">
          <%= f.text_field :iban, class: 'iban form-control', data: {url: project_check_iban_path(@project), 'span-for-result' => 'iban'} %>
          <span id="iban" class="ibanspan"></span>
        </div>
        <%= f.label :bic, class: 'col-xs-1 control-label' do %>
          <%= l :field_bic %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :bic, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :payment_method, class: 'col-xs-3 control-label' do %>
          <%= l :field_payment_method %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.select(:payment_method, Haltr::PaymentMethods.for_select(@project.company), {}, class: 'form-control') %><br />
          <%= f.text_area(:payment_method_text, rows: 2, id: 'payment_other', style: (client.payment_method==Invoice::PAYMENT_SPECIAL) ? '' : 'display: none;', class: 'form-control') %>
        </div>
        <%= f.label :terms, class: 'col-xs-2' do %>
          <%= l :field_terms %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.select(:terms, Terms.for_select, {}, class: 'form-control') %>
        </div>
      </div>

      <% if User.current.allowed_to?(:use_sepa,@project) -%>
        <div class="form-group">
          <%= f.label :sepa_type, class: 'col-xs-3 control-label' do %>
            <%= l :field_sepa_type %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.select :sepa_type, ["CORE", "B2B"], {}, class: 'form-control' %>
          </div>
        </div>
      <% end -%>


      <% if User.current.admin? or User.current.allowed_to?(:send_peppol, @project) -%>
        <hr class="form-elements">

        <label>PEPPOL</label>
        <div class="form-group">
          <%= f.label :schemeid, class: 'col-xs-3 control-label' do %>
            <%= l :field_schemeid %>:
          <% end -%>
          <div class="col-xs-5">
            <%= f.select :schemeid, Peppol::schemes_for_select, {}, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :endpointid, class: 'col-xs-3 control-label' do %>
            <%= l :field_endpointid %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.text_field :endpointid, class: 'form-control' %>
          </div>
        </div>
      <% end -%>

      <% if User.current.admin? or User.current.allowed_to?(:send_peppol, @project) -%>
        <hr class="form-elements">

        <label>Eprior</label>
        <div class="form-group">
          <%= f.label :eprior_schemeid, class: 'col-xs-3 control-label' do %>
            <%= l :field_eprior_schemeid %>:
          <% end -%>
          <div class="col-xs-5">
            <%= f.select :eprior_schemeid, Eprior::schemes_for_select, {}, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :eprior_endpointid, class: 'col-xs-3 control-label' do %>
            <%= l :field_eprior_endpointid %>:
          <% end -%>
          <div class="col-xs-3">
            <%= f.text_field :eprior_endpointid, class: 'form-control' %>
          </div>
        </div>
      <% end -%>

      <hr class="form-elements">

      <label>EDI</label>
      <div class="form-group">
        <%= f.label :edi_code, class: 'col-xs-3 control-label' do %>
          <%= l :field_edi_code %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :edi_code, class: 'form-control' %>
        </div>
        <%= f.label :buyer_edi_code, class: 'col-xs-3 control-label' do %>
          <%= l :field_buyer_edi_code %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :buyer_edi_code, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :receiver_edi_code, class: 'col-xs-3 control-label' do %>
          <%= l :field_receiver_edi_code %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :receiver_edi_code, class: 'form-control' %>
        </div>
        <%= f.label :destination_edi_code, class: 'col-xs-3 control-label' do %>
          <%= l :field_destination_edi_code %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :destination_edi_code, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :payer_edi_code, class: 'col-xs-3 control-label' do %>
          <%= l :field_payer_edi_code %>:
        <% end -%>
        <div class="col-xs-3">
          <%= f.text_field :payer_edi_code, class: 'form-control' %>
        </div>
      </div>

      <% if User.current.admin? or User.current.allowed_to?(:set_client_xpaths, @project) -%>

        <hr class="form-elements">

        <label>XPATH</label>

        <div class="form-group">
          <%= f.label :xpaths_from_original, class: 'col-xs-3 control-label' do %>
            <%= l :field_xpaths_from_original %>:
          <% end -%>
          <div class="col-xs-9">
            <%= f.text_area :xpaths_from_original, class: 'form-control' %>
          </div>
        </div>
      <% end -%>

    </div>

    <% unless context =~ /_invoice/ -%>
      <div class="form-group">
        <div class="col-xs-12 text-right">
          <%= submit_tag (client.new_record? ? l(:button_save) : l(:button_save)), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end -%>


  </div>
</div>

<% content_for :header_tags do -%>
  <%= javascript_include_tag('iban?v=2',plugin: 'haltr')%>
<% end -%>
