<%= error_messages_for 'client' %>

<% short ||= false -%>
<% unless short -%>
<script type="text/javascript">
$(document).on('change', '#client_taxcode', function(e) {
    $.ajax({
      url: '<%= url_for :controller=>'clients', :action=>'check_cif',:id=>@project.id, :client => @client %>',
      data: 'value=' + this.value,
      dataType: "html"
      }).done(function( html ) {
        $("#cif_info").html(html);
        })
    });
</script>
<% end -%>

<div class="box">
  <p><%= f.text_field :taxcode, :size => 20, :required => true, :readonly => @client.linked? %></p>
  <p id="cif_info">
    <%= render :partial => "clients/cif_info", :locals => { :client => @client, :company => @client.company } %>
  </p>
  <p><%= f.text_field :company_identifier %></p>
  <p><%= f.text_field :name, :required => true, :readonly => @client.linked? %></p>
  <p><%= f.text_field :email, :readonly => @client.linked? %></p>
  <% if short -%>
  <p id="show_full_form"><%= link_to_function("--- #{l(:show_full_form)} ---", "$('#client_hiden_fields').show(); $('#show_full_form').hide()") %></p>
  <% end -%>
  <div id="client_hiden_fields" style="<%= short ? "display:none;" : "" %>">
    <% if short -%>
    <p><%= link_to_function("--- #{l(:hide_full_form)} ---", "$('#client_hiden_fields').hide(); $('#show_full_form').show()") %></p>
    <% end -%>
    <p><%= f.text_field :address, :readonly => @client.linked? %></p>
    <p><%= f.text_field :address2, :readonly => @client.linked? %></p>
    <p><%= f.text_field :city, :readonly => @client.linked? %></p>
    <p><%= f.text_field :province, :readonly => @client.linked? %></p>
    <p><%= f.text_field :postalcode, :readonly => @client.linked? %></p>
    <% if @client.linked? -%>
      <p><%= label_tag I18n.t :field_country %>
      <%= text_field_tag :country, @client.country_name, :readonly => true %></p>
    <% else -%>
      <p><%= f.label_for_field :country, :required => true %><%= f.iso_country_select :country, valid_languages, :readonly => @client.linked? %></p>
    <% end -%>
    <p><%= f.text_field :bank_account, :size => 30 %></p>
    <p><%= f.text_field :iban, :size => 30 %></p>
    <p><%= f.text_field :bic, :size => 30 %></p>
<% if User.current.admin? or User.current.allowed_to?(:send_peppol, @project) -%>
    <br />
    <p><%= f.select :schemeid, Peppol::SCHEMEIDS %></p>
    <p><%= f.text_field :endpointid %></p>
<% end -%>

    <% if @client.linked? -%>
      <p><%= label_tag I18n.t :field_currency %>
      <%= text_field_tag :currency, "#{@client.currency} - #{Money.new(0,@client.currency).currency.name}", :readonly => true %></p>
    <% else -%>
      <p><%= f.select :currency, currency_options_for_select, :required => true %></p>
    <% end -%>
    <% if @client.linked? -%>
      <p><%= f.text_field :language, :value => l(:general_lang_name,:locale => @client.language), :readonly=>true %></p>
      <p><%= f.text_field :invoice_format, :value => ExportChannels.l(@client.invoice_format), :readonly=>true %></p>
    <% else -%>
      <p><%= f.select :language, lang_options_for_select , :readonly => @client.linked? %></p>
      <p><%= f.select :invoice_format, ExportChannels.for_select(@project) %></p>
      <%
        disabled = []
        #    unless @invoice.new_record?
        #      disabled << Invoice::PAYMENT_DEBIT if @invoice.client and @invoice.client.bank_account.blank?
        #    end
        disabled << Invoice::PAYMENT_TRANSFER if @project.company.bank_account.blank?
      -%>
      <p><%= f.select(:payment_method, Invoice.payment_methods, {:disabled=>disabled}, :onchange => "payment_method_changed('client');") %><br />
      <% if @client.payment_method == 13 -%>
        <%= f.text_area(:payment_method_text, :cols => 40, :rows => 2, :no_label => true) %>
      <% else -%>
        <%= f.text_area(:payment_method_text, :cols => 40, :rows => 2, :no_label => true, :class => "hidden") %>
      <% end -%>
      </p>
      <p><%= f.select(:terms, Terms.for_select, {}) %></p>
    <% end -%>
  </div>
</div>
