<%= error_messages_for 'client' %>

<div class="box">
<p><%= f.text_field :taxcode, :size => 20, :required => true %></p>
<p><%= f.text_field :name, :size => 60, :required => true %></p>
<p><%= f.text_field :email %></p>
<p><%= f.text_field :address1 %></p>
<p><%= f.text_field :address2 %></p>
<p><%= f.text_field :city %></p>
<p><%= f.text_field :province %></p>
<p><%= f.text_field :postalcode %></p>
<p><%= f.text_field :countrycode %></p>
<p><%= f.text_field :bank_account, :size => 30 %></p>
<p><%= f.text_field :currency, :required => true %></p>
<p><%= f.select :language, [[I18n.t(:general_lang_name, :locale=>:ca),"ca"],[I18n.t(:general_lang_name, :locale=>:es),"es"],[I18n.t(:general_lang_name, :locale=>:en),"en"]] %></p>
<p><%= f.select :invoice_format, ExportChannels.for_select %></p>
</div>
