<%= error_messages_for 'client' %>
<%
  ajax_opts = {
    :method => :get,
    :url => url_for({:controller=>'clients', :action=>'check_cif',:id=>@project.id, :client => @client}),
    :with => "'value=' + this.value",
    :update => 'cif_info'
  }
  short ||= false
-%>

<div id="cif_info">
  <%= render :partial => "clients/cif_info", :locals => { :client => @client, :company => @client.company } %>
</div>

<div class="box">
  <% if @client.linked? -%>
    <p><%= f.text_field :taxcode, :size => 20, :required => true, :readonly => @client.linked? %></p>
  <% elsif !short -%>
    <p><%= f.text_field :taxcode, :size => 20, :required => true, :onblur => remote_function(ajax_opts) %></p>
  <% else -%>
    <p><%= f.text_field :taxcode, :size => 20, :required => true %></p>
  <% end -%>
  <p><%= f.text_field :name, :required => true, :readonly => @client.linked? %></p>
  <p><%= f.text_field :email, :readonly => @client.linked? %></p>
  <% if short -%>
  <p id="show_full_form"><%= link_to_function("--- #{l(:show_full_form)} ---", "$('client_hiden_fields').show(); $('show_full_form').hide()") %></p>
  <% end -%>
  <div id="client_hiden_fields" style="<%= short ? "display:none;" : "" %>">
    <% if short -%>
    <p><%= link_to_function("--- #{l(:hide_full_form)} ---", "$('client_hiden_fields').hide(); $('show_full_form').show()") %></p>
    <% end -%>
    <p><%= f.text_field :address, :readonly => @client.linked? %></p>
    <p><%= f.text_field :address2, :readonly => @client.linked? %></p>
    <p><%= f.text_field :city, :readonly => @client.linked? %></p>
    <p><%= f.text_field :province, :readonly => @client.linked? %></p>
    <p><%= f.text_field :postalcode, :readonly => @client.linked? %></p>
    <p><%= f.label_for_field :country, :required => true %><%= f.iso_country_select :country, [:es], :readonly => @client.linked? %></p>
    <p><%= f.text_field :bank_account, :size => 30 %></p>
    <p><%= f.select :currency, currency_options_for_select, :required => true, :readonly => @client.linked? %></p>
    <% if @client.linked? -%>
      <p><%= f.text_field :language, :value => l(:general_lang_name,:locale => @client.language), :readonly=>true %></p>
      <p><%= f.text_field :invoice_format, :value => l(@client.invoice_format), :readonly=>true %></p>
    <% else -%>
      <p><%= f.select :language, %w(ca es en).collect {|l| [I18n.t(:general_lang_name,:locale=>l),l]}, :readonly => @client.linked? %></p>
      <p><%= f.select :invoice_format, ExportChannels.for_select(@project) %></p>
      <%
        disabled = []
        #    unless @invoice.new_record?
        #      disabled << Invoice::PAYMENT_DEBIT if @invoice.client and @invoice.client.bank_account.blank?
        #    end
        disabled << Invoice::PAYMENT_TRANSFER if @project.company.bank_account.blank?
      -%>
      <p><%= f.select(:payment_method, Invoice.payment_methods, :disabled=>disabled) %></p>
      <p><%= f.select(:terms, Terms.for_select, {}) %></p>
    <% end -%>
  </div>
</div>
