<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li>
      <% if @client.invoices.any? -%>
        <%= link_to l(:button_delete), {:action=>'destroy',:id=>@client},
          :confirm => l(:confirm_delete_client_with_invoices, :count=>@client.invoices.count),
          :method => :delete, :class=>'eliminar icon icon-del', :title=>l(:button_delete) %>
        <% else -%>
          <%= link_to l(:button_delete), {:action=>'destroy',:id=>@client}, :confirm => l(:text_are_you_sure), :method=>:delete, :class=>'eliminar icon icon-del', :title=>l(:button_delete) %>
        <% end -%>
      </li>
    </ul>
  </div>
</div>

<div class="seccio grup">
  <div class="col span-2-de-2">
    <%= labelled_form_for @client, 
      :html => {:class => 'formee'} do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= submit_tag l(:button_save) %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render_menu :companies_menu, @project %>
<% end %>
