<h2><%=l(:label_companies)%></h2>

<% form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label><%= l(:label_company) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
</fieldset>
<% end %>
&nbsp;


<table class="list" id="clients">
  <thead>
      <%= sort_header_tag('taxcode', :caption => l(:field_taxcode)) %>
      <%= sort_header_tag('name', :caption => l(:field_name)) %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
<% for client in @clients -%>
  <tr class="user <%= cycle("odd", "even") %>" onclick="javascript: document.location = '<%=url_for(:action=>'edit', :id=>client)%>'"/>
    <td><%=h client.taxcode %></td>
    <td><%=h client.name %></td>
    <td align="center"><%= link_to l(:label_invoice_plural), {:controller=>'invoices',:action=>'index',:id=>@project, :client_id => client} %></td>
    <td align="center"><%= link_to l(:button_people), {:controller=>'people', :id=>client}, :class => 'icon' %></td>
    <td align="center"><%= link_to l(:button_new_invoice), {:controller=>'invoices',:action=>'new',:id=>@project,:client=>client}, :class => 'icon icon-edit' %></td>
    <td align="center"><%= link_to l(:button_delete), {:action=>'destroy',:id=>client} , :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %></td>
  </tr>
<% end -%>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @client_pages, @client_count %></p>

<br />

<% if @project.company.companies_with_link_requests.any? -%>
  <h3><%=l(:link_requests)%></h3>
  <ul>
    <% @project.company.companies_with_link_requests.each do |req| -%>
      <li>
      <%=req.taxcode%> <span style="font-weight: bold;"><%=req.name%></span> - 
      <%=link_to l(:allow_link), {:action=>'allow_link',:id=>@project,:req=>req}%> / 
      <%=link_to l(:deny_link), {:action=>'deny_link',:id=>@project,:req=>req} %>
      </li>
    <% end -%>
  </ul>
<% end -%>

<% html_title(l(:label_companies)) -%>

<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>
