<div class="row">
<div class="col-xs-6">
  <h2><%= l :label_companies %></h2>
</div>

<div class="col-xs-6 text-right">
  <ul class="list-inline fast-menu">
    <% if User.current.allowed_to?(:export_clients, @project) -%>
      <li>
        <div class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownExport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= l :button_export %>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownExport">
          <li>
            <%= link_to 'CSV',
              project_clients_path(@project, format: 'csv'),
              class: 'icon-fa icon-fa-fw icon-fa-download' %>
          </li>
        </ul>
        </div>
      </li>
    <% end -%>
    <li>
      <%= link_to_if_authorized l(:label_company_new), new_project_client_path, class: 'btn btn-success btn-sm' %>
    </li>
  </ul>
</div>
</div>

<!--filtres-->
<%= form_tag({id: @project}, method: :get, class: 'formee') do %>
  <div class="titularAcc">
    <div class="row">
      <div class="col-xs-6 pad-top-7"></div>
      <div class="col-xs-6 text-right form-inline">
        <div class="form-group">
          <%= search_field_tag :name, params[:name], class: 'form-control' %>
        </div>
        <%= button_tag(content_tag('i', '', class: 'fa fa-search', 'aria-hidden' => 'true'), class: "btn btn-search", name: nil, type: :submit) %>
      </div>
    </div>
  </div>
<% end %>
<!--final filtres-->

<!--taula-->
<div class="wrapper-table bg-white">
  <table class="table table-hover table-striped table-show clients">
    <thead>
      <tr>
        <th class="w6p"></th>
        <%= sort_header_tag('taxcode', caption: l(:field_taxcode)) %>
        <%= sort_header_tag('name', caption: l(:field_name)) %>
        <th><%=l(:label_issued)%></th>
        <th><%=l(:label_received)%></th>
        <th><%=l(:label_order_plural)%></th>
        <th><%=l(:label_person_plural)%></th>
        <th><%=l(:label_client_offices)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for client in @clients -%>
        <% onclick_show = "onclick=\"javascript: document.location = '#{url_for(action: 'show', id: client)}'\"".html_safe -%>
        <tr>
          <% if client.linked? -%>
            <td><span class="icon-fa icon-fa-chain" title="<%= l :linked %>"></span></td>
          <% else -%>
            <td><span class="icon-fa icon-fa-chain-broken" title="<%= l :not_linked %>"></span></td>
          <% end -%>
          <td class="taxcode"><%= h client.taxcode%></td>
          <td class="name" style="cursor:pointer;" <%= onclick_show %>><%= link_to_if_authorized client.name, action: 'show', id: client %></td>
          <td class="invoices text-center"><%= client.issued_invoices.any? ? client.issued_invoices.count : "-" %></td>
          <td class="invoices text-center"><%= client.received_invoices.any? ? client.received_invoices.count : "-" %></td>
          <td class="orders text-center"><%= client.orders.any? ? client.orders.count : "-" %></td>
          <td class="people text-center"><%= link_to_if_authorized client.people.count, client_people_path(client), title: l(:label_person_plural) %></td>
          <td class="client_offices text-center"><%= link_to client.client_offices.count, client_client_offices_path(client), class: 'client_offices-btt', title: l(:label_client_offices) %></td>
          <td class="new text-right">
            <%= link_to project_client_new_invoice_path(project_id: @project.id, client: client.id), title: l(:label_invoice_new) do %>
              <i class='fa fa-fw'></i>
              <i class='fa fa-file no-display'></i>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
  <!--final taula-->

  <%= render partial: 'common/pagination', locals: {pages: @client_pages, count: @client_count} %>

</div>

<% if @project.company.companies_with_link_requests.any? -%>
  <h3><%=l(:link_requests)%></h3>
  <ul>
    <% @project.company.companies_with_link_requests.each do |req| -%>
      <li>
        <%=req.taxcode%> <span style="font-weight: bold;"><%=req.name%></span> -
        <%=link_to_if_authorized l(:allow_link), {action: 'allow_link',id: @project,req: req}%> /
        <%=link_to_if_authorized l(:deny_link), {action: 'deny_link',id: @project,req: req} %>
      </li>
    <% end -%>
  </ul>
<% end -%>

<% html_title(l(:label_companies)) -%>

<% content_for :sidebar do %>
  <%= render_menu :companies_menu, @project %>
<% end %>
