<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li>
      <%= link_to l(:label_company_new), new_project_client_path, :class => 'icon icon-add' %>
      </li>
    </ul>
  </div>
</div>

<!--filtres-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <div class="filtres">
      <div class="titularAcc">
        <%= l(:label_filter_plural) %>
      </div>
      <div class="contingutAcc">
        <%= form_tag({:id=>@project}, :method => :get, :class => 'formee') do %>
          <fieldset>
            <legend><%= l(:label_search) %></legend>
            <div class="seccio grup">
              <div class="col span-1-de-2">
                <label for="name"><%=l(:label_company)%></label>
                <%= text_field_tag 'name', params[:name], :size => 30 %>
              </div>
            </div>
            <div class="seccio grup">
              <div class="col span-2-de-2">
                <%= submit_tag l(:button_apply), :name => nil %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--final filtres-->

<!--taula-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <table class="taula-1 list clients">
      <thead>
        <%= sort_header_tag('taxcode', :caption => l(:field_taxcode)) %>
        <%= sort_header_tag('name', :caption => l(:field_name)) %>
        <th><%=l(:label_invoice_plural)%></th>
        <th><%=l(:label_person_plural)%></th>
        <th><%=l(:label_invoice_new)%></th>
        <th><%=l(:button_delete)%></th>
      </thead>
      <tbody>
        <% for client in @clients -%>
          <% onclick_edit = "onclick=\"javascript: document.location = '#{url_for(:action=>'edit', :id=>client)}'\"".html_safe -%>
          <tr class="user <%= cycle("odd senar", "even parell") %>">
            <td class"taxcode" style="cursor:pointer;" <%= onclick_edit %>><%=image_tag("link.png") if client.linked?%><%= link_to client.taxcode, :action=>'edit', :id=>client %></td>
            <td class="name"><%=h client.name%></td>
            <td class="invoices"><%= link_to(l(:label_invoice_plural), {:controller=>'invoices', :action=>'index', :id=>@project, :client_id=>client}, :class=>'factura-btt', :title=>l(:label_invoice_plural)) if client.invoices.any? %></td>
            <td class="people"><%= link_to l(:label_person_plural), client_people_path(client), :class=>'persones-btt', :title=>l(:label_person_plural) %></td>
            <td class="new"><%= link_to l(:button_new_invoice), {:controller=>'invoices',:action=>'new',:id=>@project,:client=>client}, :class => 'nova-f-btt', :title=>l(:label_invoice_new) %></td>
            <td class="delete">
              <% if client.invoices.any? -%>
                <%= link_to l(:button_delete), {:action=>'destroy',:id=>client},
                  :confirm => l(:confirm_delete_client_with_invoices, :count=>client.invoices.count),
                  :method => :delete, :class=>'eliminar', :title=>l(:button_delete) %>
              <% else -%>
                 <%= link_to l(:button_delete), {:action=>'destroy',:id=>client}, :confirm => l(:text_are_you_sure), :method=>:delete, :class=>'eliminar', :title=>l(:button_delete) %>
              <% end -%>
            </td>
          </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--final taula-->

<!--paginacio-->
<div class="seccio grup">
  <%= pagination_links_full @client_pages, @client_count%>
</div>
<!--final paginacio-->

<% if @project.company.companies_with_link_requests.any? -%>
  <h3><%=l(:link_requests)%></h3>
  <ul>
    <% @project.company.companies_with_link_requests.each do |req| -%>
      <li>
      <%=req.taxcode%> <span style="font-weight: bold;"><%=req.name%></span> - 
      <%=link_to l(:allow_link), {:action=>'allow_link',:id=>@project,:req=>req}%> / 
      <%=link_to l(:deny_link), {:action=>'deny_link',:id=>@project,:req=>req} %>
      </li>
    <% end -%>
  </ul>
<% end -%>

<% html_title(l(:label_companies)) -%>

<% content_for :sidebar do %>
  <%= render_menu :companies_menu, @project %>
<% end %>
