<%= form_tag({:id=>@project}, :method => :get) do %>
  <fieldset id="filters" class="collapsible"><legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div id="query_form_content" class="hide-when-print">
    <table>

      <tr>
        <th><%= l(:label_invoices_min) %>:</th>
        <td><%= text_field_tag :invoices_min, (params[:invoices_min].nil? ? "" : params[:invoices_min]), :size => 10 %></td>
      </tr>

      <tr>
        <th></th>
        <td><%= submit_tag l(:button_apply), :class => "small", :name => nil %></td>
      </tr>

    </table>
  </div>
  </fieldset>
<% end %>

<h3>Mostrant <%= @projects_count %> empreses de <%= Project.count %></h3>

<table class="list">
  <tr>
    <%= sort_header_tag('name', :caption => l(:field_company)) %>
    <%= sort_header_tag('invoices_count', :caption => l(:label_invoice_plural), :default_order => 'desc') %>
    <%= sort_header_tag('issued_invoices_count', :caption => l(:label_issued), :default_order => 'desc') %>
    <%= sort_header_tag('received_invoices_count', :caption => l(:label_received), :default_order => 'desc') %>
    <%= sort_header_tag('invoice_templates_count', :caption => l(:label_invoice_template_plural), :default_order => 'desc') %>
  </tr>
<% @projects.each do |p| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to(p.name, :controller=>'invoices',:action=>'index',:id=>p) %></td>
    <td align="center"><%= p.invoices.size %></td>
    <td align="center"><%= p.issued_invoices.size %></td>
    <td align="center"><%= p.received_invoices.size %></td>
    <td align="center"><%= p.invoice_templates.size %></td>
  </tr>
<% end -%>
</table>

<p class="pagination"><%= pagination_links_full @projects_pages, @projects_count %></p>

