<tbody>
<% events.each do |e| -%>
  <tr<%= " title=\"#{e.type} #{e.id}\"".html_safe if User.current.admin? %>>
    <% unless @project -%>
      <td><%= link_to(e.project.name, project_events_path(project_id: e.project)) %></td>
    <% end -%>
    <div> <td class="white-space-nowrap"><%= format_time(e.created_at)  rescue '' %></td> </div>
    <% unless @invoice -%>
      <td>
        <% if e.invoice -%>
          <%= link_to_invoice_with_label(e.invoice) -%>
        <% elsif e.client -%>
          <%= link_to "#{l(:field_client)} #{e.client.name}", edit_client_path(e.client) -%>
        <% elsif e.invoice_id -%>
          <%= e.invoice_id %>
        <% elsif e.client_id -%>
          <%= e.client_id %>
        <% else -%>
          <%= e.to_s %>
        <% end -%>
      </td>
    <% end -%>
    <td>
      <% begin -%>
        <%= render :partial => "events/#{e.type.underscore}", :locals => {:e=>e} %>
      <% rescue ActionView::MissingTemplate -%>
        <%= render :partial => "events/event", :locals => {:e=>e} %>
      <% end -%>
    </td>
    <td class="text-right">
      <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, '#', class: 'show-events', data: {id: e.id} unless e.notes.blank?  %>
      <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, '#', class: 'show-audits', data: {id: e.id} if e.audits.any? %>
    </td>
  </tr>

  <tr class="no-padding">
    <td colspan="6">
      <div id="audited_<%=e.id%>" class="audited">
          <% e.audits.each do |a| -%>
            <%= render partial: "audits/audit", locals: { a: a } %>
          <% end -%>
      </div>
    </td>
  </tr>

  <tr class="no-padding">
    <td colspan="6"><!-- only for alternating tr colors --></td>
  </tr>

<% end -%>
</tbody>
