<%= render partial: 'common/chart_headers' %>

<div class="row">
  <div class="col-xs-6">
    <h2><%= l :events %></h2>
  </div>
</div>

<!--filtres-->
<%= form_tag({id: @project}, method: :get, class: 'form-horizontal hide-when-print') do %>
  <div class="filtres">
    <div class="titularAcc">
      <div class="row">
        <div class="col-xs-6 pad-top-7">
          <a class="titularAccFilters icon-fa-right icon-fa-right-angle-down">
            <%= l(:label_filter_plural) %>
          </a>
        </div>
      </div>
    </div>
    <div class="contingutAcc">
      <div class="row">

        <div class="form-group">
          <%= label :from_time, '', class: 'col-xs-2 control-label' do %>
            <%= l :field_date %>:
          <% end -%>
          <div class="col-xs-3">
            <div class="relative">
              <%= date_field_tag :from_time, params[:from_time], class: 'form-control' %><%= calendar_for('from_time') %>
            </div>
          </div>
          <%= label :to_time, '', class: 'col-xs-1 control-label' do %>
            <%= l :label_to %>:
          <% end -%>
          <div class="col-xs-3">
            <div class="relative">
              <%= date_field_tag :to_time, params[:to_time], class: 'form-control' %><%= calendar_for('to_time') %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-9 text-right">
            <%= submit_tag l(:button_apply), class: 'btn btn-primary', name: nil %>
          </div>
        </div>

      </div>

    </div>
  </div>
<% end %>
<!--final filtres-->

<div class="wrapper-table bg-white">

  <table class="table table-striped events">
    <thead>
      <tr>
        <% unless @project -%>
          <th><%= l(:field_project) %></th>
        <% end -%>
        <%= sort_header_tag('created_at', caption: l(:field_date)) %>
        <% if User.current.admin? -%>
          <%= sort_header_tag('type', caption: l(:field_type)) %>
        <% end -%>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <%= render partial: 'events/list', locals: {events: @events} %>
    <tfoot>
      <tr>
        <td colspan="6">&nbsp;</td>
      </tr>
    </tfoot>
  </table>


  <%= render partial: 'common/pagination', locals: {pages: @event_pages, count: @event_count} %>

</div>
