<%= error_messages_for 'invoice' %>
<%= javascript_include_tag 'terms', :plugin => 'haltr' %>
<%= javascript_include_tag 'invoice', :plugin => 'haltr' %>

<div class="box">
  <p id="client_select"><%= render :partial=>'received_invoices/clients', :locals=>{:selected=>@invoice.client_id} %></p>
  <p><%= f.text_field :date, :size => 10 %><%= calendar_for('invoice_date') %></p>
  <% if controller.controller_name == "invoice_templates" -%>
    <p><%= f.select :frequency, frequencies_for_select %></p>
  <% else -%>
    <p><%= f.text_field :number, :size => 10 %> <%= "#{l(:label_last_invoice_number)}: #{IssuedInvoice.last_number(@project)}" if IssuedInvoice.all.any?%></p>
  <% end -%>
  <p id="currency_select"><%= render :partial=>'received_invoices/currency', :locals => {:selected=>@invoice.currency} %></p>
  <p><%= f.text_field :ponumber %></p>
  <p><%= f.select(:terms, Terms.for_select, {}, {:onchange=>"terms()"}) %></p>
  <p><%= f.text_field :due_date, :size => 10, :disabled => !@invoice.custom_due? %><span id="due_date_cal" style="visibility: <%=@invoice.custom_due? ? "visible" : "hidden" %>;"><%= calendar_for('invoice_due_date') %></span></p>
  <p><%= f.text_field :discount_text %></p>
  <p><%= f.text_field :discount_percent %></p>
  <p><%= f.text_area :extra_info, :rows=>3 %></p>
  <%
    disabled = []
#    unless @invoice.new_record?
#      disabled << Invoice::PAYMENT_DEBIT if @invoice.client and @invoice.client.bank_account.blank?
#    end
    disabled << Invoice::PAYMENT_TRANSFER if @invoice.project.company.bank_account.blank?
  -%>
  <p><%= f.select(:payment_method, Invoice.payment_methods, :disabled=>disabled) %></p>
  <div id="invoice_lines">
    <p style="font-weight:bold;">
    <span class="invoiceLineHeader" style="width: 70px;"><%= l(:field_quantity) %></span>
    <span class="invoiceLineHeader" style="width: 74px;">&nbsp;</span>
    <span class="invoiceLineHeader" style="width: 215px;"><%= l(:field_description) %></span>
    <span class="invoiceLineHeader" style="width: 75px;"><%= l(:field_price) %></span>
    </p>
    <% f.fields_for :invoice_lines do |line_form| %>
      <%= render :partial => 'received_invoices/invoice_line', :locals => { :f => line_form } %>
    <% end %>
  </div>
  <p><%= add_invoice_line_link(f,true) %></p>
  <div id="invoice_total">
    <p><%= f.text_field :import, :value => f.object.import.to_s.gsub(/\.0+$/,'') %></p>
  </div>
</div>
