<div class="clearfix">
<div class="pull-left">
  <h2>
    <%= link_to "", project_orders_path(@project), class: 'fa fa-long-arrow-left fa-big fa-left', aria: { hidden: true } %>
    <%= "#{l :label_order} #{@order.num_pedido}" %> (<%= l "state_#{@order.state}" %>)
  </h2>
</div>
</div>


<!--menu rapid-->
<div class="wrapper-default">
  <div class="row">
    <div class="col-xs-10">
      <ul class="list-inline">
        <li><%= link_to l(:label_import), project_orders_import_path(project_id: @project), class: 'icon-fa icon-fa-fw icon-fa-upload' -%></li>
        <li><%= link_to l(:download_original), project_order_path(@order, project_id: @project, download: true), class: 'icon-fa icon-fa-fw icon-fa-download' %></li>
        <% if @order.xml? -%>
          <% if @order.invoice -%>
            <li><%= link_to l(:invoice), invoice_path(@order.invoice), class: 'icon-fa icon-fa-fw icon-fa-file' %></li>
          <% else -%>
            <li><%= link_to l(:create_invoice_from_order), {action: :create_invoice, id: @order, project_id: @project}, class: 'icon-fa icon-fa-fw icon-fa-file', method: :post %></li>
          <% end -%>
        <% end -%>
        <li><%= link_to l(:download_as_pdf), project_order_path(@order, project_id: @project, format: :pdf), class: 'icon-fa icon-fa-fw icon-fa-file-pdf-o' %></li>
        <li><%= link_to_if_authorized l(:button_delete), { action: 'destroy', id: @order }, data: {confirm: l(:text_are_you_sure)}, method: :delete, class: 'icon-fa icon-fa-fw icon-fa-trash' %></li>
        <% if @order.xml? and @order.state != 'accepted' -%>
          <li><%= link_to_if_authorized l(:button_accept), { action: 'accept', id: @order }, data: {confirm: l(:text_are_you_sure)}, method: :post, class: 'icon-fa icon-fa-check-circle' %></li>
        <% end -%>
      </ul>
    </div>
    <div class="col-xs-2">
      <%= render partial: 'common/navigation_links', locals: {obj: @order} %>
    </div>
  </div>
</div>
<!--final menu rapid-->


<div id="invoice_wrapper" class="wrapper-element">
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">
        <% if @order.xml? -%>
          <%=@order_xslt_html%>
        <% else -%>
          <%= render partial: 'orders/edi' %>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<div id="list-left" class="splitcontentleft">
  <div class="mypage-box">
    <div class="chart_events">
      <h3><%= l :label_history %></h3>
      <fieldset>
        <div class="wrapper-table">
          <%= render partial: 'events/table', locals: {events: @order.events} %>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div id="list-right" class="splitcontentright">

  <div class="mypage-box">
    <div>
      <h3><%=h l(:label_comment_plural)%></h3>
      <div class="wrapper-default">
        <%= form_tag({controller: 'invoices', action: 'add_comment', id: @order, project_id: @project}, id: "add_comment_form") do %>
          <div class="row">
            <div class="col-xs-10">
              <%= text_field 'comment', 'comments', class: 'form-control', placeholder: l(:write_comment) %>
            </div>
            <div class="col-xs-2 col-no-pad-left">
              <%= submit_tag l(:button_add), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end -%>
      </div>
      <fieldset>
        <div class="wrapper-table">
          <table class="cashflow table table-striped">
            <tbody>
              <% @order.comments.reverse.each do |comment| -%>
                <tr>
                  <td class="nowrap"><%= format_time comment.created_on %></td>
                  <td class="nowrap"><strong><%= comment.author.name %></strong></td>
                  <td class="w100p"><%= comment.comments %></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>



<% if (Rails.env == "development" or User.current.allowed_to?(:use_all_readonly, @project)) and @order.xml? -%>
  <div class="invoice-channel-links">
    <h3>Check generated documents</h3>
    <ul>
      <li><%= link_to_if_authorized 'UBL invoice', {controller: 'orders', action: 'show', id: @order, show_invoice: true } %></li>
      <li><%= link_to_if_authorized 'OrderResponse', {controller: 'orders', action: 'show', id: @order, show_response: true } %></li>
    </ul>
  </div><% end -%>

</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'orders?v=2', plugin: 'haltr_invinet_patches' %>
  <%= stylesheet_link_tag 'minimal?v=2', plugin: 'haltr' %>
  <%= stylesheet_link_tag 'haltr?v=2', plugin: 'haltr' %>
  <%= stylesheet_link_tag 'facturae_xslt_viewer?v=2', plugin: 'haltr' %>
<% end %>

<% content_for :sidebar do %>
  <%= render_menu :orders_menu, @project %>
<% end %>
