<fieldset class="tabular box">
  <legend><%=l(:dir3_entities)%></legend>
  <div>
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :code, :required => true %></p>
    <p><%= f.text_field :address %></p>
    <p><%= f.text_field :city %></p>
    <p><%= f.text_field :postalcode %></p>
    <p><%= f.text_field :province %></p>
    <p><%= f.label_for_field :country %><%= f.iso_country_select :country, [:es] %></p>
  </div>
</fieldset>


