<div class="tabular box">
  <div id="bank_infos">
    <div class="col span-1-de-5">
      <%= f.label_for_field :name %>
    </div>
    <% if @company.bank_infos.reject {|bi| bi.bank_account.blank? }.present? -%>
      <div class="col span-1-de-5">
        <%= f.label_for_field :bank_account %>
      </div>
    <% end -%>
    <div class="col span-2-de-5">
      <%= f.label_for_field :iban %>
    </div>
    <div class="col span-1-de-5">
      <%= f.label_for_field :bic %>
    </div>

    <%= f.fields_for :bank_infos do |bank_info_form| %>
      <%=render :partial => 'companies/bank_info_fields', :locals => {:f => bank_info_form}%>
    <% end -%>
  </div>
  <div class="seccio grup">
    <p class="col span-2-de-2">
    <!-- cocoon -->
    <span class="mes">
      <% if User.current.allowed_to?(:add_multiple_bank_infos,@project) -%>
        <%= link_to_add_association l(:button_add_bank_info), f, :bank_infos, 'data-association-insertion-node' => '#bank_infos', 'data-association-insertion-method' => 'append' %>
      <% else -%>
        <%= link_to l(:button_add_bank_info), project_add_bank_info_path(:project_id=>@project), :confirm=>l(:page_redirecting_will_lose_unsaved_data) %>
      <% end -%>
    </span>
    </p>
  </div>
</div>

<% content_for :header_tags do -%>
  <%= javascript_include_tag('iban',:plugin=>'haltr')%>
<% end -%>

<%= call_hook(:company_bank_info_form_end) %>
