  <div class="tabular box">

    <div class="seccio grup">
      <p class="col span-2-de-2">
      <%= f.text_field :address %>
      </p>
    </div>
    <div class="seccio grup">
      <p class="col span-1-de-2">
      <%= f.text_field :city %>
      </p>
      <p class="col span-1-de-2">
      <%= f.text_field :postalcode, :required => true %>
      </p>
    </div>
    <div class="seccio grup">
      <p class="col span-1-de-2">
      <%= f.text_field :province %>
      </p>
      <p class="col span-1-de-2">
      <%= f.label_for_field :country, :required => true %><%= f.iso_country_select :country, [:es] %>
      </p>
    </div>

  </div>
