<%= error_messages_for 'company' %>
<%= javascript_include_tag 'company', :plugin => 'haltr' %>

<div class="box">
  <p><%= f.text_field :taxcode, :required => true %></p>
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_field :email, :required => true %></p>
  <p><%= f.select :currency, currency_options_for_select, :required => true %></p>
  <p><%= f.text_field :postalcode, :required => true %></p>
  <p><%= f.label_for_field :country, :required => true %><%= f.iso_country_select :country, [:es] %></p>
  <p><%= f.text_field :province %></p>
  <p><%= f.text_field :city %></p>
  <p><%= f.text_field :address %></p>
  <p><%= f.text_field :website %></p>
  <% if @company.invoice_format.nil? or ExportChannels.for_select(@project).collect {|v| v.last }.include? @company.invoice_format -%>
    <p><%= f.select :invoice_format, ExportChannels.for_select(@project) %></p>
  <% else -%>
    <p><%= f.select :invoice_format, ExportChannels.for_select(@project) %> <%= I18n.t(@company.invoice_format)%></p>
  <% end -%>
  <p>
  <%= f.label_for_field "company_public" %>
  <%= f.radio_button :public, :public %>      <%=l(:public)%>&nbsp;&nbsp;&nbsp;
  <%= f.radio_button :public, :semipublic %>  <%=l(:semipublic)%>&nbsp;&nbsp;&nbsp;
  <%= f.radio_button :public, :private %>     <%=l(:private)%>
  </p>
  <br />
  <hr />
  <br />
  <p style="padding-left: 20px;"><%= I18n.t :private_fields_info %>:</p>
  <p><%= f.text_field :bank_account, :maxlength => 20, :size => 30 %></p>
  <p><%= f.text_field :iban, :size => 30 %></p>
  <p><%= f.text_field :bic, :size => 30 %></p>

  <div id="taxes">
    <p style="padding-left: 20px;"><%= I18n.t :label_tax_plural %>:</p>
    (<%= l(:info_default_taxes) %>)
    <p style="font-weight:bold;">
    <span class="invoiceLineHeader" style="width: 80px;"><%= l(:field_name) %></span>
    </p>
    <% f.fields_for :taxes do |tax_form| %>
      <%= render :partial => 'companies/tax', :locals => { :f => tax_form } %>
    <% end %>
  </div>
  <p><%= add_tax_link(f) %></p>

  <p><%=label_tag('attachments[1][file]', l(:logo))%><%= file_field_tag 'attachments[1][file]', :size => 30, :id => nil -%></p>
<% if @company.attachments.size > 0 -%>
  <p><%= image_tag "/attachments/#{@company.attachments.first.id}/#{@company.attachments.first.filename}" -%></p>
<% end -%>
</div>

