<%= error_messages_for 'company' %>

<div class="box">
<p><%= f.text_field :name %></p>
<p><%= f.text_field :taxid %></p>
<p><%= f.text_field :withholding_tax_name %></p>
<p><%= f.text_field :withholding_tax_percent %></p>
<p><%= f.text_field :address %></p>
<p><%= f.text_field :locality %></p>
<p><%= f.text_field :postal_code %></p>
<p><%= f.text_field :region %></p>
<p><%= f.text_field :website %></p>
<p><%= f.text_field :email %></p>
<p><%= f.text_field :bank_account %></p>
<p><%= f.text_field :logo_url %></p>
</div>

