<%= error_messages_for 'company' %>

<div class="box">
<p><%= f.text_field :name %></p>
<p><%= f.text_field :taxcode %></p>
<p><%= f.text_field :withholding_tax_name %></p>
<p><%= f.text_field :withholding_tax_percent %></p>
<p><%= f.text_field :address %></p>
<p><%= f.text_field :city %></p>
<p><%= f.text_field :postalcode %></p>
<p><%= f.text_field :province %></p>
<p><%= f.text_field :countrycode %></p>
<p><%= f.text_field :website %></p>
<p><%= f.text_field :email %></p>
<p><%= f.text_field :bank_account, :maxlength => 20, :size => 30 %></p>
<p><%= f.text_field :currency %></p>
<p><%=label_tag('attachments[1][file]', l(:logo))%><%= file_field_tag 'attachments[1][file]', :size => 30, :id => nil -%></p>
<% if @company.attachments.size > 0 -%>
  <p><%= image_tag "/attachments/#{@company.attachments.first.id}/#{@company.attachments.first.filename}" -%></p>
<% end -%>
</div>

