<div class="tabular box">

  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_field :taxcode, :required => true %>
    <%= call_hook(:company_form_taxcode) %>
    </p>
    <p class="col span-1-de-2">
    <%= f.label_for_field :name, :label => l('name_or_company') %>
    <%= f.text_field :name, :required => true, :no_label => true %>
      <p style="float: right;"><%= check_box(:company, :persontype, {:no_label=>true}, 'F', 'J') %> <%= l(:self_employed) %></p>
    </p>
  </div>
  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_field :email, :required => true %>
    </p>
    <p class="col span-1-de-2">
    <%= f.text_field :phone, label: l(:label_phone) %>
    </p>
  </div>
  <div class="seccio grup">
    <p class="col span-2-de-2">
    <%= f.text_field :address %>
    </p>
  </div>
  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_field :city %>
    </p>
    <p class="col span-1-de-2">
    <%= f.text_field :postalcode, :required => true %>
    </p>
  </div>
  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_field :province %>
    </p>
    <p class="col span-1-de-2">
    <%= f.label_for_field :country, :required => true %><%= f.iso_country_select :country, [:es] %>
    </p>
  </div>
  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_field :website %>
    </p>
    <p class="col span-1-de-2">
    <% if @company.invoice_format.nil? or ExportChannels.for_select(@project).collect {|v| v.last }.include? @company.invoice_format -%>
      <%= f.select :invoice_format, ExportChannels.for_select(@project) %><%= help :help_invoice_format %>
    <% else -%>
      <%= f.select :invoice_format, ExportChannels.for_select(@project) %> <%= I18n.t(@company.invoice_format)%><%= help :help_invoice_format %>
    <% end -%>
    </p>
  </div>
  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.select :currency, currency_options_for_select, :required => true %>
    </p>
    <p class="col span-1-de-2">
    <%=label_tag('attachments[1][file]', l(:logo))%>
    <%= file_field_tag 'attachments[1][file]', :size=>30, :id=>'logo', :accept=>'image/png,image/gif,image/jpeg' -%>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-2">
    <%= f.text_field :company_identifier %>
    </p>
    <p class="col span-1-de-2" style="text-align: center;">
    <% if @company.attachments.size > 0 -%>
      <%= image_tag "/attachments/#{@company.attachments.first.id}/#{@company.attachments.first.filename}" -%>
    <% end -%>
    </p>
  </div>

  <fieldset class="tabular box">
    <legend><%=l(:label_tax_plural)%></legend>
    <div class="seccio grup">
      <div class="col span-2-de-2">
        <p><%= l(:info_default_taxes) %></p>
      </div>
    </div>
    <div class="seccio grup">
      <table id="taxes" <%= @company.country == 'es' ? "data-taxes='#{Tax::SPAIN_TAXCODES.keys}'".html_safe : "data-taxes='[]'".html_safe %>>
        <tr>
          <th class="tax_name"><%= l(:field_name) %></th>
          <th class="tax_percent">%</th>
          <th class="tax_default"><%= l(:default) %></th>
          <th class="tax_category"><%= l(:field_category) %></th>
          <th class="tax_remove"></th>
          <th class="tax_exempt"><%= l(:field_comment) %></th>
        </tr>
        <%= f.fields_for :taxes do |tax_form| %>
          <%= render :partial => 'companies/tax_fields', :locals => { :f => tax_form } %>
        <% end %>
      </table>
    </div>
    <div class="seccio grup">
      <p class="col span-2-de-2">
      <!-- cocoon -->
      <span class="mes">
        <%= link_to_add_association l(:button_add_tax), f, :taxes, 'data-association-insertion-node' => '#taxes', 'data-association-insertion-method' => 'append' %>
      </span>
      </p>
    </div>
  </fieldset>

  <fieldset class="tabular box">
    <legend><%=l(:label_rounding_plural)%></legend>
    <div class="seccio grup">
      <p class="col span-1-de-3">
      <%= f.select :rounding_method, Company.rounding_methods %>
      </p>
      <p class="col span-1-de-3" style="float: left; clear: left; margin-left: 0px;">
      <span>&nbsp;<%= check_box(:company, :round_before_sum, {:no_label=>true}) %> <%= l(:round_before_sum) %></span>
      </p>
    </div>
  </fieldset>

  <fieldset>
    <legend><%=l(:field_company_public)%></legend>
    <div class="seccio grup">
      <p class="col span-1-de-3">
      <label><%= f.radio_button :public, :public %> <%= help :help_public_profile %> <%=l(:public)%></label>
      </p>
      <p class="col span-1-de-3">
      <label><%= f.radio_button :public, :semipublic %> <%= help :help_semipublic_profile %> <%=l(:semipublic)%></label>
      </p>
      <p class="col span-1-de-3">
      <label><%= f.radio_button :public, :private %> <%= help :help_private_profile %> <%=l(:private)%></label>
      </p>
      <p><%= l(:profile_recomended) %></p>
    </div>
  </fieldset>

  <%= call_hook(:company_form_end) %>

</div>
