<% taxid = f.object_name.split("[").last.gsub(/\]/,'') -%>

<tr id="tax_<%=taxid%>" class="tax">

  <td>
    <%= f.text_field :name, :style => "width: 78px;", :no_label => true %>
  </td>

  <td>
    <span id="span_percent_<%=taxid%>" style="display: <%=f.object.exempt? ? "none" : "inline"%>;">
      <%= f.text_field :percent,
        :style => "width: 48px; text-align: right;",
        :no_label => true,
        :readonly => f.object.zero? %> %</span>
  </td>

  <td style="text-align:center;">
    <%= f.check_box :default, :no_label => true %>
  </td>

  <td width="120px">
    <%= f.select :category,
      Tax.categories.collect {|name,code| [l("tax_#{name}"), code] },
      {:no_label => true},
      :onchange => "javascript: category_changed(#{taxid});" %>
  </td>

  <td>
    <%= link_to_function(image_tag("false.png"),"rm_tax(#{taxid});") %>
  </td>

  <td>
    <span id="span_comment_<%=taxid%>" style="display: <%=f.object.exempt? ? "inline" : "none"%>;">
      <%= l(:field_comment) %> <%= f.text_field :comment, :no_label => true %>
    </span>
  </td>

</tr>


<%= f.object.new_record? ? "" : f.hidden_field(:_destroy, {:value=>0, :id=>"destroy_tax_#{taxid}"}) %>
