<tr class="nested-fields">

  <td class="tax_name">
    <%= f.text_field :name, required: true, no_label: true, class: 'tax_name' %>
  </td>

  <td class="tax_percent">
    <span class="span_percent" style="display: <%=f.object.exempt? ? "none" : "inline"%>;">
      <%= f.text_field :percent,
        :no_label => true,
        :readonly => f.object.zero? %>
    </span>
  </td>

  <td class="tax_default">
    <%= f.check_box :default, :no_label => true %>
  </td>

  <td class="tax_category">
    <%= f.select :category,
      Tax.categories.collect {|code| [l("tax_#{code}"), code] },
      {:no_label => true},
      :class => 'tax_category'  %>
  </td>

  <td class="tax_remove">
    <!-- cocoon -->
    <%= link_to_remove_association image_tag('false.png'), f, :class=>'eliminar' %>
  </td>

  <td class="tax_exempt">
    <span class="span_comment" style="display: <%=f.object.exempt? ? "inline" : "none"%>;">
      <%= f.text_field :comment, :no_label => true %>
    </span>
  </td>

</tr>
