<%= error_messages_for 'company' %>
<%= javascript_include_tag 'company', :plugin => 'haltr' %>

<!--formulari-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <%= labelled_form_for :company, @company,
      :url => { :action => 'update', :id => @company },
      :html => {:method => :put, :multipart => true, :class => 'formee' } do |f| %>
      <%= begin
            render(:partial=>@partial, :locals=>{ :f=>f })
          rescue ActionView::MissingTemplate
            render(:partial=>'my_company', :locals=>{ :f=>f })
          end
        %>
      <%= hidden_field_tag :partial, @partial %>
      <%= submit_tag l(:button_save) %>
    <% end %>
  </div>
</div>
<!--final formulari-->

<% html_title(l(:label_my_company)) -%>

<% content_for :sidebar do %>
  <%= render_menu :my_company_menu, @project %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "graella", :plugin => "haltr"%>
<% end %>
