<%= error_messages_for 'company' %>
<%= javascript_include_tag 'company?v=2', :plugin => 'haltr' %>

<!--formulari-->
<%= form_for @company,
  :url => { :action => 'update', :id => @company },
  :html => {:method => :put, :multipart => true } do |f| %>
  <h2><%= l :label_my_company %></h2>

  <%= call_hook(:company_form_taxcode) %>

  <div class="row">

    <div class="col-xs-2 col-no-pad-right">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#company-data" data-toggle="tab"><%= l :label_fiscal_data %></a></li>
        <li><a href="#company-taxes" data-toggle="tab"><%= l :label_tax_plural %></a></li>
        <li><a href="#company-bank" data-toggle="tab"><%= l :bank_info %></a></li>
        <li><a href="#company-connections" data-toggle="tab"><%= l :label_connections %></a></li>
        <li><a href="#company-customization" data-toggle="tab"><%= l :label_customization %></a></li>
        <li><a href="#company-users" data-toggle="tab"><%= l :label_project_users %></a></li>
      </ul>
    </div>

    <div class="col-xs-10 col-no-pad-left">

      <div class="tab-content">

        <%= render(:partial=>'my_company', :locals=>{ :f=>f }) %>

        <%= hidden_field_tag :partial, @partial %>

        <div class="tab-pane-submit">
          <%= submit_tag l(:button_save), class: 'btn btn-primary' %>
        </div>

      </div>
    </div>
  </div>

<% end %>
<!--final formulari-->

<% html_title(l(:label_my_company)) -%>

<% content_for :sidebar do %>
  <%= render_menu :my_company_menu, @project %>
<% end %>

<%= call_hook(:company_form_end) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "graella?v=2", :plugin => "haltr"%>
  <%= javascript_include_tag('iban?v=2',:plugin=>'haltr')%>
  <%= stylesheet_link_tag 'bootstrap.vertical-tabs?v=2', plugin: 'haltr' %>
<% end %>
