<%= error_messages_for 'company' %>
<%= javascript_include_tag 'company', :plugin => 'haltr' %>

<!--formulari-->
<%= form_for @company,
  :url => { :action => 'update', :id => @company },
  :html => {:method => :put, :multipart => true } do |f| %>
  <h2><%= l :label_my_company %></h2>

  <%= begin
        render(:partial=>@partial, :locals=>{ :f=>f })
      rescue ActionView::MissingTemplate
        render(:partial=>'my_company', :locals=>{ :f=>f })
      end
    %>

  <%= hidden_field_tag :partial, @partial %>
  <%= submit_tag l(:button_save) %>
<% end %>
<!--final formulari-->

<% html_title(l(:label_my_company)) -%>

<% content_for :sidebar do %>
  <%= render_menu :my_company_menu, @project %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "graella", :plugin => "haltr"%>
<% end %>
