<%= error_messages_for 'invoice' %>

<fieldset class="tabular box">
  <legend><%=l(:invoice_data)%></legend>

  <div class="seccio grup">
    <p class="col span-2-de-2" id="client_select">
      <%= render :partial=>'clients', :locals=>{:selected=>@invoice.client_id} %>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-3">
      <%= f.text_field :date, :size => 10 %><%= calendar_for('invoice_date') %>
    </p>
    <p class="col span-1-de-3">
      <%= f.text_field :number, :size => 10 %> <span class="text"><%= "#{l(:label_last_invoice_number)}: #{IssuedInvoice.last_number(@project)}" if IssuedInvoice.all.any?%></span>
    </p>
    <p class="col span-1-de-3">
      <%= f.text_field :ponumber %>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-1-de-3" id="currency_select">
      <%= render :partial=>'currency', :locals => {:selected=>@invoice.currency} %>
    </p>
    <p class="col span-1-de-3">
      <%= f.text_field :discount_text %>
    </p>
    <p class="col span-1-de-3">
      <%= f.text_field :discount_percent %>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-2-de-2">
      <%= f.text_area :extra_info, :rows=>3 %>
    </p>
  </div>

</fieldset>

<fieldset class="tabular box">
  <legend><%=l(:concept)%></legend>
  <table class="formee" id="invoice_lines" data-tax-names="<%= @project.company.tax_names.join(' ') %>">
    <thead>
      <tr>
        <th><%=l(:field_quantity)%></th>
        <th></th>
        <th><%=l(:field_description)%></th>
        <th><%=l(:field_price)%></th>
        <% @invoice.taxes_hash.keys.sort.each do |name| -%>
          <th id="<%=name%>_title" style="<%= 'display: none;' unless @invoice.tax_per_line?(name)%>">
            <%= name %>
          </th>
        <% end -%>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :invoice_lines do |line_form| %>
        <%=  render :partial => 'invoice_line_fields', :locals => { :f => line_form } %>
      <% end %>
    </tbody>
  </table>
  <div class="seccio grup">
    <p class="col span-2-de-2">
      <!-- cocoon -->
      <span class='mes'><%= link_to_add_association l(:button_add_invoice_line), f, :invoice_lines, 'data-association-insertion-node' => '#invoice_lines', 'data-association-insertion-method' => 'append' %></span>
    </p>
  </div>

  <div class="seccio grup">
    <p class="col span-2-de-2">
    <%= f.text_field :import, :value => f.object.import.to_s.gsub(/\.0+$/,'') %>
    </p>
  </div>

</fieldset>
