<label>
<%= l :refuse_notification_to,
  mail: (@invoice.client and @invoice.client.email.present?) ?
  @invoice.client.email : "(#{I18n.t(:client_without_email)})" %>
</label>
<%= form_tag mark_refused_path(@invoice) do %>

  <%= I18n.t(:received_invoice_refused, num: @invoice.number, company: @invoice.company.name) %>

  <%= text_area_tag 'reason', "", rows: 4, class: 'form-control' %>

  <hr />

  <%= render partial: "mail_notifier/invoice", locals: { invoice: @invoice } %>

  <div class="text-right">
    <% if @invoice.client and @invoice.client.email.present? -%>
      <%= button_tag(name: 'commit', value: 'refuse_with_mail', class: 'btn btn-primary') do %>
        <%= I18n.t(:refuse_and_mail) %>
      <% end -%>
    <% end -%>

    <%= button_tag name: 'commit', value: 'refuse', class: 'btn btn-primary' do %>
      <%= I18n.t(:refuse_without_mail) %>
    <% end -%>
    <%= button_tag I18n.t(:cancel), onclick: "$('#invoice-refuse').hide(); return false;", class: 'btn btn-default' %>
  </div>
<% end -%>
