<div class="nested-fields">
  <table class="formee invoice_lines">
    <thead>
      <tr>
        <th><%= l(:field_price) %></th>
        <th><%= l(:tag_tax_percentage) %></th>
        <th><%= l(:tag_tax_wh_percentage) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.text_field :price, value: f.object.price.to_s.gsub(/\.0+$/,''), style: 'width: 78px;', no_label: true %></td>
        <td><%= f.text_field :tax_percent, no_label: true, style: 'width: 78px;' %></td>
        <td><%= f.text_field :tax_wh_percent, no_label: true, style: 'width: 78px;' %></td>
        <td>
          <!-- cocoon -->
          <%= link_to_remove_association image_tag('false.png'), f, :class=>'eliminar' %>
        </td>
      </tr>
    </tbody>
  </table>

  <hr style="margin: 15px 0"/>
</div>
