<div id="invoice_img" class="container1">
<div class="container2">

  <div class="colu2">
    <%= render partial: 'metadata' %>
  </div>

  <div class="colu1" style="width: <%=@invoice.invoice_img.width%>px; background-image: url('<%=project_invoice_img_path(@invoice.invoice_img, project_id: @project)%>')">
    <% @invoice.invoice_img.tokens && @invoice.invoice_img.useful_tokens.each do |number,attributes| %>
      <div class="rectangle-txt-edit" style="left:<%=attributes[:x0]%>px; top:<%=attributes[:y0]%>px; width:<%=attributes[:x1].to_i-attributes[:x0].to_i%>px; height:<%=attributes[:y1].to_i-attributes[:y0].to_i%>px; font-size: <%=attributes[:y1].to_i-attributes[:y0].to_i-1%>px;"><span class="hascontextmenu" id="invoice-<%=number%>" style="line-height: <%=attributes[:y1].to_i-attributes[:y0].to_i-1%>px;"><%=h attributes[:text]%></span></div>
    <% end %>
    <% @invoice.invoice_img.tags && @invoice.invoice_img.tags.each do |tag,number| %>
      <% attributes = @invoice.invoice_img.tokens[number] -%>
      <div id="<%=number%>" class="rectangle-txt" data-text="<%=h attributes[:text]%>" style="left:<%=attributes[:x0]%>px; top:<%=attributes[:y0]%>px; width:<%=attributes[:x1].to_i-attributes[:x0].to_i%>px; height:<%=attributes[:y1].to_i-attributes[:y0].to_i%>px;" data-tag="<%=tag.to_s%>"></div>
    <% end %>
    <div style="height: <%=@invoice.invoice_img.height%>px;">
    </div>
  </div>

</div>
</div>

<%= context_menu invoices_context_menu_path %>
