<div id="invoice_img" class="container1">
<div class="container2">

  <div class="colu1" style="background-image: url('<%=project_invoice_img_path(@invoice.invoice_img, project_id: @project)%>')">
    <% @invoice.invoice_img.tokens && @invoice.invoice_img.tokens.each do |number,attributes| %>
      <div id="<%=number%>" class="rectangle-txt" data-text="<%=h attributes[:text]%>" style="left:<%=attributes[:x0]%>px; top:<%=attributes[:y0]%>px; width:<%=attributes[:x1].to_i-attributes[:x0].to_i%>px; height:<%=attributes[:y1].to_i-attributes[:y0].to_i%>px;" data-tag="?"></div>
    <% end %>
    <% @invoice.invoice_img.tags && @invoice.invoice_img.tags.each do |tag,number| %>
      <% attributes = @invoice.invoice_img.tokens[number] -%>
      <div id="<%=number%>" class="rectangle-txt" data-text="<%=h attributes[:text]%>" style="left:<%=attributes[:x0]%>px; top:<%=attributes[:y0]%>px; width:<%=attributes[:x1].to_i-attributes[:x0].to_i%>px; height:<%=attributes[:y1].to_i-attributes[:y0].to_i%>px;" data-tag="<%=tag.to_s%>"></div>
    <% end %>
    <div style="height: 1000px;">
    </div>
  </div>

  <div class="colu2">
    <table class="list received_show">
      <thead></thead>
      <tbody>
        <% %w(number issue_date client).each do |tag| %>
          <tr class="<%= cycle("odd", "even") %>" >
            <td><%=tag%></td>
            <td>?</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
</div>

