<% if @invoice.has_original? -%>
  <li><%= link_to_if_authorized l(:download_original), {:controller=>'received', :action=>'original', :id=>@invoice}, :class=>'icon-haltr-save' %></li>
<% end -%>

<li>
  <a href="#"><%= l(:more_options) %></a>
  <ul>
    <li class="submenu"><a href="#"><%= l(:manual_mark_as, state: '') %></a>
      <ul>
        <% unless @invoice.accepted? -%>
          <li><%= link_to_function(I18n.t(:state_accepted), "show_accepted_form();") if authorize_for(:received || :received, :mark_accepted) %></li>
        <% end -%>
        <% unless @invoice.refused? -%>
          <li><%= link_to_function(I18n.t(:state_refused),  "show_refused_form();") if authorize_for(:received || :received, :mark_refused) %></li>
        <% end -%>
        <% if @invoice.accepted? or @invoice.error? -%>
          <li><%=link_to(l("state_paid"), mark_as_path(@invoice, state: :paid), class: "icon-haltr-mark-paid")%></li>
        <% end -%>
      </ul>
    </li>

    <% unless @invoice.has_original? and @invoice.invoice_format == 'pdf' -%>
      <li><%= link_to l(:download_as_pdf), {:action=>'show', :id=>@invoice, :format => 'pdf'}, :class=>'icon-haltr-save' %></li>
    <% end -%>
  </ul>
</li>
