<% unless @invoice.accepted? -%>
  <li><%= link_to_function(I18n.t(:accept_received), "show_accepted_form();", class: "icon-fa icon-fa-check-circle") if authorize_for(:received || :received, :mark_accepted) %></li>
<% end -%>

<% unless @invoice.refused? -%>
  <li><%= link_to_function(I18n.t(:refuse_received),  "show_refused_form();", class: 'icon-fa icon-fa-times-circle') if authorize_for(:received || :received, :mark_refused) %></li>
<% end -%>

<% if @invoice.accepted? or @invoice.error? -%>
  <li><%=link_to(l(:pay_received), mark_as_path(@invoice, state: :paid), method: 'post', class: "icon-fa icon-fa-check-circle")%></li>
<% end -%>

<% if @invoice.has_original? -%>
  <li><%= link_to_if_authorized l(:download_original), {:controller=>'received', :action=>'original', :id=>@invoice}, class: 'icon-fa icon-fa-download' %></li>
<% end -%>

<% unless @invoice.has_original? and @invoice.invoice_format == 'pdf' -%>
  <li><%= link_to l(:download_as_pdf), {:action=>'show', :id=>@invoice, :format => 'pdf'}, :class=>'icon-haltr-save' %></li>
<% end -%>
