<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <% if User.current.allowed_to?(:import_invoices, @project) -%>
        <li>
        <%= link_to l(:label_import), project_received_import_path(@project) -%>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<!--filtres-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <div class="filtres">
      <div class="titularAcc">
        <%= l(:label_filter_plural) %>
      </div>
      <div class="contingutAcc">
        <%= form_tag({:id=>@project}, :method => :get, :class => 'formee') do %>
          <fieldset>
            <legend><%= l(:label_search) %></legend>

            <div id="query_form_content" class="hide-when-print seccio grup">
              <div class="col span-2-de-2">
                <label class="inline"><%= check_box_tag("state_all", "1", params["state_all"]) %> <%=l("label_all_invoices")%></label>
                <% %w(new sending sent error closed discarded).each do |state| -%>
                  <label class="inline"><%= check_box_tag(state, "1", params[state]) %> <%=l("state_#{state}_plural")%></label>
                <% end -%>
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-1-de-3">
                <label for="date_from"><%=l(:field_date)%></label>
                <%= text_field_tag :date_from, (params[:date_from].nil? ? Date.new(Date.today.year) : params[:date_from]), :size => 10, :style => "width: 90%;" %><%= calendar_for('date_from') %>
              </div>
              <div class="col span-1-de-3">
                <label for="date_to"><%=l(:label_to)%></label>
                <%= text_field_tag :date_to, (params[:date_to].nil? ? Date.today : params[:date_to]), :size => 10, :style => "width: 90%;" %><%= calendar_for('date_to') %>
              </div>
              <div class="col span-1-de-3">
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-1-de-3">
                <label for="due_date_from"><%=l(:field_due_date)%></label>
                <%= text_field_tag :due_date_from, params[:due_date_from], :size => 10, :style => "width: 90%;" %><%= calendar_for('due_date_from') %>
              </div>
              <div class="col span-1-de-3">
                <label for="due_date_to"><%=l(:label_to)%></label>
                <%= text_field_tag :due_date_to, params[:due_date_to], :size => 10, :style => "width: 90%;" %><%= calendar_for('due_date_to') %>
              </div>
              <div class="col span-1-de-3">
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-1-de-3">
                <label for="taxcode"><%= l(:field_taxcode) %></label>
                <%= text_field_tag :taxcode, params[:taxcode] %>
              </div>
              <div class="col span-1-de-3">
                <label for="name"><%= l(:field_name) %></label>
                <%= text_field_tag :name, params[:name] %>
              </div>
              <div class="col span-1-de-3">
                <label for="number"><%= l(:field_number) %></label>
                <%= text_field_tag :number, params[:number] %>
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-2-de-3">
                <label for="_client_id"><%= l(:label_company) %></label>
                <%= collection_select(nil, :client_id, Client.find(:all, :order => 'name', :conditions => ["project_id = ?", @project]), :id, :name, {:include_blank => true, :selected => @client_id}) %>
              </div>
            </div>

            <div class="seccio grup">
              <div class="col span-2-de-2">
                <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--final filtres-->

<!--taula factures-->
<%= form_tag({}) do -%>
  <%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
  <div class="seccio grup">
    <div class="col span-2-de-2">
      <table class="taula-1 list invoices">
        <thead>
          <th></th>
          <%= sort_header_tag('created_at', :caption => l(:field_received_at)) %>
          <%= sort_header_tag('number', :caption => l(:field_number)) %>
          <%= sort_header_tag('date', :caption => l(:field_date)) %>
          <%= sort_header_tag('clients.name', :caption => l(:field_company)) %>
          <%= sort_header_tag('import_in_cents', :caption => l(:label_invoice_total)) %>
          <%= sort_header_tag('due_date', :caption => l(:field_due_date)) %>
          <%= sort_header_tag('format', :caption => l(:label_format)) %>
          <%= sort_header_tag('state', :caption => l(:field_state)) %>
        </thead>
        <tbody>
          <% for invoice in @invoices -%>
            <tr id="invoice-<%=invoice.id%>" class="hascontextmenu <%= cycle("odd", "even") %>">
              <td><%= check_box_tag("ids[]", invoice.id, false, :id => nil) %></td>
              <td><%=h format_date invoice.created_at.to_date %></td>
              <td><%=h link_to_if_authorized (invoice.number || "???"), {:action => 'show', :id => invoice}, {:class=> invoice.has_been_read ?  nil : 'unread'} %></td>
              <td><%=h format_date invoice.date %></td>
              <td><%=h invoice.client %></td>
              <td class='money'><%= money invoice.total %></td>
              <td<%='class="pastdue"' if invoice.past_due?%>><%=h format_date invoice.due_date %></td>
              <td><%=h invoice.invoice_format.upcase if invoice.invoice_format %></td>
              <td><%=h l("state_#{invoice.state}").capitalize %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
<% end -%>
<!--final taula factures-->



<!--paginacio-->
<div class="seccio grup paginacio pagination">
  <%= pagination_links_full @invoice_pages, @invoice_count %>
</div>

<% html_title(l(:label_invoice_plural)) -%>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>

<%= context_menu received_context_menu_path %>
