<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to_if_authorized l(:button_delete), { :action => 'destroy', :id => @invoice}, :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon icon-del' %></li>
      <%= render :partial => "#{@invoice.class.to_s.underscore}_menu" %>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<h4><%= "#{l :ReceivedInvoice} #{l :by_mail_from, :email => @invoice.from} #{l(:in_format, :f=>@invoice.invoice_format)}" %></h4>

<div id="invoice-refuse" style="display: none;">
  <%= render :partial => "invoice_refuse_form" %>
</div>
<div id="invoice-accept" style="display: none;">
  <%= render :partial => "invoice_accept_form" %>
</div>

<div id="invoice_wrapper">

  <div class="ribbon ribbon-<%= @invoice.state %>">
    <% if @invoice.is_a? InvoiceTemplate %>
      <span><%=h l("label_invoice_template") %></span>
    <% else %>
      <span><%=h l("state_#{@invoice.state}").capitalize %></span>
    <% end %>
  </div>

  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">
        <%=@out.to_html.html_safe%>
      </div>
    </div>
  </div>

  <%= render :partial => "invoices/payments" -%>
  <%= render :partial => 'events/list', locals: {events: @invoice.visible_events} %>

</div>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
  <%= javascript_include_tag 'haltr', :plugin => 'haltr' %>
<% end %>
