<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to_if_authorized l(:button_edit), { :action => 'edit', :id => @invoice }, :class => 'icon icon-edit' %></li>
      <li><%= link_to_if_authorized l(:button_delete), { :action => 'destroy', :id => @invoice}, :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon icon-del' %></li>
      <%= render :partial => "#{@invoice.class.to_s.underscore}_menu" %>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<div id="invoice-refuse" style="display: none;">
  <%= render :partial => "invoice_refuse_form" %>
</div>
<div id="invoice-accept" style="display: none;">
  <%= render :partial => "invoice_accept_form" %>
</div>


<% if @invoice.invoice_img -%>

<div id="invoice_img" class="container1">
  <div class="container2">

    <div class="colu1">
      <%= render :template => 'invoice_imgs/show' %>
    </div>

    <div class="colu2">

<% end -%>

<div id="invoice_wrapper">
  <div class="ribbon ribbon-<%= @invoice.state %>">
    <span><%=h l("state_#{@invoice.state}").capitalize %></span>
  </div>
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">

      <%= render :partial=>'invoices/invoice' %>

      </div>
    </div>
  </div>
</div>

<% if @invoice.invoice_img -%>
    </div>

  </div>
</div>
<% end -%>


<%= render :partial => 'events/list', locals: {events: @invoice.visible_events} %>
<%= render :partial => 'invoices/issued_invoice_list_other' if @invoice.is_a? IssuedInvoice %>
<%= render :partial => 'invoices/channel_links' if (Rails.env == "development" or User.current.admin?) and @invoice.is_a? IssuedInvoice %>

<% if @invoice.is_a? InvoiceTemplate and @invoices_generated.any? -%>
  <h3><%= l(:label_generated_invoices)%></h3>
  <p>
  <% @invoices_generated.each do |invoice| -%>
    <%=link_to_if_authorized invoice.number, :controller => 'invoices', :action => 'show', :id => invoice %><%= ", " unless invoice == @invoices_generated.last %>
  <% end -%>
  </p>
<% end -%>

<% content_for :sidebar do %>
  <%= render_menu :invoices_menu, @project %>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
<% end %>
