<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to_if_authorized l(:button_delete), { :action => 'destroy', :id => @invoice}, :confirm=>l(:text_are_you_sure), :method=>:delete, :class=>'icon icon-del' %></li>
      <%= render :partial => "#{@invoice.class.to_s.underscore}_menu" %>
    </ul>
  </div>
</div>
<!--final menu rapid-->

<h4><%= "#{l :ReceivedInvoice} #{l :by_mail_from, :email => @invoice.from} #{l(:in_format, :f=>@invoice.invoice_format)}" %></h4>

<div id="new_client_wrapper" style="display:none;">
  <%= render :partial => 'invoices/new_client', :locals=>{:context => "new_invoice"} %>
</div>

<div id="invoice-refuse" style="display: none;">
  <%= render :partial => "invoice_refuse_form" %>
</div>
<div id="invoice-accept" style="display: none;">
  <%= render :partial => "invoice_accept_form" %>
</div>

<div id="pdfobject" style="height:500px; text-align:center;">
  <object data='<%=url_for({:controller=>'invoices', :action=>'legal', :id=>@invoice, :md5=>@invoice.events.first.md5, :disposition=>'inline'})%>#viewrect=670,900,0,0' type='application/pdf' width='100%' height='500px'>
  <p style="padding-top:150px;">
  <%= l(:no_pdf_support, :pdf => legal_path(@invoice, :md5=>@invoice.events.first.md5)).html_safe %>
  </p>
</object>
</div>

<%= render :partial => "invoices/payments" -%>

<!--formulari-->
<div class="seccio grup">
  <div class="col span-2-de-2">

    <%= labelled_form_for :invoice, @invoice, :url => { :action => 'update', :id => @invoice }, :html => {:method => :put, :class => 'tabular formee'} do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= submit_tag l(:button_save) %>
    <% end %>

  </div>
</div>
<!--final formulari-->

<%= render :partial => "invoices/events" -%>

<% content_for :sidebar do %>
    <%= render_menu :invoices_menu, @project %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
<% end %>
