<%= error_messages_for 'mandate' %>

<fieldset>
  <legend><%=l(@mandate.new_record? ? :label_mandate_new : :label_mandate)%></legend>

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <%= f.select :client_id, @project.clients.collect {|c| [c.name, c.id] } -%>
    </div>
    <div class="col span-1-de-2" style="padding-top:20px;">
      <label><%= f.radio_button :sepa_type, :b2b  %> B2B</label>
      <label><%= f.radio_button :sepa_type, :core %> CORE</label>
    </div>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-2" style="height:84px; padding-top:20px;">
      <label><%= f.radio_button :recurrent, true  %><%=l(:mandate_recurrent)%></label>
      <label><%= f.radio_button :recurrent, false %><%=l(:mandate_non_recurrent)%></label>
    </div>
    <div class="col span-1-de-2">
      <div id="div_mandate_end_date" style="<%="display:none;" unless @mandate.recurrent %>">
        <%= f.text_field :end_date, :size => 10 %><%= calendar_for('mandate_end_date') %>
      </div>
    </div>
  </div>

  <hr />
  <br />

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <% if @mandate.signed_doc -%>
        <label><%= l(:current_signed_doc) %></label>
        <p>
        <%= link_to @mandate.signed_doc_filename, project_mandate_signed_doc_path(@mandate,:project_id=>@project) %>
        <%= label_tag(:mandate_delete_signed_doc, :style=>"font-size: 12px;") do %>
          <%= f.check_box :delete_signed_doc, :no_label => true %>
          <%= l(:field_delete_signed_doc) %>
        <% end %>
        </p>
      <% end -%>
    </div>
    <div class="col span-1-de-2">
      <%= f.file_field :signed_doc -%>
    </div>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-2">
    </div>
    <div class="col span-1-de-2">
      <%= f.text_field :signature_date, :size => 10 %><%= calendar_for('mandate_signature_date') %>
    </div>
  </div>

</fieldset>

<%= javascript_include_tag 'mandates', :plugin => 'haltr' %>
