<%= error_messages_for 'payment' %>

<fieldset>
  <legend><%=l(@payment.new_record? ? :label_payment_new : :label_payment)%></legend>

  <% if @invoice -%>
    <p><%= "#{l(:label_invoice)} #{@invoice.number} - #{@invoice.client}"%></p>
  <% end -%>

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <% if @invoice -%>
        <%= f.hidden_field "invoice_id" %>
      <% else -%>
        <%= f.select :invoice_id, invoices_for_select, :include_blank => true %>
      <% end -%>
    </div>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <%= f.text_field :amount, :size => 4, :required => true %>
    </div>
    <div class="col span-1-de-2">
      <%= f.text_field :date, :size => 10, :required => true %><%= calendar_for('payment_date') %>
    </div>
  </div>

  <div class="seccio grup">
    <div class="col span-1-de-2">
      <%= f.text_field :payment_method %>
    </div>
    <div class="col span-1-de-2">
      <%= f.text_field :reference %>
    </div>
  </div>

</fieldset>
