<%= error_messages_for 'payment' %>

<div class="box">
  <h5><%= "#{l(:label_invoice)} #{@invoice.number} - #{@invoice.client}" if @invoice%></h5>
  <p><%= f.text_field :amount, :size => 4, :required => true %></p>
  <% if @invoice -%>
    <%= f.hidden_field "invoice_id" %>
  <% else -%>
    <p><%= f.select :invoice_id, invoices_for_select, :include_blank => true %></p>
  <% end -%>
  <p><%= f.text_field :date, :size => 10, :required => true %><%= calendar_for('payment_date') %></p>
  <p><%= f.text_field :payment_method %></p>
  <p><%= f.text_field :reference %></p>
</div>

