<fieldset style="padding:5px 30px;">
  <% if !@invoice.client or @invoice.client.email.blank? -%>
    <p><%= l :client_without_email %></p>
  <% else -%>
    <legend>
      <%= l (@invoice.type == "ReceivedInvoice" ? :paid_notification_to : :received_paid_notification_to),
        :mail => @invoice.client.email %>
    </legend>


<pre>
<%= l((@invoice.type == "ReceivedInvoice" ? :received_invoice_paid : :issued_invoice_paid), :num => @invoice.number, :company => @invoice.company.name) %>

<%= text_area_tag 'reason', "", :rows => 4, :cols => 40 %>

----------------------------------------

<%= render :partial => "mail_notifier/invoice", :locals => { :invoice => @invoice } %>
</pre>

    <%= submit_tag l(:save_and_mail), :name => 'save_and_mail' %>

  <% end -%>

</fieldset>
