<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to l("label_payment_new"), new_project_payment_path(@project), :class => 'icon icon-add' %></li>
    </ul>
  </div>
</div>

<!--filtres-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <div class="filtres">
      <div class="titularAcc">
        <%= l(:label_filter_plural) %>
      </div>
      <div class="contingutAcc">
        <form class="formee">
          <fieldset>
            <legend><%=l(:label_search)%></legend>

            <%= form_tag({}, :method => :get) do %>
              <div class="seccio grup">
                <div class="col span-1-de-2">
                  <%= text_field_tag 'name', params[:name] %>
                </div>
              </div>
              <div class="seccio grup">
                <div class="col span-2-de-2">
                  <%= submit_tag l(:button_apply), :name => nil %>
                </div>
              </div>
            <% end %>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!--final filtres-->

<!--taula-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <table class="taula-1 list">
      <thead>
        <tr>
          <%= sort_header_tag('payments.date', :caption => l(:field_date)) %>
          <%= sort_header_tag('amount_in_cents', :caption => l(:field_amount)) %>
          <%= content_tag('th', l(:field_payment_method)) %>
          <%= content_tag('th', l(:field_reference)) %>
          <%= sort_header_tag('invoices.number', :caption => l(:field_invoice)) %>
          <th><%= l(:button_edit) %></th>
          <th><%= l(:button_delete) %></th>
        </tr>
      </thead>
      <tbody>
        <% for payment in @payments -%>
          <tr class="user <%= cycle("odd", "even") %>" />
            <td><%=h format_date payment.date %></td>
            <td class="money" style="color: <%=payment.invoice.is_a?(IssuedInvoice) ? "green" : "red" %>"><%= money(payment.amount) %></td>
            <td><%=h(truncate(payment.payment_method,:length=>20)) %></td>
            <td><%=h(truncate(payment.reference,:length=>30)) %></td>
            <td><%=link_to(h(payment.invoice.number), invoice_path(payment.invoice)) unless payment.invoice.nil? %></td>
            <td><%= link_to l(:button_edit), edit_payment_path(payment), :class => 'icon icon-edit editar' %></td>
            <td><%= link_to l(:button_delete), payment_path(payment), :method=>:delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del eliminar' %></td>
          </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--final taula-->

<!--paginacio-->
<div class="seccio grup paginacio pagination">
  <%= pagination_links_full @payment_pages, @payment_count, {:per_page_links=>false} %>
</div>
<!--final paginacio-->

<% html_title(l(:label_payment_plural)) -%>

<% content_for :sidebar do %>
    <%= render_menu :payments_menu, @project %>
<% end %>
