<% if @charge_bank_on_due_date.size > 0 -%>
  <ul class="n19list">
    <% @charge_bank_on_due_date.each do |invoice| -%>
      <li>
      <%= invoice.due_date %> (<%= invoice.invoice_count %>) - <%= link_to_if_authorized l(:button_download), :action => 'n19', :id => invoice %> - <%= link_to_if_authorized l(:button_mark_done), {:action => 'n19_done', :id => invoice}, :confirm => l(:text_are_you_sure), :method => :post %>
      </li>
    <% end -%>
  </ul>
<% else -%>
  (0)
<% end -%>
  
<% content_for :sidebar do %>
  <%= render_menu :payments_menu, @project %>
<% end %>
