<div class="formee">
  <% if @invoices_to_pay_by_bank_info.size == 0 -%>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else -%>
    <% @invoices_to_pay_by_bank_info.each do |bank_info, invoices_by_due_date| -%>
      <h3><%=l :field_bank_account %> <%=bank_info.name%></h3>

        <table class="payment_initiation">
          <tr>
            <th><%=l(:field_due_date)%></th>
            <th>SEPA</th>
            <th>N19</th>
          </tr>
          <% invoices_by_due_date.each do |due_date, invoices_by_payment_type| -%>
            <tr>
              <td width="10%"><%=due_date%></td>
              <td width="45%">
                <table width="100%">
                <% invoices_by_payment_type.each do |payment_type, invoices| -%>
                  <% next unless payment_type =~ /^sepa/i -%>
                  <%= render partial: 'payment_initiation',
                    locals: {
                      payment_type: payment_type,
                      invoices: invoices,
                      due_date: due_date,
                      bank_info: bank_info
                    } %>
                <% end -%>
                </table>
              </td>
              <td width="45%">
                <table width="100%">
                <% invoices_by_payment_type.each do |payment_type, invoices| -%>
                  <% next unless payment_type =~ /^n19/i -%>
                  <%= render partial: 'payment_initiation',
                    locals: {
                      payment_type: payment_type,
                      invoices: invoices,
                      due_date: due_date,
                      bank_info: bank_info
                    } %>
                <% end -%>
                </table>
              </td>
            </tr>
          <% end -%>
        </table>

    <% end -%>
  <% end -%>
</div>

<% content_for :sidebar do %>
  <%= render_menu :payments_menu, @project %>
<% end %>
