<div id="invoice_preview_small_box" class="bg-white">
  <% if @invoice.number%>
    <h2 class="invoice-ID"><%=h @invoice.number %></h2>
  <% else %>
    <span class="notfound-tag">
      Invoice number not found
    </span>
  <% end %>
  <div class="vcard vendor">
    <% if invoice_img.client? %>
      <%= render partial: 'invoices/client_info' -%>
    <% else %>
      <span class="notfound-tag">
        Client not found
      </span>
    <% end %>
  </div>
  <% if @invoice.date %>
    <span class="date"><%=h l(:field_date)%> <strong><%=h format_date @invoice.date %></strong></span><br/>
  <% else %>
    <span class="notfound-tag">
      Issue date not found
    </span>
  <% end %>
  <% if @invoice.due_date %>
    <span class="invoice-terms<%=h " pastdue" if @invoice.past_due?%>"><%=h l(:field_due_date)%> <%=h format_date @invoice.due_date %></span><br/>
  <% end %>
  <% if invoice_img.lines? %>
    <table class="invoice-calculations" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr class="invoice-subtotal">
          <th><%=h l(:label_subtotal)%>:</th>
          <td><%=h money(@invoice.subtotal) %></td>
        </tr>
        <% @invoice.taxes_uniq.each do |tax| -%>
          <tr class="sales-tax">
            <th><%= h tax_name(tax) %> <%= " #{l(:over_taxable_base)} #{money(@invoice.taxable_base(tax))}" unless @invoice.tax_applies_to_all_lines?(tax) %>:</th>
            <td><%= h money(@invoice.tax_amount(tax)) %></td>
          </tr>
        <% end -%>
        <tr class="invoice-total">
          <th><%=h l(:label_invoice_total)%>:</th>
          <td><%=h money(@invoice.total) %></td>
        </tr>
        <% if @invoice.payments_on_account_in_cents.to_i != 0 -%>
          <tr>
            <th><%=h l(:field_payments_on_account) %></th>
            <td><%=h money(@invoice.payments_on_account) %></td>
          </tr>
          <tr class="invoice-total">
            <th><%=h l(:total_executable) %></th>
            <td><%=h money(@invoice.total - @invoice.payments_on_account) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% else %>
    <table class="invoice-calculations" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr class="invoice-subtotal"><td>
            <span class="notfound-tag">
              Amounts not found
            </span>
          </td></tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="metadata form-group wrapper-table bg-white">
  <%= form_tag(invoice_img_path(invoice_img), method: :put) do -%>
    <table class="table ">
      <thead>
        <tr>
          <th id="extracted"><%= l(:label_extracted) %></th>
        </tr>
      </thead>
      <tbody>
        <% invoice_img.all_possible_tags.each do |tag| %>
          <tr>
            <td>
              <%= label_tag tag, l("tag_#{tag}"), class: 'control-label' %>
              <%= text_field_tag tag, invoice_img.tagv(tag), class: 'form-control' %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th class="text-right"><%= submit_tag l(:update_invoice), class: 'btn btn-primary' %></th>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>
