<div class="metadata">
<table class="list received_show">
  <thead>
    <tr>
      <th colspan="2"><%= l(:label_received_invoice) %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td><%=h l(:field_invoice_number)%></td>
      <td><%=h format_date @invoice.date %></td>
    </tr>
    <tr>
      <td><%= l(:field_client) %></td>
      <td><%= render partial: 'client_info' if @client %></td>
    </tr>
    <tr class="odd">
      <td><%=h l(:field_date)%></td>
      <td><%=h format_date @invoice.date %></td>
    </tr>
 </tbody>
</table>
</div>

<div class="metadata">
<%= form_tag(invoice_img_path(invoice_img)) do -%>
<table class="list received_show">
  <thead>
    <tr>
      <th colspan="2"><%= l(:label_extracted) %></th>
    </tr>
  </thead>
  <tbody>
    <% invoice_img.all_possible_tags.each do |tag| %>
      <tr class="<%= cycle("odd", "even") %>" >
        <td><%=l("tag_#{tag}")%></td>
        <td><%= text_field_tag tag, invoice_img.tag(tag) %> </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"><%= submit_tag l(:update_invoice) %></th>
    </tr>
  </tfoot>
</table>
<% end %>
</div>
