<% if @project -%>
<div class="chart_invoice_status">
  <%= render :partial => 'common/chart_headers' %>

    <h3><%=l('chart_invoice_status')%></h3>
    <div class="wrapper-default">
    <%= select_tag "value", options_for_select({t(:last_year_by_month)=>"last_year_by_month",
                                                t(:last_month_by_week)=>"last_month_by_week",
                                                t(:all_by_year)=>"all_by_year",
                                                t(:all_by_month)=>"all_by_month"},
                                               User.current.pref.others[:chart_invoice_status]),
                   :data  => { :url => url_for(update_chart_preference_path(project_id: @project.id, client: @client)) },
                   :id    => 'chart_invoice_status',
                   :class => 'chart_prefs form-control form-control-auto input-sm'
    %>
    </div>

  <% currencies = @project.issued_invoices.group(:currency).count.keys -%>
  <% if haltr_projects.size > 1 -%>
    <h3><%= @project.company.name %></h3>
  <% end -%>
  <% currencies.each do |currency| -%>
    <%= column_chart project_invoice_status_chart_path(@project, currency: currency, client: @client), id: "chart_invoice_status_#{@project.identifier}_#{currency}", library: {isStacked: true, title: @client ? @client.name : nil, vAxis: {title: "#{l(:chart_invoice_status)} (#{currency})" }} %>
  <% end -%>
</div>
<% end -%>
