<% if @project -%>
  <div class="chart_events">
    <p class="pull-right"><%= link_to l(:label_any), project_events_path(project_id: @project) %></p>
    <%= render partial: 'common/chart_headers' %>
    <% old_project = @project %>
    <h3><%= l(:chart_events) %></h3>
    <div class="wrapper-default">
      <%= select_tag "value", options_for_select({ t(:label_last_changes, count: 10)=>10,
                                                   t(:label_last_changes, count: 20)=>20 },
      User.current.pref.others[:chart_events].to_i),
      data:  { url: url_for(update_chart_preference_path(project_id: @project, client_id: @client)) },
      id:    'chart_events',
      class: 'chart_prefs form-control form-control-auto input-sm'
    %>
    </div>
    <%
      num = User.current.pref.others[:chart_events].to_i
      num = 10 unless num > 0
    -%>

    <% if @client -%>
      <%
      events = @client.events.where('events.type != "HiddenEvent"').order('created_at DESC').first(num)
    -%>
      <fieldset>
        <div class="wrapper-table">
          <% if events.any? %>
            <table class="cashflow table table-striped">
              <%= render partial: 'events/list', locals: {events: events} %>
            </table>
          <% else -%>
            <p><%= l(:label_no_data) %></p>
          <% end -%>
        </div>
      </fieldset>
      <br />
    <% else -%>

    <% haltr_projects.each do |project| -%>
      <%
      events = project.events.where('events.type != "HiddenEvent"').order('created_at DESC').first(num)
      @project = project
    -%>
  <fieldset>
    <% if haltr_projects.size > 1 -%>
      <legend><%= project.company.name %></legend>
    <% end -%>
    <div class="wrapper-table">
      <% if events.any? %>
        <table class="cashflow table table-striped">
          <%= render partial: 'events/list', locals: {events: events} %>
        </table>
      <% else -%>
        <p><%= l(:label_no_data) %></p>
      <% end -%>
    </div>
  </fieldset>
  <br />
  <% end -%>
    <% end -%>

<% @project = old_project %>
  </div>
<% end -%>
