<% lineid = f.object_name.split("[").last.gsub(/\]/,'') -%>

<tr class="nested-fields">
  <td><%= f.text_field :quantity, :value => f.object.quantity.to_s.gsub(/\.0+$/,''), :style => "width: 78px;", :no_label => true %></td>
  <td><%=f.select :unit, InvoiceLine.units, {:no_label => true}, {:style => "width: 100px;"}%></td>
  <td><%=f.text_field :description, :style => "width: 288px;", :no_label => true%></td>
  <%= call_hook(:invoice_form_order_line_reference) %>
  <td><%=f.text_field :price, :value => f.object.price.to_s.gsub(/\.0+$/,''), :style => "width: 78px;", :no_label => true%></td>

<% i=0 -%>
<% @invoice.taxes_hash.keys.sort.each do |name| -%>
  <% current_tax = f.object.taxes.collect {|t| t if t.name == name }.compact.first || Tax.new(:category=>nil) %>
  <td class="tax_<%=name%>" style="<%=@invoice.tax_per_line?(name) ? "" : "display: none;"%>">
    <%= select_tag("invoice[invoice_lines_attributes][#{lineid}][taxes_attributes][#{i.to_s}][code]",
          options_for_select(tax_categories_array(@invoice,name),
          :selected => current_tax.code),
          :class => "tax tax_#{name}",
          :onchange => "tax_changed('#{name}',this.value);"
        ) %>
  <%= hidden_field_tag("invoice[invoice_lines_attributes][#{lineid}][taxes_attributes][#{i.to_s}][name]", name) %>
  <%= hidden_field_tag("invoice[invoice_lines_attributes][#{lineid}][taxes_attributes][#{i.to_s}][id]", current_tax.id) %></td>
  <% i+=1 -%>
<% end -%>

  <td>
    <!-- cocoon -->
    <%= link_to_remove_association image_tag('false.png'), f, :class=>'eliminar' %>
  </td>
</tr>
