<p><label><%=l(:b2brouter_ip)%></label><%= text_field_tag 'settings[b2brouter_ip]', @settings['b2brouter_ip'] %></p>
<p><label><%=l(:trace_url)%></label><%= text_field_tag 'settings[trace_url]', @settings['trace_url'] %></p>
<p><label><%=l(:export_channels_path)%></label><%= text_field_tag 'settings[export_channels_path]', @settings['export_channels_path'] || '/tmp' %></p>
<p><label><%=l(:issues_controller_name)%></label><%= text_field_tag 'settings[issues_controller_name]', @settings['issues_controller_name'] || 'issues' %></p>
<p><label><%=l(:hide_unauthorized)%></label><%= check_box_tag 'settings[hide_unauthorized]', 1, @settings['hide_unauthorized'] %></p>
<p><label><%=l(:default_country) %></label><%= select_tag('settings[default_country]', options_for_select(ISO::Countries::COUNTRIES.collect {|k,v| [v,k.to_s]}.sort,@settings['default_country'])) %></p>
<p><label><%=l(:default_currency) %></label><%= select_tag('settings[default_currency]', options_for_select(HaltrHelper.currency_options_for_select, @settings['default_currency'])) %></p>
<p><label><%=l(:return_path) %></label><%= text_field_tag('settings[return_path]', @settings['return_path']) %></p>
<p><label><%=l(:default_invoice_format) %></label><%= select_tag('settings[default_invoice_format]', options_for_select(ExportChannels.for_select(nil), selected: @settings['default_invoice_format'])) %></p>
<p><label><%=l(:view_invoice_requires_login) %></label><%= check_box_tag('settings[view_invoice_requires_login]', 1, @settings['view_invoice_requires_login']) %></p>
