<% if e.backtrace -%>
  <%= link_to "backtrace", "#", :onclick => "$('#backtrace#{e.id}').toggle(); return false;" %>
  <ul>
    <li id="backtrace<%= e.id %>" style="display: none;">
    <%=simple_format e.error %>
    <hr />
    <%=simple_format e.backtrace.join("\n") %>
    </li>
  </ul>
<% elsif e.error -%>
  <%= e.error %>
<% end %>
<% if e.url -%>
  <%= link_to h(e), e.url %>
<% end %>
