<div>
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_field :taxcode, :required => true %></p>
  <p><%= f.text_field :address %></p>
  <p><%= f.text_field :city %></p>
  <p><%= f.text_field :postalcode, :required => true %></p>
  <p><%= f.text_field :province %></p>
  <p><%= f.text_field :website %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.text_field :country, :required => true %></p>
  <p><%= f.text_field :currency %></p>
  <p><%= f.text_field :invoice_format %></p>
  <p><%= f.text_field :schemeid %></p>
  <p><%= f.text_field :endpointid %></p>
  <p><%= f.text_field :company_identifier %></p>
  <p><%= f.text_field :persontype %></p>
</div>
