<fieldset class="tabular box">
  <legend><%=l(:external_company)%></legend>
  <div>
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :taxcode, :required => true %></p>
    <p><%= f.text_field :address %></p>
    <p><%= f.text_field :city %></p>
    <p><%= f.text_field :postalcode, :required => true %></p>
    <p><%= f.text_field :province %></p>
    <p><%= f.text_field :website %></p>
    <p><%= f.text_field :email %></p>
    <p><%= f.label_for_field :country, :required => true %><%= f.iso_country_select :country, [:es] %></p>
    <p><%= f.select :currency, currency_options_for_select, :required => true %></p>
    <p><%= f.select :invoice_format, ExportChannels.for_select(@project) %></p>
    <p><%= f.select :language, options_for_select(valid_languages.reject {|l| !(l =~ /^[a-z][a-z][\-A-Z]{0,3}$/)}.collect {|l| [I18n.t(:general_lang_name, :locale=>l),l]}) %></p>
    <p>
    <label><%= l :visible_fields %></label>
    <% ExternalCompany::AVAILABLE_FIELDS.each do |field| -%>
      <%= f.check_box "visible_#{field}", :no_label=>true %><%= l "field_#{field}", default: field %>
    <% end -%>
    </p>
    <p>
    <label><%= l :required_fields %></label>
    <% ExternalCompany::AVAILABLE_FIELDS.each do |field| -%>
      <%= f.check_box "required_#{field}", :no_label=>true %><%= l "field_#{field}", default: field %>
    <% end -%>
    </p>
    <p><%= f.text_area :organs_gestors, :rows=>8, :cols=>100 %></p>
    <p><%= f.text_area :unitats_tramitadores, :rows=>8, :cols=>100 %></p>
    <p><%= f.text_area :oficines_comptables, :rows=>8, :cols=>100 %></p>
    <p><%= f.text_area :organs_proponents, :rows=>8, :cols=>100 %></p>
  </div>
</fieldset>

